<div id="left_side_bar_layout_one_tab_three" class="page-layout carded left-sidebar inner-scroll">

    <!-- START : SIDEBAR -->
    <fuse-sidebar class="sidebar width-x-sm" name="carded-left-sidebar-tabbed-2" position="left" lockedOpen="gt-md"
        *ngIf="!(_fullScreenService.fullScreenModeEnabled$ | async)"
        [style.height.px]="_headerService.scrollContentheight">
        <zhealthcare-demo-side-bar></zhealthcare-demo-side-bar>
    </fuse-sidebar>
    <!-- END : SIDEBAR -->

    <div class="center ml-lg-16">

        <div fxLayout="row" fxLayoutAlign="start start" fxHide.gt-md>

            <button mat-icon-button class="sidebar-toggle mr-8" (click)="toggleSidebar('carded-left-sidebar-tabbed-2')">
                <mat-icon>menu</mat-icon>
            </button>

        </div>


        <div class="content pb-16">
            <zhealthcare-demo-scroll-table [parentHeaderHeight]="(header_height$ | async)">
            </zhealthcare-demo-scroll-table>
        </div>
    </div>

</div>