:host {
  #button-toggle-example {
    .source-code {
      position: relative;
      min-height: 100px;

      code {
        background: none !important;
      }
    }

    .preview {
      min-height: 100px;

      &:last-child {
        margin-bottom: 0;
      }

      .mat-caption {
        margin-bottom: 16px;
      }
    }
  }
}
