<div class="page-layout simple tabbed" fxLayout="column">
  <div class="center pl-0 pr-0">
    <div class="gray-header">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="mr-16">
            <button
              mat-icon-button
              aria-label="Click to go back"
              class="action-icon mx-8"
              routerLink="/admin/ux/ui/exxat-sidebar"
            >
              <i aria-hidden="true" class="fa-light fa-arrow-left-long"></i>
            </button>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <fuse-theme-options [view]="'toggle'"></fuse-theme-options>
        </div>
      </div>
    </div>

    <div class="mt-16">
      <navbar></navbar>
    </div>

    <div class="mt-16">
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
