<div class="drawer-p pb-0 stepper-transparent add-form-drawer">
  <mat-horizontal-stepper #stepper class="">
    <mat-step class="stepper-inside-drawer">
      <ng-template matStepLabel tabindex="0" aria-label="step one Select Form"
        >Select Form</ng-template
      >
      <mat-card class="p-0 mt-16" tabindex="0" aria-label="this is a card">
        <header
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
        >
          <div fxLayout="row" fxLayoutAlign="start center">
            <h4
              class="primary-heading font-weight-600 text-capitalize"
              tabindex="0"
              aria-label="card heading total forms 22"
            >
              Total Forms (22)
            </h4>
          </div>
        </header>
        <div fxLayout="column" class="pt-16 pl-16 position-relative">
          <div
            class="search-wrapper search-grid hide-content-folded mb-16"
            tabindex="0"
            aria-label="searchbar"
          >
            <div
              class="search mr-16"
              fxFlex
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <mat-icon class="s-16 secondary-text">search</mat-icon>
              <input type="text" placeholder="Search" class="w-100-p" fxFlex />
            </div>
          </div>
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between start"
            class="drawer-component-scroll overflow-auto"
          >
            <div
              class="pr-16 mb-16"
              fxFlex="100"
              tabindex="0"
              aria-label="this is a clickable card"
              fxFlex.lt-md="100"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="drawer-card"
              >
                <div fxLayout="column">
                  <span
                    class="font-16 font-weight-600 overflow-ellipses pr-16 mb-12"
                    tabindex="0"
                    aria-label="CI Details"
                  >
                    CI Details
                  </span>
                  <span tabindex="0" aria-label="about CI Details">
                    About CI Details
                  </span>
                </div>
                <i
                  aria-hidden="true"
                  class="fa-solid fa-long-arrow-right icon-fill"
                  tabindex="0"
                  aria-label="right arrow icon"
                ></i>
              </div>
            </div>
            <div
              class="pr-16 mb-16"
              fxFlex="100"
              tabindex="0"
              aria-label="this is a clickable card"
              fxFlex.lt-md="100"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="drawer-card"
              >
                <div fxLayout="column">
                  <span
                    class="font-16 font-weight-600 overflow-ellipses pr-16 mb-12"
                    tabindex="0"
                    aria-label="CIET"
                  >
                    CIET
                  </span>
                  <span tabindex="0" aria-label="About CIET"> About CIET </span>
                </div>
                <i
                  aria-hidden="true"
                  class="fa-solid fa-long-arrow-right icon-fill"
                  tabindex="0"
                  aria-label="right arrow icon"
                ></i>
              </div>
            </div>
            <div
              class="pr-16 mb-16"
              fxFlex="100"
              tabindex="0"
              aria-label="this is a clickable card"
              fxFlex.lt-md="100"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="drawer-card"
              >
                <div fxLayout="column">
                  <span
                    class="font-16 font-weight-600 overflow-ellipses pr-16 mb-12"
                    tabindex="0"
                    aria-label="Preceptor Evaluation of Student (Family Medicine)"
                  >
                    Preceptor Evaluation of Student (Family Medicine)
                  </span>
                  <span
                    tabindex="0"
                    aria-label=" About Preceptor Evaluation of Student (Family Medicine)"
                  >
                    About Preceptor Evaluation of Student (Family Medicine)
                  </span>
                </div>
                <i
                  aria-hidden="true"
                  class="fa-solid fa-long-arrow-right icon-fill"
                  tabindex="0"
                  aria-label="right arrow icon"
                ></i>
              </div>
            </div>
            <div
              class="pr-16 mb-16"
              fxFlex="100"
              tabindex="0"
              aria-label="this is a clickable card"
              fxFlex.lt-md="100"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="drawer-card"
              >
                <div fxLayout="column">
                  <span
                    class="font-16 font-weight-600 overflow-ellipses pr-16 mb-12"
                    tabindex="0"
                    aria-label="Preceptor Evaluation of Student (Orthopedics)"
                  >
                    Preceptor Evaluation of Student (Orthopedics)
                  </span>
                  <span
                    tabindex="0"
                    aria-label=" About Preceptor Evaluation of Student (Orthopedics)"
                  >
                    About Preceptor Evaluation of Student (Orthopedics)
                  </span>
                </div>
                <i
                  aria-hidden="true"
                  class="fa-solid fa-long-arrow-right icon-fill"
                  tabindex="0"
                  aria-label="right arrow icon"
                ></i>
              </div>
            </div>
            <div
              class="pr-16 mb-16"
              fxFlex="100"
              tabindex="0"
              aria-label="this is a clickable card"
              fxFlex.lt-md="100"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="drawer-card"
              >
                <div fxLayout="column">
                  <span
                    class="font-16 font-weight-600 overflow-ellipses pr-16 mb-12"
                    tabindex="0"
                    aria-label="Preceptor Evaluation of Student (Orthopedics)"
                  >
                    Preceptor Evaluation of Student (Orthopedics)
                  </span>
                  <span
                    tabindex="0"
                    aria-label=" About Preceptor Evaluation of Student (Orthopedics)"
                  >
                    About Preceptor Evaluation of Student (Orthopedics)
                  </span>
                </div>
                <i
                  aria-hidden="true"
                  class="fa-solid fa-long-arrow-right icon-fill"
                  tabindex="0"
                  aria-label="right arrow icon"
                ></i>
              </div>
            </div>
            <div
              class="pr-16 mb-16"
              fxFlex="100"
              tabindex="0"
              aria-label="this is a clickable card"
              fxFlex.lt-md="100"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="drawer-card"
              >
                <div fxLayout="column">
                  <span
                    class="font-16 font-weight-600 overflow-ellipses pr-16 mb-12"
                    tabindex="0"
                    aria-label="Preceptor Evaluation of Student (Orthopedics)"
                  >
                    Preceptor Evaluation of Student (Orthopedics)
                  </span>
                  <span
                    tabindex="0"
                    aria-label=" About Preceptor Evaluation of Student (Orthopedics)"
                  >
                    About Preceptor Evaluation of Student (Orthopedics)
                  </span>
                </div>
                <i
                  aria-hidden="true"
                  class="fa-solid fa-long-arrow-right icon-fill"
                  tabindex="0"
                  aria-label="right arrow icon"
                ></i>
              </div>
            </div>
            <div
              class="pr-16 mb-16"
              fxFlex="100"
              tabindex="0"
              aria-label="this is a clickable card"
              fxFlex.lt-md="100"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="drawer-card"
              >
                <div fxLayout="column">
                  <span
                    class="font-16 font-weight-600 overflow-ellipses pr-16 mb-12"
                    tabindex="0"
                    aria-label="Preceptor Evaluation of Student (Orthopedics)"
                  >
                    Preceptor Evaluation of Student (Orthopedics)
                  </span>
                  <span
                    tabindex="0"
                    aria-label=" About Preceptor Evaluation of Student (Orthopedics)"
                  >
                    About Preceptor Evaluation of Student (Orthopedics)
                  </span>
                </div>
                <i
                  aria-hidden="true"
                  class="fa-solid fa-long-arrow-right icon-fill"
                  tabindex="0"
                  aria-label="right arrow icon"
                ></i>
              </div>
            </div>
            <div
              class="pr-16 mb-16"
              fxFlex="100"
              tabindex="0"
              aria-label="this is a clickable card"
              fxFlex.lt-md="100"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="drawer-card"
              >
                <div fxLayout="column">
                  <span
                    class="font-16 font-weight-600 overflow-ellipses pr-16 mb-12"
                    tabindex="0"
                    aria-label="Preceptor Evaluation of Student (Orthopedics)"
                  >
                    Preceptor Evaluation of Student (Orthopedics)
                  </span>
                  <span
                    tabindex="0"
                    aria-label=" About Preceptor Evaluation of Student (Orthopedics)"
                  >
                    About Preceptor Evaluation of Student (Orthopedics)
                  </span>
                </div>
                <i
                  aria-hidden="true"
                  class="fa-solid fa-long-arrow-right icon-fill"
                  tabindex="0"
                  aria-label="right arrow icon"
                ></i>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </mat-step>
    <mat-step>
      <ng-template
        matStepLabel
        tabindex="0"
        aria-label="step two configure form"
        >Configure Form</ng-template
      >
      <div
        fxLayout="row"
        fxLayoutAlign="space-between end"
        fxFlex="100"
        class="my-16"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          tabindex="0"
          aria-label="Preview CI Details"
        >
          <i aria-hidden="true" class="fa-solid fa-eye s-18 icon-fill mr-8"></i>
          <a>Preview CI Details</a>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <button
            mat-stroked-button
            color="accent"
            class="mr-16"
            matStepperPrevious
          >
            Back
          </button>
          <button mat-raised-button color="accent">Save</button>
        </div>
      </div>
      <div>
        <mat-card class="p-0 mt-16" tabindex="0" aria-label="this is a card">
          <header
            fxLayout="row"
            fxLayoutAlign="space-between center"
            class="card-header-title card-header-border-bottom py-8 px-16"
          >
            <div fxLayout="row" fxLayoutAlign="start center">
              <h4
                class="primary-heading font-weight-600 text-capitalize"
                tabindex="0"
                aria-label="card heading CI Details"
              >
                CI Details
              </h4>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="end center"
              tabindex="0"
              aria-label="activate icon"
            >
              <span>Activate</span>
              <i
                aria-hidden="true"
                class="fa-solid fa-toggle-on icon-fill ml-8"
              ></i>
            </div>
          </header>
          <div
            fxLayout="column"
            class="p-16 drawer-component-scroll overflow-auto"
          >
            <h4 class="pb-16" tabindex="0" aria-label="Scoring">Scoring</h4>
            <div fxLayout="row wrap">
              <div
                fxLayout="column"
                fxFlex.gt-sm="40"
                fxFlex="100"
                class="border-right pr-24 form-field-zero-spacing mb-16"
              >
                <mat-form-field appearance="fill" fxFlex="100" class="mb-16">
                  <mat-label>Maximum Score</mat-label>
                  <input matInput formControlName="maxScore" />
                </mat-form-field>
                <mat-form-field appearance="fill" fxFlex="100">
                  <mat-label>Minimum Score</mat-label>
                  <input matInput formControlName="minScore" />
                </mat-form-field>
              </div>
              <div fxLayout="column" class="ml-md-16 mb-small-16">
                <span class="font-weight-600" tabindex="0" aria-label="Note"
                  >Note:</span
                >
                <span
                  class="secondary-text"
                  tabindex="0"
                  aria-label="“0” value  (Maximun score and Minimun Score) for non scoring form"
                  >“0” value (Maximun score and Minimun Score) for non scoring
                  form</span
                >
              </div>
            </div>
            <div class="">
              <mat-divider class="w-100-p position-inherit"></mat-divider>
            </div>
            <h4 class="pt-16" tabindex="0" aria-label="Grading">Grading</h4>
            <div fxLayout="column" class="pt-16">
              <span
                class="pb-8"
                tabindex="0"
                aria-label="Does this log contribute to the student's final score?"
                >Does this log contribute to the student's final score?</span
              >
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button class="mr-8" value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              class="pt-16 form-field-zero-spacing"
            >
              <span class="pr-32" tabindex="0" aria-label="Weightage"
                >Weightage</span
              >
              <mat-form-field appearance="fill" fxFlex.gt-md="15" fxFlex="45">
                <mat-label>Enter Numeric Value</mat-label>
                <input matInput formControlName="numValue" />
              </mat-form-field>
              <span class="pl-8 font-16">%</span>
            </div>
            <div fxLayout="column" class="pt-16">
              <span class="pb-8" tabindex="0" aria-label="Low Score Indicator"
                >Low Score Indicator</span
              >
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button class="mr-8" value="1">Yes</mat-radio-button>
                <mat-radio-button value="2">No</mat-radio-button>
              </mat-radio-group>
            </div>
            <div
              fxLayout="row wrap"
              fxLayoutAlign="start center"
              class="py-16 form-field-zero-spacing disabled-form-field"
            >
              <span
                class="mr-16 pr-32"
                tabindex="0"
                aria-label="Low Score Threshold"
                >Low Score Threshold</span
              >
              <mat-form-field
                appearance="fill"
                fxFlex.gt-md="15"
                fxFlex.gt-xs="30"
                fxFlex="100"
                class="mr-sm-16 pb-xs-16"
              >
                <mat-label>Select Value</mat-label>
                <mat-select formControlName="value">
                  <mat-option
                    *ngFor="let value of valueList"
                    value="{{ value.value }}"
                  >
                    {{ value.viewValue }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field
                appearance="fill"
                fxFlex.gt-md="15"
                fxFlex.gt-xs="30"
                fxFlex="100"
              >
                <mat-label>Enter Numeric Value</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="numValue"
                  readonly
                />
              </mat-form-field>
            </div>
            <div class="">
              <mat-divider class="w-100-p position-inherit"></mat-divider>
            </div>
            <div fxLayout="column">
              <span
                class="pt-16"
                tabindex="0"
                aria-label="Publish date for the form is"
                >Publish date for the form is</span
              >
              <div
                fxLayout="row wrap"
                fxLayoutColumn="start center"
                class="mt-8"
              >
                <mat-form-field
                  appearance="fill"
                  fxFlex.gt-md="15"
                  fxFlex.gt-xs="30"
                  fxFlex="100"
                  class="mr-sm-16"
                >
                  <mat-label>Days</mat-label>
                  <input matInput formControlName="days" required />
                </mat-form-field>
                <mat-form-field
                  appearance="fill"
                  fxFlex.gt-md="15"
                  fxFlex.gt-xs="30"
                  fxFlex="100"
                  class="mr-sm-16"
                >
                  <mat-label>Before or After</mat-label>
                  <mat-select formControlName="value">
                    <mat-option
                      *ngFor="let value of valueList"
                      value="{{ value.value }}"
                    >
                      {{ value.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field
                  appearance="fill"
                  fxFlex.gt-md="15"
                  fxFlex.gt-xs="30"
                  fxFlex="100"
                  class="mr-sm-16"
                >
                  <mat-label>Anchor</mat-label>
                  <mat-select formControlName="value">
                    <mat-option
                      *ngFor="let value of valueList"
                      value="{{ value.value }}"
                    >
                      {{ value.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div fxLayout="column">
              <span class="pt-16" tabindex="0" aria-label="Due Date"
                >Due Date</span
              >
              <div
                fxLayout="row wrap"
                fxLayoutColumn="start center"
                class="mt-8"
              >
                <mat-form-field
                  appearance="fill"
                  fxFlex.gt-md="15"
                  fxFlex.gt-xs="30"
                  fxFlex="100"
                  class="mr-sm-16"
                >
                  <mat-label>Days</mat-label>
                  <input matInput formControlName="days" required />
                </mat-form-field>
                <mat-form-field
                  appearance="fill"
                  fxFlex.gt-md="15"
                  fxFlex.gt-xs="30"
                  fxFlex="100"
                  class="mr-sm-16"
                >
                  <mat-label>Before or After</mat-label>
                  <mat-select formControlName="value">
                    <mat-option
                      *ngFor="let value of valueList"
                      value="{{ value.value }}"
                    >
                      {{ value.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field
                  appearance="fill"
                  fxFlex.gt-md="15"
                  fxFlex.gt-xs="30"
                  fxFlex="100"
                  class="mr-sm-16"
                >
                  <mat-label>Anchor</mat-label>
                  <mat-select formControlName="value">
                    <mat-option
                      *ngFor="let value of valueList"
                      value="{{ value.value }}"
                    >
                      {{ value.viewValue }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
