<div class="drawer-p" fxLayout="column">
  <mat-card class="mt-16" fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
      <mat-form-field appearance="fill" fxFlex.gt-sm="30" fxFlex="100">
        <mat-label>Standard no.</mat-label>
        <input matInput formControlName="standardNo" />
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="100">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Description</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>

    <div fxLayout="row wrap">
      <div
        fxLayout="row wrap"
        fxFlex.gt-sm="33.33"
        fxFlex="100"
        class="pr-md-16"
      >
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Themes</mat-label>
          <mat-select formControlName="option">
            <mat-option
              *ngFor="let option of optionList"
              value="{{ option.value }}"
            >
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        fxLayout="row wrap"
        fxFlex.gt-sm="33.33"
        fxFlex="100"
        class="pr-md-16"
      >
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Outcome accessment measures</mat-label>
          <mat-select formControlName="option">
            <mat-option
              *ngFor="let option of optionList"
              value="{{ option.value }}"
            >
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxLayout="row wrap" fxFlex.gt-sm="33.33" fxFlex="100" class="">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label
            >Mapping level attributes for mapping Mapping level attributes for
            mapping</mat-label
          >
          <mat-select formControlName="option">
            <mat-option
              *ngFor="let option of optionList"
              value="{{ option.value }}"
            >
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        fxLayout="row wrap"
        fxFlex.gt-sm="33.33"
        fxFlex="100"
        class="pr-md-16"
      >
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>PB curriculam activity</mat-label>
          <mat-select formControlName="option">
            <mat-option
              *ngFor="let option of optionList"
              value="{{ option.value }}"
            >
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div
        fxLayout="row wrap"
        fxFlex.gt-sm="33.33"
        fxFlex="100"
        class="pr-md-16"
      >
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Testing catagory</mat-label>
          <mat-select formControlName="option">
            <mat-option
              *ngFor="let option of optionList"
              value="{{ option.value }}"
            >
              {{ option.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- add tags component here -->
    <div fxLayout="column" class="mb-16">
      <div fxLayout="row" fxFlex="100" class="pb-8">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          fxFlex.gt-xs="30"
          fxFlex="100"
        >
          <span class="font-weight-600 mb-8" tabindex="0" aria-label="Tags"
            >Tags</span
          >
          <span tabindex="0" aria-label="enter to add tags"
            ><i aria-hidden="true" class="fa-light fa-plus accent-fg s-18" ></i
          ></span>
        </div>
      </div>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip
          *ngFor="let fruit of fruits"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(fruit)"
          class="purple-bg"
          fontColor
          tabindex="0"
          attr.aria-label="{{ fruit.name }}"
        >
          {{ fruit.name }}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </div>

    <div fxLayout="column">
      <span class="font-weight-600 mb-8">Upload files</span>
      <div fxLayout="row" fxFlex="100">
        <zhealthcare-file-upload
          [fileConfiguration]="fileConfiguration"
          formControlName="fileDescriptions"
          tabindex="0"
          aria-label="Browse to upload files"
          fxFlex="100"
          fxFlex.gt-sm="55"
        >
        </zhealthcare-file-upload>
      </div>
    </div>
  </mat-card>
  <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100" class="mt-16">
    <button mat-stroked-button color="accent" class="accent-border-btn">
      Add more
    </button>
  </div>
</div>
