<mat-card>
  <div fxLayout="row" fxLayoutAlign="start center">
    <header>
      <div fxLayout="row" fxLayoutAlign="start center">
        <zhealthcare-avatar
          src="assets/images/avatars/anna-strong.png"
          firstName="Anna"
          lastName="Strong"
          size="lg"
        >
        </zhealthcare-avatar>

        <div fxLayout="column">
          <h2>Strong Anna</h2>
          <a
            class="word-break-all font-14"
            href="mailto:anna.strong@universityname.com"
            >Anna.strong@universityname.com</a
          >
          <span fxLayout="row" fxLayoutAlign="start center"
            ><i
              aria-hidden="true"
              class="fa fa-check s-18 accent-fg mr-8"
              aria-hidden="true"
            ></i
            >Public Website</span
          >
        </div>
      </div>
    </header>
  </div>
</mat-card>
