<mat-card class="p-0 mb-8 mt-small-8">
  <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
      <header fxLayout="row"  fxLayoutAlign="space-between center" class="card-header-title card-header-border-bottom">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span class="primary-heading font-weight-600" tabindex="0" aria-label="comments">
            Review Comments
          </span>
        </div>
        <button mat-icon-button aria-label="Edit summary" zhealthcareDrawerAction
          [componentSelector]="_patientFormService.get('patient-general-comments-form')" [size]="'drawer-sm'"
          [data]="patientInfo" title="General Comments" [primaryAction]="'Save'" role="button"
          [entityKey]="patientInfo?.id">
          <i aria-hidden="true" class="fa-light fa-pen"></i>
        </button>
      </header>

      <div fxflex fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" *ngIf="(loading$ | async) === false; else loading" class="zhealthcare-info-container p-0">

        <div fxLayout="" fxLayoutAlign="top" fxFlex="33" class="zhealthcare-info p-16">
          <div class="mb-16">
            <div class="title">Review Status</div>
            <div class="description">
              {{ patientInfo?.reviewStatus }}
              <span *ngIf="!patientInfo?.reviewStatus">-</span>
            </div>
          </div>
        </div>

        <div class="zhealthcare-info p-16">
          <div class="title" tabindex="0" aria-label="General Comments">
            Followup Comments
          </div>
          <div *ngFor="let comments of folloupComments; let i = index">
            <div class="comments-display mt-8">
              <div *ngIf="comments as generalComment" tabindex="1" attr.aria-label="{{ generalComment.addedOn }}" class="comments-date">
                <b> {{ generalComment.addedOn | date: date:'MMM d, y'}}:</b>
              </div>
              <div class="ck-editor-container description " *ngIf="comments as generalComment" tabindex="0"
                attr.aria-label="{{ generalComment.comments}}"
                [innerHTML]="generalComment.comments | mdToHTML | safeHTML">

              </div>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start center" *ngIf="allComments.length > 2">
            <a (click)="onShowMoreClick()" *ngIf="showMore; else showless"> Show more </a>
            <ng-template #showless>
              <a (click)="onShowlessClick()"> Show less </a>
            </ng-template>
          </div>
        </div>

      </div>
    </div>
  </div>
</mat-card>
<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="start space-between">
    <div fxLayout="column" class="pl-16 mt-16">
      <div class="line shine w-140 h-8"></div>
      <div class="line shine w-280 h-8"></div>
      <div class="line shine w-180 h-8"></div>
      <div class="line shine w-200 h-8"></div>
    </div>
  </div>
</ng-template>
