@import 'init';
.patient-search-report {
  height: calc(100vh - 70px) !important;
  overflow: hidden;

  .zhealthcare-table {
    width: 100% !important;
    th,
    td {
      min-width: 8vw !important;

      @include media-breakpoint('md') {
        min-width: 23vw !important;
      }

      @include media-breakpoint('sm') {
        min-width: 30vw !important;
      }

      &.phone-column {
        min-width: 8vw !important;

        @include media-breakpoint('sm') {
          min-width: 15vw !important;
        }
      }

      &.room-column {
        min-width: 4vw !important;
      }
      &.review-status-column {
        text-align: center !important;
        min-width: 9vw !important;
      }

      &.admit-date-column {
        min-width: 9vw !important;
      }

      &.los-column {
        min-width: 3vw !important;
      }


      &.invitation-status-column {
        min-width: 25vw !important;

        @include media-breakpoint('md') {
          min-width: 30vw !important;
        }

        @include media-breakpoint('sm') {
          min-width: 35vw !important;
        }
      }

      &.student-category-width {
        min-width: 15vw !important;

        @include media-breakpoint('md') {
          min-width: 15vw !important;
        }

        @include media-breakpoint('sm') {
          min-width: 18vw !important;
        }
      }
    }
  }
}


.patient-search-grid-with-filter {
  height: calc(100vh - 160px) !important;
  overflow: auto;
}

.patient-search-grid-without-filter {
  height: calc(100vh - 160px) !important;
  overflow: auto;
}

.patient-search-grid-with-loadingstate {
  height: calc(100vh - 261px) !important;
  overflow: auto;
}
