<div class=" carded inner-scroll zhealthcare-new-grid
  ">
  <div class="student-search-report  table-rounded-border p-0">
    <div class="spinner-container" *ngIf="datasourceFacade.fusionDataSourceLoading$ | async">
      <mat-spinner color="accent"></mat-spinner>
    </div>
    <div class=" white-background " fusePerfectScrollbar>
      <div #profileSearchHeader>
        <div fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100-p">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex.lt-md="100">
              <div class="search-wrapper" fxFlex="100">
                <div class="search table-search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <i aria-hidden="true" class="fa-light fa-magnifying-glass s-18 mr-4"></i>
                  <input
                  id="inputBox"
                  type="text"
                  maxlength="50"
                  placeholder="Search"
                  [formControl]="searchItem"
                  fxFlex
                  matInput
                  #searchInput
                  #matInput
                  [(ngModel)]="searchValue"
                  (keyup)="applySearch($event)"
                />
                <button
                  mat-icon-button
                  aria-label="clear search"
                  class="action-icon clear-button"
                  (click)="clearSearch()"
                >
                  <i class="fa-light fa-xmark s-18" aria-hidden="true"></i>
                </button>
                </div>
              </div>


              <div *ngIf="numberOfAppliedFilter>0" fxLayout="row" fxLayoutAlign="start center" class="px-16 w-100-p"
                fxHide.lt-lg>
                <div fxLayout="row" fxLayoutAlign="start center" class="mr-8">
                  <span>Filters: </span>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" *ngIf="numberOfAppliedFilter > 2">
                  <a zhealthcareDrawerAction [componentSelector]="_patientGridService.get('ryzen-show-more-filter-drawer')"
                    [size]="'drawer-sm'" [data]="showMoreFilters" [primaryAction]="'Apply'"
                    [caption]="'Show More Filters'" *ngIf="numberOfAppliedFilter> 2">Show more</a>
                </div>
              </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="end center">
              <div fxLayout="row" fxLayoutAlign="end center" class="border-right h-48" fxHide.lt-md>
              </div>
              <div fxLayout="row" class="mr-16 ml-8">

                <zhealthcare-edit-columns fxHide.lt-md></zhealthcare-edit-columns>

                <button matTooltip="Filter" mat-icon-button class="ml-4 filter-icon-button" aria-label="filters"
                  zhealthcareDrawerAction id="filter-provider" [componentSelector]="_patientGridService.get('ryzen-filter-drawer')" [size]="'drawer-md'" [caption]="'Filters'" [primaryAction]="'Apply'">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <i aria-hidden="true" class="fal fa-filter s-18 mr-4"></i>
                    <span *ngIf="numberOfAppliedFilter>0"> {{ gridFilter.length }} </span>
                  </div>
                </button>

                <button tabindex="0" aria-label="mat menu" mat-icon-button [matMenuTriggerFor]="menu" class="ml-4"
                  fxHide.gt-sm>
                  <i aria-hidden="true" class="fal fa-ellipsis-h s-18"></i>
                </button>
                <mat-menu #menu="matMenu" fxHide.gt-sm>
                  <button mat-menu-item aria-label="Edit Columns" zhealthcareDrawerAction
                    [componentSelector]="dataSourceComponentService.get('zhealthcare-display-columns-form')"
                    [size]="'drawer-sm'" [caption]="'Edit Columns'" role="img" [primaryAction]="'Save'"
                    aria-hidden="true">
                    <i aria-hidden="true" class="fa-light fa-wrench s-18 mr-8"></i>Edit columns
                  </button>
                </mat-menu>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content zhealthcare-sticky-table overflow-auto" [ngClass]="{'student-search-grid-with-filter':((searchValue && searchValue!=='') || numberOfAppliedFilter>0) && (datasourceFacade.fusionDataSourceLoading$ | async ) === false,
      'student-search-grid-without-filter':!((searchValue && searchValue!=='') || numberOfAppliedFilter>0) && (datasourceFacade.fusionDataSourceLoading$ | async ) === false,
  'student-search-grid-with-loadingstate':(datasourceFacade.fusionDataSourceLoading$ | async )}"
        (scroll)="scrollHandler($event)">
        <table id="stickyColumnTable" aria-label="This is a Simple table" mat-table
          [dataSource]="datasourceFacade.fusionDataSet$ | async"
          class="mat-table cdk-table w-100-p zhealthcare-table" matSort matSortDisableClear>

          <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="name-column">Patient Name</th>
            <td mat-cell *matCellDef="let element; let i = index" class="name-column">
              <div fxLayout="row" fxLayoutAlign="start center">
                <a [routerLink]="['./', element?.id, 'details']">
                  <span class="list-item-name">{{ element?.firstName }} {{ element?.lastName }}
                  </span>
                </a>
                <zhealthcare-tag-showcase [tags]="tags" class="ml-4" *ngIf="i % 3 === 0"></zhealthcare-tag-showcase>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="accountNo">
            <th id="student-id-header" mat-header-cell *matHeaderCellDef mat-sort-header>
              Account number
            </th>
            <td mat-cell *matCellDef="let element">
              {{ element?.accountNo }}
            </td>
          </ng-container>

          <!-- address Column -->
          <ng-container matColumnDef="room">
            <th id="room" mat-header-cell *matHeaderCellDef mat-sort-header class="address-column">
              Room
            </th>
            <td mat-cell *matCellDef="let element" class="address-column">
              {{ element?.roomId }}
            </td>
          </ng-container>

          <!-- email Column -->
          <ng-container matColumnDef="admitDate">
            <th id="phone" mat-header-cell *matHeaderCellDef class="email-width">Admit Date</th>
            <td mat-cell *matCellDef="let element" class="email-width">
              <a>{{ element?.admissionDate | date:'MMMM d, y' }}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="dischargeDate">
            <th id="phone" mat-header-cell *matHeaderCellDef class="email-width">Discharge Date</th>
            <td mat-cell *matCellDef="let element" class="email-width">
              <a>{{ element?.dischargeDate | date:'MMMM d, y' }}</a>
            </td>
          </ng-container>

          <ng-container matColumnDef="profileStatus">
            <th id="profileStatus" class="profileStaus-column" mat-header-cell *matHeaderCellDef mat-sort-header>
              Profile Status
            </th>
            <td mat-cell class="profileStaus-column" *matCellDef="let element">
              <span [ngClass]="{'warn-fg':element?.profileStatus?.toLowerCase()==='inactive'}">{{ element?.profileStatus
                }}</span>
            </td>
          </ng-container>

          <!-- phone Column -->
          <ng-container matColumnDef="healthPlanName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-width">Health Plan</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.healthPlanName }}
            </td>
          </ng-container>

          <!-- cohort Column -->
          <ng-container matColumnDef="cds">
            <th mat-header-cell *matHeaderCellDef class="column-width">CDS</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.cds }}
            </td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="queryStatus">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-width">Query Status</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              <div class="status-badge {{ element?.statusClass }} w-88 text-center">
                {{ element?.queryStatus }}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="queryDate">
            <th id="phone" mat-header-cell *matHeaderCellDef class="email-width">Query Date</th>
            <td mat-cell *matCellDef="let element" class="email-width">
              <a>{{ element?.queryDate | date:'MMMM d, y'}}</a>
            </td>
          </ng-container>

          <!-- cohort Column -->
          <ng-container matColumnDef="reimbursementType">
            <th mat-header-cell *matHeaderCellDef class="column-width">Reimbursement Type</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.reimbursementType }}
            </td>
          </ng-container>

          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef class="column-width">Age</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.age }}
            </td>
          </ng-container>

          <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef class="column-width">Comments</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.comments }}
            </td>
          </ng-container>

          <ng-container matColumnDef="concurrent_postDC">
            <th mat-header-cell *matHeaderCellDef class="column-width">Concurrent/PostDC</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.concurrent_postDC }}
            </td>
          </ng-container>
          <ng-container matColumnDef="secondaryInsurance">
            <th mat-header-cell *matHeaderCellDef class="column-width">Secondary Insurance</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.secondaryInsurance }}
            </td>
          </ng-container>

          <ng-container matColumnDef="pdx">
            <th mat-header-cell *matHeaderCellDef class="column-width">PDX</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.pdx }}
            </td>
          </ng-container>
          <ng-container matColumnDef="mrn">
            <th mat-header-cell *matHeaderCellDef class="column-width">MRN</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              {{ element?.mrn }}
            </td>
          </ng-container>

          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef class="column-width">Actions</th>
            <td mat-cell *matCellDef="let element" class="column-width">
              <button mat-icon-button aria-label="edit item" zhealthcareDrawerAction
                [componentSelector]="patientFormService.get('patient-add-form')" [size]="'drawer-sm'" [data]="element"
                [caption]="'Edit Patient'" [primaryAction]="'save'">
                <i aria-hidden="true" class="fa-light fa-pen s-18"></i>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns$ | async; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns$ | async" (click)="addRow(row)"
            [class.row-selected]="clickedRows?.has(row)" [class.row-highlighted]="highlightedRows?.has(row)"></tr>
        </table>
        <div
        *ngIf="(datasourceFacade.fusionDataSourceLoading$ | async ) === false
        && (datasourceFacade.dataSourceTotal$ | async) === 0"
        fxLayout="row wrap" fxLayoutAlign="center" class="pt-16 result-found-style warn-fg" tabindex="0"
        aria-label="no data found.">
        We are sorry. No data found
      </div>
      </div>

    </div>
    <div #pagination>
      <mat-paginator [pageSize]="itemsPerPage" class="bt" [length]="datasourceFacade.dataSourceTotal$ | async"></mat-paginator>
    </div>
  </div>
</div>
