<div class="page-layout carded">
    <div fxLayout="column" class="w-100-p">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="p-16">
            <h2 class="primary-fg">Two Column Layout with header, content Divide and no left sidebar</h2>
            <button mat-button class="primary" (click)="openDialog()">Click for HTML</button>
        </div>

        <div fxLayout="column">
            <div class="blue-800-bg h-70 mb-16" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="center start" class="p-16">
                    <span class="font-16 font-weight-600 fuse-white-fg"> Header with headings</span>
                </div>
            </div>
            <div class="blue-800-bg h-30" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="center start" class="p-16">
                    <span class="font-16 font-weight-600 fuse-white-fg"> Header with tabs</span>
                </div>
            </div>
        </div>

        <div class="center" fxFlex="100" fxLayout="column">

            <div class="content h-100-p " fxFlex="100">
                    <div fxLayout="row wrap" fxFlex="100">
                        <div class="mt-16 pr-md-16" fxFlex.gt-sm="80"  fxFlex="100">
                            <div fxLayout="row" fxLayoutAlign="center start" class="pt-32 px-16 purple-bg element-height">
                                <span class="font-16 font-weight-600 fuse-white-fg">Page content with 80% width.</span>
                            </div>
                        </div>
                        <div class="mt-16" fxFlex="100" fxFlex.gt-sm="20">
                            <div fxLayout="row" fxLayoutAlign="center start" class="pt-32 px-16 purple-bg element-height">
                                <span class="font-16 font-weight-600 fuse-white-fg"> Right side content with 20% width.</span>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
   </div>
</div>
