<div fxLayout="column">
    <div fxLayout="row" class="mt-16 pl-16">
      <span class="font-weight-600 pr-8 ">Linked</span>
      <div fxLayout="row wrap">
        <span class="text-italic pr-8">Goals-1</span>
        <span class="text-italic pr-8">Outcomes-2</span>
        <span class="text-italic pr-8">Instruction objective-0</span>
        <span class="text-italic">Course objective-0</span>
      </div>
    </div>
    <div fxLayout="row" class="mt-16 p-16 border-radius-16 element-gray-background">
      <span class="pr-16 font-weight-600">Objective</span>
      <span>1. Possess the theoretical and scientific knowledge to perform original research at the basic, applied or clinical lev leading to scientific. Report to appropriate authorities suspected cases of fraud and abuse related to the utilization of and payment for physical therapy and other health care services.</span>
    </div>
    <mat-card class="w-100-p p-0 mt-16 border-radius-20 box-shadow-none border">
      <mat-accordion class="w-100-p ">
        <mat-expansion-panel class="border-radius-20 box-shadow-none">
          <mat-expansion-panel-header class="border-bottom border-radius-0">
            <mat-panel-title>
                <h3 class="text-capitalize brown-heading font-weight-600">Goals</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <exxat-app-plan-tree-demo class="mt-16"></exxat-app-plan-tree-demo>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
    <mat-card class="w-100-p p-0 mt-16 border-radius-20 box-shadow-none border">
      <mat-accordion class="w-100-p ">
        <mat-expansion-panel class="border-radius-20 box-shadow-none">
          <mat-expansion-panel-header class="border-bottom border-radius-0 ">
            <mat-panel-title>
                <h3 class="text-capitalize brown-heading font-weight-600">Objective</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <exxat-app-plan-tree-demo class="mt-16"></exxat-app-plan-tree-demo>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
    <mat-card class="w-100-p p-0 mt-16 border-radius-20 box-shadow-none border">
      <mat-accordion class="w-100-p ">
        <mat-expansion-panel class="border-radius-20 box-shadow-none">
          <mat-expansion-panel-header class="border-bottom border-radius-0">
            <mat-panel-title>
                <h3 class="text-capitalize brown-heading font-weight-600">Instruction objective</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <exxat-app-plan-tree-demo class="mt-16"></exxat-app-plan-tree-demo>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card>
   
</div>
