<mat-dialog-content>
  <mat-tab-group>
    <!-- 1st tab content -->
    <mat-tab label="HTML">
      <fuse-highlight
        lang="html"
        class="source-code mt-16"
        fxLayout="column"
        fxLayoutAlign="center"
      >
        <textarea #source hidden="hidden">

              <fuse-sidebar class="sidebar" name="carded-left-sidebar-tabbed-2" position="left" lockedOpen="gt-md"
              fxFlex.gt-md="20" tabindex="0" aria-label="sidebar with avatars">
              <!--   SIDEBAR HEADER -->
              <div fxLayout="column" #sidebarHeader>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex.xs="100" class="py-8">
                  <button mat-icon-button aria-label="Click to go back" class="action-icon mx-8"
                    routerLink="/admin/ux/ui/exxat-sidebar">
                    <i aria-hidden="true" class="fal fa-long-arrow-left"></i>
                  </button>
                  <span class="font-14 font-weight-600 mt-4">Student List</span>
                </div>
                <mat-divider></mat-divider>
          
                <!-- SEARCH -->
                <div class="search-wrapper" fxFlex.xs="100">
                  <div class="search sidenav-search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <i aria-hidden="true" class="fa-light fa-magnifying-glass s-18"></i>
                    <input type="text" class="font-14" placeholder="Search Student" fxFlex />
                  </div>
                </div>
                <mat-divider></mat-divider>
              </div>
          
              <!--  SIDEBAR CONTENT -->
              <div class="content overflow-auto" [style.height.px]="_scrollService.sidebarContentHeight">
                <mat-list>
                  <button mat-button *ngFor="let student of students; let i = index"
                    attr.aria-label="click to view  student.firstName  Details" (click)="activateNavigation(student.id)">
                    <mat-list-item [ngClass]="{'active-list-item': student.id === selectedId }">
                      <exxat-avatar-list-item [firstName]="student.firstName" [lastName]="student.lastName"
                        src="assets/images/avatars/anna-strong.png" aria-hidden="true">
                      </exxat-avatar-list-item>
                    </mat-list-item>
                  </button>
                </mat-list>
              </div>
              <!-- / SIDEBAR CONTENT -->
              </fuse-sidebar>
          
        </textarea>
      </fuse-highlight>
    </mat-tab>

    <!-- 2nd tab content -->
    <mat-tab label="TS">
      <fuse-highlight
        lang="ts"
        class="source-code mt-16"
        fxLayout="column"
        fxLayoutAlign="center"
      >
        <textarea #source hidden="hidden">

            import { Component, ElementRef, OnInit, ViewChild } from '@angular/core';
            import { MatDialog } from '@angular/material/dialog';
            import { NavigationEnd, Router } from '@angular/router';
            import { FuseSidebarService, ScrollService } from '@exxat/ux';
            import { filter } from 'rxjs/operators';
            import { SidebarFocusHelper } from '../../exxat-sidebar.service';
            
            
            @Component({
              selector: 'ryzen-sidebar-one',
              templateUrl: './sidebar-one.component.html',
              styleUrls: ['./sidebar-one.component.scss']
            })
            export class SidebarOneComponent implements OnInit {
            
              @ViewChild('sidebarHeader') sidebarHeader: ElementRef;
              selectedId: number = 1;
              private currentURL =
              'admin/ux/ui/exxat-sidebar/sidebar-one';
            
              students = [
                {id:0, firstName:'Anna', lastName: 'Strong'},
                {id:1, firstName:'Mindy', lastName: 'Strong'},
                {id:2, firstName:'Jeremy', lastName: 'Strong'},
                {id:3, firstName:'Dan', lastName: 'Strong'},
                {id:4, firstName:'Jim', lastName: 'Strong'},
                {id:5, firstName:'Michael', lastName: 'Strong'},
                {id:6, firstName:'Pam', lastName: 'Strong'},
                {id:7, firstName:'Kevin', lastName: 'Strong'},
                {id:8, firstName:'Dwight', lastName: 'Strong'},
                {id:9, firstName:'Angela', lastName: 'Strong'},
                {id:10, firstName:'Andy', lastName: 'Strong'} 
              ]
            
                constructor(
                public _fuseSidebarService: FuseSidebarService,
                public router: Router, public dialog: MatDialog,
                public _focus : SidebarFocusHelper,
                public readonly _scrollService: ScrollService,
                private _router: Router
              )  {
                this._router.events
                  .pipe(filter((event) => event instanceof NavigationEnd))
                  .subscribe(async (event$) => {
                    if (this.currentURL === event$['url']) {
                      await this.setSidebarHeaderHeight();
                    }
                  });
              }
            
              private async setSidebarHeaderHeight() {
                setTimeout(async () => {
                  if (this.sidebarHeader && this.sidebarHeader !== null) {
                    // Reset Main Header Height
                    await this._scrollService.resetSidebarHeaderHeight();
                    // Set New Height to The Main Header
                    await this._scrollService.setSidebarHeaderHeight(
                      this.sidebarHeader.nativeElement.offsetHeight
                    );
                  }
                });
              }
            
              ngOnInit() {
              }
            
              toggleSidebar(name): void
              {
                  this._fuseSidebarService.getSidebar(name).toggleOpen();
              }
            
           
              activateNavigation(item: number) {
                this.selectedId = item;
                this._focus.shiftFocus();
              }
            
            }
          
          

        </textarea>
      </fuse-highlight>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
