<div class="w-100-p">
  <div class="text-center mb-16">
    <i
      aria-hidden="true"
      class="fal fa-check-circle primary-fg w-80 h-80 s-80"
    ></i>
  </div>

  <div class="text-center">
    <span
      class="font-weight-600 font-14"
      tabindex="0"
      aria-label="Your password has been upadated"
      >Your password has been upadated</span
    >
  </div>

  <div class="text-center my-64">
    <a role="link" tabindex="0" aria-label="Back to login"> Back to login </a>
  </div>
</div>
