<div id="zhealthcare-edit-columns-examples" class="p-24">
  <div class="mat-title">Edit Columns Button Example</div>

  <div fxLayout="column" fxLayout.gt-md="row">

    <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
      <div class="mat-caption secondary-text">Edit Columns Example</div>
      <mat-card>
        <zhealthcare-edit-columns></zhealthcare-edit-columns>
      </mat-card>
    </div>

    <fuse-highlight lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
      <textarea #source hidden="hidden">
        <zhealthcare-edit-columns></zhealthcare-edit-columns>
            </textarea>
    </fuse-highlight>
  </div>



</div>