<div class="page-layout carded left-sidebar" id="new-grid-guidelines">
  <fuse-sidebar
    *ngIf="!(_fullScreenService.fullScreenModeEnabled$ | async)"
    class="sidebar width-x-sm"
    name="carded-left-sidebar-tabbed-5"
    position="left"
    lockedOpen="gt-md"
  >
    <div>
      <div fxLayout="row" fxLayoutAlign="start center" class="p-16">
        <button mat-button class="action-icon" aria-hidden="false">
          <mat-icon aria-hidden="true">add</mat-icon>
          <span aria-label="Add Cohort"> Add cohort </span>
        </button>
      </div>
      <div>
        <mat-divider> </mat-divider>
      </div>
    </div>

    <div
      [style.height.px]="headerService.scrollContentheight + 200"
      class="overflow-auto scroll-hover"
    >
      <mat-list class="py-16">
        <button
          mat-button
          class="no-space m-0 p-0"
          *ngFor="let item of cohortList; let i = index"
        >
          <mat-list-item
            class="description-text-wrap p-16"
            [ngClass]="{ 'active-list-item': i === 1 }"
          >
            <div class="text-left">
              <span attr.aria-label="Select Cohort {{ item }}">{{ item }}</span>
            </div>
          </mat-list-item>
          <mat-divider
            class="w-80-p margin-auto"
            *ngIf="i != cohortList.length - 1"
          >
          </mat-divider>
        </button>
      </mat-list>
    </div>
  </fuse-sidebar>

  <div class="center ml-lg-16">
    <div fxLayout="row" fxLayoutAlign="start start" fxHide.gt-md>
      <button
        mat-icon-button
        class="sidebar-toggle mr-8"
        (click)="toggleSidebar('carded-right-sidebar-tabbed-5')"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div #header *ngIf="!(_fullScreenService.fullScreenModeEnabled$ | async)">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <h2
            tabindex="0"
            aria-label="selected cohort is : Cohort 2022"
            class="font-weight-600"
          >
            Cohort 2022
          </h2>
        </div>
        <div>
          <div
            fxLayout="row"
            fxLayoutAlign="end center"
            fxFlex="100"
            class="px-16 mt-12"
          >
            <button
              mat-icon-button
              class="icon-fill-bg filter-icon"
              zhealthcareDrawerAction
              aria-hidden="false"
              aria-label="Open Filters"
              [componentSelector]="
                _uXDemoDrawerService.get('ryzen-filter-and-edit-drawer')
              "
              [size]="'drawer-md'"
              [caption]="'Filters'"
              [primaryAction]="'Save'"
            >
              <i
                aria-hidden="true"
                class="fa-light fa-filter fuse-white-fg"
              ></i>
              <span class="filter-badge">5</span>
            </button>
          </div>
        </div>
      </div>

      <div class="py-16">
        <nav mat-tab-nav-bar>
          <a
            mat-tab-link
            *ngFor="let link of navigations"
            [routerLink]="link.url"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
          >
            <span>{{ link.title }}</span>
          </a>
        </nav>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center" class="pb-16">
        <div fxLayout="row" fxLayoutAlign="start">
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-button class="action-icon" aria-hidden="false">
              <mat-icon aria-hidden="true">add</mat-icon>
              <span aria-label="import student"> Import Student </span>
            </button>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-button class="action-icon" aria-hidden="false">
              <mat-icon aria-hidden="true">add</mat-icon>
              <span aria-label="Add student"> Add Student </span>
            </button>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="start">
          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-button class="action-icon" aria-hidden="false">
              <mat-icon aria-hidden="true">build</mat-icon>
              <span aria-label="Edit Columns"> Edit Columns </span>
            </button>
          </div>

          <div fxLayout="row" fxLayoutAlign="start center">
            <button mat-button class="action-icon" aria-hidden="false">
              <mat-icon aria-hidden="true">grid_on</mat-icon>
              <span aria-label="Export To Excel Data"> Export to Excel </span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="content table-rounded-border px-16 white-background"
      fxLayout="column"
    >
      <div class="spinner-container" *ngIf="goToColumnLoading$ | async">
        <mat-spinner></mat-spinner>
      </div>
      <div
        fxLayout="row"
        fxLayoutAlign="space-between center"
        fxFlex="100"
        class="pt-12 pb-0"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <div fxLayout="column">
            <zhealthcare-search-bar [listofOptions]=""></zhealthcare-search-bar>
            <div>
              <span
                tabindex="0"
                aria-label="toal records found is 50"
                class="font-12 secondary-text text-italic"
              >
                Total record 50
              </span>
            </div>
          </div>
        </div>

        <div fxLayout="row" fxLayoutAlign="end center">
          <mat-form-field fxHide.lt-sm="true">
            <input
              type="text"
              placeholder="Go to Column"
              aria-label="Number"
              matInput
              [formControl]="columnControl"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let option of filteredOptions | async"
                [value]="option"
              >
                {{ option | titlecase }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <div class="ml-8">
            <button
              mat-icon-button
              (click)="toggleFullScreenMode()"
              [attr.aria-label]="
                (_fullScreenService.fullScreenModeEnabled$ | async)
                  ? 'Exit Full Screen'
                  : 'Go To Full Screen'
              "
            >
              <i
                aria-hidden="true"
                class="accent-fg"
                [ngClass]="
                  (_fullScreenService.fullScreenModeEnabled$ | async)
                    ? 'fa-light fa-compress'
                    : 'fa-light fa-expand'
                "
              ></i>
            </button>
          </div>
        </div>
      </div>

      <flex-table>
        <div id="sticky-column-table">
          <div
            #auto_scroll_grid
            class="content flex_table_content"
            [style.height.px]="headerService.scrollContentheight"
          >
            <div class="zhealthcare-sticky-table">
              <table
                tabindex="1"
                aria-hidden="false"
                class="zhealthcare-table no-alternate-color"
                mat-table
                [dataSource]="dataSource"
                *ngFor="let table of tables"
              >
                <ng-container matColumnDef="student">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="student"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="Student Header"
                  >
                    Student (50)
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    fxLayout="row"
                    fxLayoutAlign="start start"
                  >
                    <img class="avatar" src="{{ element.src }}" fxHide.xs />
                    <span
                      tabindex="0"
                      attr.aria-label="Student is {{ element.student }}"
                      class="list-item-name"
                      >{{ element.student }}</span
                    >
                  </td>
                </ng-container>

                <ng-container matColumnDef="is">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="is"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="IS"
                  >
                    IS
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer getstarted"
                      tabindex="0"
                      aria-label="Get Started"
                    >
                      Get Started
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="mmr">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="mmr"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="MMR Header"
                  >
                    MMR
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer disapproved"
                      tabindex="0"
                      aria-label="Disapproved"
                    >
                      Disapproved
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="flu">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="flu"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="Flu Header"
                  >
                    FLU
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer inprogress"
                      tabindex="0"
                      aria-label="In Progress"
                    >
                      In Progress
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="tb">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="tb"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="TB Header"
                  >
                    TB
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer pending"
                      tabindex="0"
                      aria-label="Pending for Review"
                    >
                      Pending for Review
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="hepb">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="hepb"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="Herb Header"
                  >
                    HEP B
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer approved"
                      tabindex="0"
                      aria-label="Approved"
                    >
                      Approved
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="varicella">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="varicella"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="varicella Header"
                  >
                    VARICELLA
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer pending"
                      tabindex="0"
                      aria-label="Pending"
                    >
                      Pending
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="tdap">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="tdap"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="Tdap Header"
                  >
                    TDAP
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer expiring"
                      tabindex="0"
                      aria-label="Expiring"
                    >
                      Expiring
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="hi tab">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="hi tab"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="HI Tab Header"
                  >
                    HI Tab
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer expired"
                      tabindex="0"
                      aria-label="Expired"
                    >
                      Expired
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="cpr">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="cpr"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="CPR Header"
                  >
                    CPR
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer getstarted"
                      tabindex="0"
                      aria-label="Get Started"
                    >
                      Get Started
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="pals">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="pals"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="pals Header"
                  >
                    PALS
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer expired"
                      tabindex="0"
                      aria-label="Expired"
                    >
                      Expired
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="licensure">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="licensure"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="licensure Header"
                  >
                    LICENSURE
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer pending"
                      tabindex="0"
                      aria-label="Pending"
                    >
                      Pending
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="hipaa">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="hipaa"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="hipaa Header"
                  >
                    HIPAA
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer approved"
                      tabindex="0"
                      aria-label="Approved"
                    >
                      Approved
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="sis log">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="sis log"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="sis log Header"
                  >
                    SIS Log
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer getstarted"
                      tabindex="0"
                      aria-label="Get Started"
                    >
                      Get Started
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="corf">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="corf"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="corf Header"
                  >
                    CORF
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer getstarted"
                      tabindex="0"
                      aria-label="Get Started"
                    >
                      Get Started
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="ds">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="ds"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="ds Header"
                  >
                    DS
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer pending"
                      tabindex="0"
                      aria-label="Pending"
                    >
                      Pending
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="bgc">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="bgc"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="bgc Header"
                  >
                    BGC
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer getstarted"
                      tabindex="0"
                      aria-label="Get Started"
                    >
                      Get Started
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="fp">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="fp"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="fp Header"
                  >
                    FP
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer approved"
                      tabindex="0"
                      aria-label="Approved"
                    >
                      Approved
                    </div>
                  </td>
                </ng-container>

                <ng-container matColumnDef="fp bgc">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    id="fp bgc"
                    tabindex="0"
                    aria-hidden="false"
                    aria-label="fp bgc Header"
                  >
                    FP BGC
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <div
                      class="status-badge cursor-pointer approved"
                      tabindex="0"
                      aria-label="Approved"
                    >
                      Approved
                    </div>
                  </td>
                </ng-container>

                <tr
                  mat-header-row
                  *matHeaderRowDef="displayedColumns; sticky: true"
                ></tr>

                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </div>
          </div>
        </div>
      </flex-table>

      <mat-paginator [pageSize]="30" class="h-50"></mat-paginator>
    </div>
  </div>
</div>
