//fuse highlight css
@import 'init';

:host {
  #zhealthcare_graphs_standard_pages {
    mat-icon {
      cursor: pointer;
    }
    .preview {
      margin-bottom: 16px;
      margin-right: 12px;
      mat-card {
        margin-bottom: 8px !important;
        box-shadow: none !important;
        &.mat-graph {
          margin-right: 0 !important;
        }
      }
      @include media-breakpoint('lt-lg') {
        margin-right: 0 !important;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
    .mat-title {
      margin-bottom: 0 !important;
      @include media-breakpoint('lt-sm') {
        margin-bottom: 8px !important;
      }
    }
  }
}
