<div id="academic-info" class="pt-16 pb-16" fxLayout="row wrap" fxFlex="100">
  <div
    class="academic-info-content"
    fxLayout="column"
    fxFlex="100"
    fxFlex.gt-sm="65"
  >
    <!-- Status Section-->
    <mat-card class="mb-16 p-0">
      <header
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <h3 class="primary-heading">Status</h3>
        </div>
        <button
          mat-icon-button
          class="icon-fill-bg"
          aria-label="Edit"
          zhealthcareDrawerAction
          [size]="'drawer-sm'"
          [caption]="'Status'"
          [primaryAction]="'Save'"
          role="img"
        >
          <i aria-hidden="true" class="fa-light fa-pen fuse-white-fg s-18"></i>
        </button>
      </header>
      <!--status container/table-->
      <div fxLayout="row wrap" class="pl-16 pt-16">
        <div
          class="zhealthcare-info pb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="25"
        >
          <div class="title">Cohort</div>
          <div class="description">class of 2020</div>
        </div>
        <div
          class="zhealthcare-info pb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="25"
        >
          <div class="title">Campus</div>
          <div class="description">Texas</div>
        </div>
        <div
          class="zhealthcare-info pb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="25"
        >
          <div class="title">Enrollment term</div>
          <div class="description">summer 2020</div>
        </div>
        <div
          class="zhealthcare-info pb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="25"
        >
          <div class="title">Group</div>
          <div class="description">Group 1</div>
        </div>
        <div
          class="zhealthcare-info pb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="25"
        >
          <div class="title">Status</div>
          <div class="description">Active</div>
        </div>
        <div
          class="zhealthcare-info pb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="25"
        >
          <div class="title">Academic standing</div>
          <div class="description">Good Standing</div>
        </div>
        <div
          class="zhealthcare-info pb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="25"
        >
          <div class="title">Graduation term</div>
          <div class="description">Summer 2022</div>
        </div>
      </div>
    </mat-card>
    <!-- // Status Section-->

    <!--Notes and document section-->
    <mat-card class="mb-16 p-0">
      <header
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <h3 class="primary-heading">Notes & Documents</h3>
        </div>
      </header>

      <div fxLayout="column" class="pt-16 pl-16">
        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="pr-16 pb-16"
        >
          <div fxLayout="row" fxLayoutAlign="start center">
            <h5 class="">Shared with Students</h5>
          </div>
          <button
            mat-icon-button
            class="action-icon"
            aria-label="Edit"
            zhealthcareDrawerAction
            [size]="'drawer-sm'"
            [caption]="'Status'"
            [primaryAction]="'Save'"
            role="img"
          >
            <i aria-hidden="true" class="fa-light fa-plus icon-fill s-18"></i>
          </button>
        </div>

        <div class="pb-16 pr-16" fxlayout="column">
          <div fxLayout="row" fxlayoutalign="space-between center" class="">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
              <p>
                Added notes goes here Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum is dummy text of
                the printing and typesetting industry. Lorem Ipsum is...Lorem
                Ipsum is...Lorem Ipsum is...
              </p>
            </div>
            <button
              mat-icon-button
              class="action-icon"
              aria-label="Edit"
              zhealthcareDrawerAction
              [size]="'drawer-sm'"
              [caption]="'Status'"
              [primaryAction]="'Save'"
              role="img"
            >
              <i aria-hidden="true" class="fa-light fa-pen icon-fill s-18"></i>
            </button>
          </div>
          <a href="" alt="">Information.pdf</a>
        </div>

        <div class="pb-16 pr-16" fxLayout="column">
          <div fxLayout="row" fxlayoutalign="space-between center" class="">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
              <p>
                Added notes goes here Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum is dummy text of
                the printing and typesetting industry. Lorem Ipsum is... Lorem
                Ipsum is...Lorem Ipsum is...
              </p>
            </div>
            <button
              mat-icon-button
              class="action-icon"
              aria-label="Edit"
              zhealthcareDrawerAction
              [size]="'drawer-sm'"
              [caption]="'Status'"
              [primaryAction]="'Save'"
              role="img"
            >
              <i aria-hidden="true" class="fa-light fa-pen icon-fill s-18"></i>
            </button>
          </div>
          <a href="" alt="">Information.pdf</a>
        </div>
        <!--internal use only section-->

        <div
          fxLayout="row"
          fxLayoutAlign="space-between center"
          class="pr-16 pb-16"
        >
          <div fxLayout="row" fxLayoutAlign="start center">
            <h5 class="">Internal Use Only</h5>
          </div>
          <button
            mat-icon-button
            class="action-icon"
            aria-label="Edit"
            zhealthcareDrawerAction
            [size]="'drawer-sm'"
            [caption]="'Status'"
            [primaryAction]="'Save'"
            role="img"
          >
            <i aria-hidden="true" class="fa-light fa-plus icon-fill s-18"></i>
          </button>
        </div>
        <!--/ Internal Use Only heading and icon-->

        <div class="ml-16 mb-16" fxlayoutalign="space-between center">
          <p class="pr-56">
            Added notes goes here Lorem Ipsum is simply dummy text of the
            printing and typesetting industry. Lorem Ipsum is dummy text of the
            printing and typesetting industry. Lorem Ipsum is...
          </p>
        </div>
      </div>
    </mat-card>
    <!--// Notes and document section-->
  </div>

  <!--Side Bar-->
  <div class="pl-md-16" fxLayout="column" fxFlex="100" fxFlex.gt-sm="35">
    <div class="mb-16 secondary-card" fxlayout="column">
      <header
        class="secondary-info-header"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <h3 class=" ">Required Clinical</h3>
        </div>
        <button
          mat-icon-button
          aria-label="Edit"
          zhealthcareDrawerAction
          class="icon-fill-bg"
          [primaryAction]="'Save'"
          [secondaryAction]="'Delete'"
          [size]="'drawer-sm'"
          role="img"
          [entityKey]="0"
          aria-hidden="true"
        >
          <i aria-hidden="true" class="fa-light fa-plus fuse-white-fg s-18"></i>
        </button>
      </header>

      <div class="content pl-16 pr-16 pb-16">
        <div
          flexLayout="row"
          fxLayoutAlign="space-between"
          fxFlex="75"
          fxFlex.gt-sm="65"
          fxFlex.gt-md="65"
        >
          <div fxlayout="column" fxFlex.gt-sm="70" fxFlex.gt-md="70">
            <div
              [ngClass]="{ 'pb-16': i < required.length - 1 }"
              *ngFor="let item of required; let i = index"
            >
              <span>{{ item.name }}</span>
            </div>
          </div>
          <div fxlayout="column" fxFlex.gt-sm="30" fxFlex.gt-md="30">
            <div
              [ngClass]="{ 'pb-16': i < required.length - 1 }"
              *ngFor="let item of notRequired; let i = index"
            >
              <span>{{ item.name }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="mb-16 secondary-card" fxlayout="column">
      <header
        class="secondary-info-header"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div fxLayout="row" fxLayoutAlign="start center">
          <h3 class=" ">Associated staff & faculty</h3>
        </div>
        <button
          mat-icon-button
          aria-label="Edit"
          zhealthcareDrawerAction
          class="icon-fill-bg"
          [primaryAction]="'Save'"
          [secondaryAction]="'Delete'"
          [size]="'drawer-sm'"
          role="img"
          [entityKey]="0"
          aria-hidden="true"
        >
          <i aria-hidden="true" class="fa-light fa-plus fuse-white-fg s-18"></i>
        </button>
      </header>

      <div class="content pl-16 pr-16">
        <div
          class="mb-16"
          *ngFor="let staff of staffs"
          fxLayout="row"
          fxLayoutAlign="space-between center"
        >
          <div fxLayout="row" fxLayoutAlign="start center">
            <zhealthcare-avatar
              [src]="staff.src"
              [firstName]="staff.firstName"
              [lastName]="staff.lastName"
              class="mr-16"
            ></zhealthcare-avatar>

            <div>
              <div class="name">{{ staff.firstName }} {{ staff.lastName }}</div>
              <div class="category">{{ staff.des }}</div>
            </div>
          </div>
          <button
            mat-icon-button
            aria-label="Edit"
            zhealthcareDrawerAction
            class="action-icon"
            [primaryAction]="'Save'"
            [secondaryAction]="'Delete'"
            [size]="'drawer-sm'"
            role="img"
            [entityKey]="0"
            aria-hidden="true"
          >
            <i aria-hidden="true" class="fa-light fa-pen icon-fill s-18"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- // Side Bar-->
</div>
