@import 'init';




#noSearchGrid {
  .name-column {
    min-width: 10vw;
    max-width: 10vw;
    @include media-breakpoint('lt-lg') {
      min-width: 35vw;
    }
    @include media-breakpoint('lt-sm') {
      min-width: 50vw !important;
    }
  }

  .setting-column {
    width: 10vw;
    @include media-breakpoint('md') {
      min-width: 20vw;
      max-width: 20vw;
    }
    @include media-breakpoint('sm') {
      min-width: 35vw !important;
      max-width: 35vw;
    }
    @include media-breakpoint('lt-sm') {
      min-width: 50vw !important;
    }
  }

  .email-width {
    min-width: 10vw;
    @include media-breakpoint('md') {
      min-width: 20vw;
    }
    @include media-breakpoint('lt-md') {
      min-width: 28vw;
    }
  }

  .column-width {
    min-width: 5vw;
    @include media-breakpoint('lt-lg') {
      min-width: 20vw;
    }
    @include media-breakpoint('xs') {
      min-width: 25vw;
    }
  }
}
