<form class="drawer-p" name="form" [formGroup]="fusionFormGroup">

  <mat-card fxLayout="column" class="p-16 mb-16">
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Query Status</mat-label>
        <mat-select formControlName="queryStatus" (selectionChange)="OnQueryStatusChanged($event)" required>
          <mat-option *ngFor="let st of queryStatusList" [ngClass]="{'mat-option-text ': isOptionTruncated(st)
          }" id={{st}} [value]="st" class="dropdown-with-tooltip" [options]="tooltipOptions"
            [display]="isOptionTruncated(st)" [tooltip]="st">
            {{st}}
          </mat-option>
        </mat-select>

      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between end">
      <ckeditor class="editor-border p-0" fxFlex="100" data="{{comments | mdToHTML}}" #ckeditorComments [editor]="Editor" id="ckeditor_id"
    name="classic-editor" [config]="config" (ready)="onReady($event)" (change)="onChange($event)"
    (focus)="onFocus($event)" (blur)="onBlur($event)">
      </ckeditor>
    </div>
  </mat-card>
</form>
