<div class="drawer-p">
  <mat-card>
    <div fxLayout="column">
      <span class="font-16 mb-16"
        >Add or remove columns. To change the column order, drag and drop a
        field.
      </span>

      <div fxFlex="100">
        <div
          cdkDropList
          class="exxat-drag-drop-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div
            class="exxat-drag-drop"
            *ngFor="let column of columnsList"
            cdkDrag
          >
            <div class="icon-drag mr-8" cdkDragHandle>
              <i aria-hidden="true" class="fa-light fa-grip-vertical s-20"></i>
            </div>
            <div class="content">{{ column }}</div>
            <button
              mat-icon-button
              color="warn"
              aria-label="Example icon-button with a delete icon"
              class="ml-8 delete-icon"
            >
              <i aria-hidden="true" class="fa-light fa-trash-alt warn-fg"></i>
            </button>
          </div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center">
        <button
          mat-stroked-button
          color="primary"
          class="width-fit-content"
          aria-label="Add a Column"
        >
          <i aria-hidden="true" class="fa-light fa-plus s-16"></i>
          <span class="ml-4">Add a Column</span>
        </button>
      </div>
    </div>
  </mat-card>
</div>
