
<div>
  <button mat-raised-button color="accent"  exxatDrawerAction [size]="'drawer-lg'" [componentSelector]="_UXDemoDrawerService.get('ryzen-associate-clinical-instructor-drawer')"
  [caption]="'Add Resources'" role="button">Associate clinical instructor drawer</button>
</div>

<div class="ml-16">
  <button mat-stroked-button color="accent" class="accent-border-btn" aria-label="Preview button"  exxatDrawerAction [size]="'drawer-lg'" [componentSelector]="_UXDemoDrawerService.get('exxat-app-preview-demo-content')"
  [caption]="'Preview'" role="button">Preview</button>
</div>