<div class="content pt-16" fxLayout="column">
  <div class="m-8 ml-16" fxLayout="row">
    <span class="font-16">
      <ul tabindex="0" aria-label="instruction list">
        <li tabindex="0" aria-label="one , Material tree example with checkbox and add functionality">
          When an action is performed on the form, both exxat forms front-end and back-end publish an event
          which the product can subscribe to and take necessary actions governed by the business.
        </li>
      </ul>
    </span>
  </div>
  <div fxLayout="row wrap" fxFlex="100">

    <div class="preview mt-16" fxLayout="column" fxLayoutAlign="start" fxFlex.gt-md="100" fxFlex="100">
      <mat-tab-group>
        <mat-tab label="Form Event Interface">
          <div class="pt-16">
            <fuse-highlight lang="ts" class="source-code">
              <textarea #source hidden="hidden">
                export type FormEvent = {
                  responseId: string;
                  securityContext: SecurityContext;
                  data: Data;
                  contextIds?: ContextIds;
                }
                
                export type SecurityContext = {
                    tenantId: string;
                    owningOrganizationUnit: string;
                    owningUser: string;
                }
                
                export type Data = {
                    response: Response;
                    logs: Logs;
                }
                
                export type Response = {
                    responseId: string;
                    sections: Sections[];
                    securityContext: SecurityContext;
                    contextIds?: ContextIds;
                }
                
                export type ContextIds = {
                    groupId?: string;
                    formId?: string;
                    targetId?: string;
                }
                
                export type Logs = {
                    responseId: string;
                    performedActions: PerformedActions;
                    securityContext: SecurityContext;
                    contextIds?: ContextIds;
                }
                
                export type Sections = {
                    sectionId: string;
                    values: any;
                }
                
                export type PerformedActions = {
                    actionId: string;
                    label: string;
                    type: string;
                    updatedBy: string;
                    updatedByUserId: string;
                    comment: string;
                }       
              </textarea>
            </fuse-highlight>
          </div>
        </mat-tab>

        <mat-tab label="Form Response UML">
          <div class="pt-16 img-container">
            <img src="assets/images/exxat-forms/FormEvent.png" />
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>