//fuse highlight css
@import 'init';
:host {
  #exxat-wizard-examples {
    mat-icon {
      cursor: pointer;
    }
    .source-code {
      position: relative;
      margin-bottom: 16px;

      code {
        background: none !important;
      }
    }

    .preview {
      margin-bottom: 16px;
      margin-right: 12px;
      .mat-card {
        box-shadow: none !important;
        margin: 0 !important;
        border: none !important;
        padding: 12px 16px !important;
        mat-horizontal-stepper {
          margin-bottom: 8px !important;
        }
      }
      @include media-breakpoint('lt-lg') {
        margin-right: 0 !important;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    .mat-title {
      margin-bottom: 0 !important;
      @include media-breakpoint('lt-sm') {
        margin-bottom: 8px !important;
      }
    }
  }
}

// .mat-stepper-horizontal {
//   margin-top: 8px;
// }

// .mat-form-field {
//   margin-top: 16px;
// }
