<form [formGroup]="loginForm" novalidate class="w-100-p">
  <div class="text-center mb-16">
    <span
      class="font-weight-600 font-18"
      tabindex="0"
      aria-label="change password"
      >Change Password</span
    >
  </div>

  <div class="text-center mb-16">
    <span
      class="font-weight-600 font-14"
      tabindex="0"
      aria-label="Hi, Carter, Jhon - Our password policy has updated, please change your password"
      >Hi, Carter Jhon - Our password policy has updated, please change your
      password
    </span>
  </div>

  <!-- New Password Field-->
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
      <div fxFlex="90">
        <mat-form-field class="w-100-p" appearance="fill">
          <mat-label>New Password</mat-label>
          <input
            matInput
            formControlName="newPassword"
            [type]="hide ? 'password' : 'text'"
            name="newPassword"
          />
          <button
            [attr.aria-label]="
              hide ? 'click to view password' : 'click to hide password'
            "
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
          >
            <mat-icon class="icon-fill">{{
              hide ? 'visibility' : 'lock'
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div fxFlex="10">
        <button
          aria-label="Show password guidelines"
          type="button"
          mat-icon-button
          class="mt-4 tooltip-trigger"
          [tooltip]="password_Info_Content"
          [options]="tooltipOptions"
        >
          <i aria-hidden="true" class="fa-light fa-info-circle icon-fill"></i>
        </button>
        <ng-template #password_Info_Content>
          <div fxLayoutAlign="start" fxLayout="column" class="p-8">
            <div class="mb-8">
              <span
                class="font-weight-600"
                tabindex="0"
                aria-label="Password guidelines"
                >Password guidelines</span
              >
            </div>
            <div>
              <span
                tabindex="0"
                aria-label="1. Password must be minimum 8 characters."
                >1. Password must be minimum 8 characters.</span
              >
            </div>
            <div>
              <span
                tabindex="0"
                aria-label="2. Password must contain atleast 1 uppercase letter [A-Z]."
                >2. Password must contain atleast 1 uppercase letter
                [A-Z].</span
              >
            </div>
            <div>
              <span
                tabindex="0"
                aria-label="3. Password must contain atleast 1 lowercase letter [a-z]."
                >3. Password must contain atleast 1 lowercase letter
                [a-z].</span
              >
            </div>
            <div>
              <span
                tabindex="0"
                aria-label="4. Password must contain atleast 1 base 10 digit [0-9]."
                >4. Password must contain atleast 1 base 10 digit [0-9].</span
              >
            </div>
            <div>
              <span
                tabindex="0"
                aria-label="5. Password must contain atleast 1 base 10 digit [0-9]."
                >5. Password must contain atleast 1 base 10 digit [0-9].</span
              >
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>

  <!-- Confirm Password Field-->
  <div fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxFlex="100">
      <div fxFlex="90">
        <mat-form-field class="w-100-p" appearance="fill">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            formControlName="confirmPassword"
            [type]="hideConfirmPassword ? 'password' : 'text'"
            name="confirmPassword"
          />
          <button
            [attr.aria-label]="
              hide ? 'click to view password' : 'click to hide password'
            "
            type="button"
            mat-icon-button
            matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword"
          >
            <mat-icon class="icon-fill">{{
              hideConfirmPassword ? 'visibility' : 'lock'
            }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Login Button-->
  <div fxLayout="row" fxLayoutAlign="end center" class="mt-16">
    <button mat-raised-button color="primary" class="w-100-p">
      <span>Change Password</span>
    </button>
  </div>
</form>
