#placement-dashboard {
  #placement-dashboard-sidebar {
    &.sidebar {
      box-shadow: none;
      border-radius: 0px !important;
    }
    .content {
      .mat-list-item {
        display: block;
        width: 100%;
      }

      .mat-list-base {
        padding-top: 0px;
      }
      .no-space {
        width: 100%;
        padding: 0px;
        border-radius: 0px;
      }
    }
  }
}
