<!-- <div id="placement-dashboard" class="page-layout carded left-sidebar inner-scroll">

  <fuse-sidebar id="placement-dashboard-sidebar" class="sidebar sidebar-width no-box-shadow"
    name="carded-left-sidebar-tabbed-2" position="left" lockedOpen="gt-md">
  
    <div class="content" fusePerfectScrollbar>
      <mat-list>
        <div *ngFor="let item of leftBarNavigationList; let i = index">
          <button mat-button class="no-space m-0 p-0" [ngClass]="{'active-list-item': i === 0}">
            <mat-list-item class="description-text-wrap">
              <span>{{item.title}}</span>
            </mat-list-item>
          </button>
          <mat-divider></mat-divider>
        </div>
      </mat-list>
    </div>
   
  </fuse-sidebar>

  <div class="center ml-lg-16">

    <div fxLayout="row" fxLayoutAlign="start start">
      <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
        (click)="toggleSidebar('carded-left-sidebar-tabbed-2')">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div class="content">
      <div fxlayout="column">
        <div fxLayout="row wrap" fxLayoutAlign="space-between">
          <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
            <mat-card></mat-card>
          </div>
          <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="50">
            <mat-card></mat-card>
          </div>
        </div>
        <div fxLayout="row" class="pt-16">
          <mat-card class="w-100-p"></mat-card>
        </div>
      </div>

    </div>
  </div> -->