<div class="p-16">
  <button class="accent" mat-stroked-button aria-label="Edit" zhealthcareDrawerAction
    [componentSelector]="_uxDemoDrawerService.get('ryzen-edit-slot')" [size]="'drawer-lg'"
    [caption]="'Hollywood Hospital'" role="img">Edit Slot</button>
</div>

<div class="p-16">
  <button class="accent" mat-stroked-button aria-label="Add Slot" zhealthcareDrawerAction
    [componentSelector]="_uxDemoDrawerService.get('ryzen-add-slot')" [size]="'drawer-x-lg'"
    [caption]="'Hollywood Hospital'" role="img">Add Slot</button>
</div>

<div class="p-16">
  <button class="accent" mat-stroked-button aria-label="Perform Placement" zhealthcareDrawerAction
    [componentSelector]="_uxDemoDrawerService.get('ryzen-perform-placement')" [size]="'drawer-lg'"
    [caption]="'John Smith'" role="img">Perform Placement</button>
</div>

<div class="p-16">
  <button class="accent" mat-stroked-button aria-label="Add/Edit Wishlist Placement" zhealthcareDrawerAction
    [componentSelector]="_uxDemoDrawerService.get('ryzen-add-edit-wishlist')" [size]="'drawer-md'"
    [caption]="'Add/Edit Wishlist Placement'" role="img">Add/Edit Wishlist</button>
</div>