<!-- tabs for less that small screens -->
<div class="h-100-p" fxLayout="column">
  <div fxHide.gt-md class="pb-16">
    <div>
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let item of filterList" [active]="item.id === selectedId"
          (click)="navigateToFilterListItem(item.id)">
          <span>{{ item.title }}
            <span *ngIf="item.count > 0">({{ item.count }})</span></span>
        </a>
      </nav>
    </div>
  </div>

  <div fxLayout="row" fxFlex="100" class="h-100-p">
    <div fxHide.lt-lg class="white-background pt-16 overflow-auto box-shadow-right" fxFlex.gt-md="30">
      <div class="mb-16 pl-16">
        <button class="link-btn pl-0 py-0" (click)="resetAllFilters()" aria-label="Reset all">
          Reset all
        </button>
      </div>
      <mat-list>
        <button mat-button *ngFor="let item of filterList; let i = index" (click)="navigateToFilterListItem(item.id)">
          <mat-list-item [ngClass]="{ 'active-list-item': selectedId === item.id }">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100-p">
              <div class="text-left white-space-normal" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ item.title }}
                  <span *ngIf="item.count > 0">({{ item.count }})</span></span>
              </div>
              <div fxLayout="row" fxLayoutAlign="end center" *ngIf="item.count > 0">
                <i aria-hidden="true" class="fa-solid fa-circle warn-fg s-8"></i>
              </div>
            </div>
          </mat-list-item>
        </button>
      </mat-list>
    </div>
    <form fxFlex.gt-md="70" fxFlex="100" class="pl-16 overflow-auto" role="main" name="form"
      [formGroup]="fusionFormGroup">
      <div *ngIf="selectedId === filterList[0].id">
        <div fxFlex="100" fxLayout="column" class="word-break-word pt-16">
          <div class="mb-12" fxLayout="row">
            <div>
              <button *ngIf="selectedStatusCount !== statusList.length" (click)="selectAll('reviewStatus')"
                class="link-btn pl-0 py-0" aria-label="Select all">
                Select all
              </button>
              <button *ngIf="selectedStatusCount === statusList?.length" (click)="reset('reviewStatus')" class="link-btn pl-0 py-0" aria-label="Clear all">
                Clear all
              </button>
            </div>
            <div class="ml-24">
              <button *ngIf="selectedStatusCount > 0 && selectedStatusCount !== statusList?.length" (click)="reset('reviewStatus')" class="link-btn pl-0 py-0" aria-label="Unselect">
                Unselect({{ selectedStatusCount }})
              </button>
            </div>
          </div>
          <div fxLayout="column">
            <!-- <mat-form-field></mat-form-field> -->
            <mat-checkbox fxLayout="row" fxFlex="100" class="mb-16" *ngFor="let status of statusList"
              [checked]="status.isSelected"
              (change)="onStatusChange($event.checked, status.name)">
              <div class="status-badge {{ status.name }} ">
                {{ status.displayName }}
              </div>
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div *ngIf="selectedId === filterList[1].id">
        <div fxFlex="100" fxLayout="column" class="word-break-word pr-md-16 pt-16">

          <mat-label>
            Admit Date Range
          </mat-label>
          <div>
            <button (click)="resetDate()" class="link-btn pl-0 py-0" aria-label="reset">
              Clear Filter
            </button>
          </div>
          <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center" class="word-break-word pr-md-16 pt-16">
            <mat-form-field appearance="fill" fxFlex="100">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
              <mat-date-range-input [rangePicker]="picker" (click)="picker.open()" (keydown)="(false)">
                <input matStartDate formControlName="admitStartDate"
                  (dateChange)="dateChange('admitStartDate', $event)" />
                <input matEndDate formControlName="admitEndDate"
                  (dateChange)="dateChange('admitEndDate', $event)" />
              </mat-date-range-input>
            </mat-form-field>
          </div>

        </div>
      </div>
      <!-- <div *ngIf="selectedId === filterList[2].id">
        <div fxFlex="100" fxLayout="column" class="word-break-word pt-16">
          <div class="mb-12" fxLayout="row">
            <div>
              <button *ngIf="selectedQueryStatusCount !== queryStatusList?.length" (click)="selectAll('queryStatus')"
                class="link-btn pl-0 py-0" aria-label="Select all">
                Select all
              </button>
              <button *ngIf="selectedQueryStatusCount === queryStatusList?.length"
                (click)="reset('queryStatus')" class="link-btn pl-0 py-0" aria-label="Clear all">
                Clear all
              </button>
            </div>
            <div class="ml-24">
              <button *ngIf="selectedQueryStatusCount > 0 && selectedQueryStatusCount < queryStatusList.length
                " (click)="reset('queryStatus')" class="link-btn pl-0 py-0" aria-label="Unselect">
                Unselect({{ selectedQueryStatusCount }})
              </button>
            </div>
          </div>
          <div fxLayout="column">
            <mat-checkbox fxLayout="row" fxFlex="100" class="mb-16" *ngFor="let queryStatus of queryStatusList"
               [checked]="queryStatus.isSelected" [value]="queryStatus.name"
              (change)="onQueryStatusChange($event.checked, queryStatus.name)">
              <div class="status-badge {{ queryStatus.name }} ">
                {{ queryStatus.name }}
              </div>
            </mat-checkbox>
          </div>
        </div>
      </div> -->


    </form>
  </div>
</div>
