@import 'init';

.header {
  .avatar {
    width: 80px;
    height: 80px;
    @include media-breakpoint('xs') {
      width: 40px;
      height: 40px;
    }
  }
}
.banner-separator {
  span:after {
    content: '\00a0 \00a0 \00a0 | \00a0 \00a0 \00a0';
  }
  span:last-child:after {
    display: none;
  }
}

.avatar-lg {
  width: 80px !important;
  height: 80px !important;
  object-fit: cover;
  // @include media-breakpoint('xs') {
  //   width: 40px;
  //   height: 40px;
  // }
}

.no-avatar {
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 4px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.no-avatar-lg {
  width: 80px;
  height: 80px;
  text-align: center;
  border-radius: 4px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
}

.position-svg {
  top: 10% !important;
  left: 10% !important;
}
