<div class="page-layout simple left-sidebar inner-scroll page-without-header">
  <fuse-sidebar
    class="sidebar"
    name="simple-left-sidebar"
    position="left"
    lockedOpen="gt-md"
    fxFlex.gt-md="20"
    fxFlex="100"
    tabindex="0"
    aria-label="sidebar with secondary text"
  >
    <div
      class="content overflow-auto"
      [style.height.px]="_scrollService.sidebarContentHeight"
    >
      <mat-list>
        <button
          mat-button
          *ngFor="let student of students; let i = index"
          (click)="activateNavigation(student.id)"
        >
          <mat-list-item
            [ngClass]="{ 'active-list-item': student.id === selectedId }"
          >
            <div
              fxLayout=" row"
              fxLayoutAlign="space-between center"
              fxFlex="100"
            >
              <div class="text-left word-break-all">Strong Anna</div>
              <div class="small-circle-background circle-green">23</div>
            </div>
          </mat-list-item>
        </button>
      </mat-list>
    </div>
  </fuse-sidebar>

  <!-- CENTER -->
  <div class="center main-right-side-content" role="main">
    <!-- HEADER -->
    <div fxLayout="row" fxLayoutAlign="start center">
      <button
        mat-icon-button
        class="sidebar-toggle mr-8 ml-8"
        fxHide.gt-md
        (click)="toggleSidebar('simple-left-sidebar')"
      >
        <i aria-hidden="true" class="fa-solid fa-bars"></i>
      </button>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content ml-lg-16 ml-8"></div>
    <!-- / CONTENT -->

    <button
      mat-flat-button
      color="accent"
      class="float-button"
      (click)="openDialog()"
    >
      Press for code
    </button>
  </div>
  <!-- / CENTER -->
</div>
