<div class="page-layout simple fullwidth">
  <div>
    <button mat-button class="primary-bg mb-16" (click)="openDialog()">
      Click for HTML
    </button>
  </div>
  <!-- HEADER -->
  <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
    <h2>This is a header</h2>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-16 green-50-bg">
    <h2>You can add your content here</h2>
    <p>Note : Colors are used only for understanding purpose</p>
  </div>

  <!-- / CONTENT -->
</div>
