<div class="page-layout carded fullwidth" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
    <div fxFlex.lt-sm="20">
      <span class="font-weight-600 mr-sm-16 mb-sm-16 pl-xs-16" fxHide.lt-sm
        >Filter by :
      </span>
    </div>
    <div class="mb-sm-16 ml-sm-16" fxFlex.lt-sm="80">
      <ryzen-inner-page-secondary-navbar
        fxFlex="100"
        fxHide.lt-sm
      ></ryzen-inner-page-secondary-navbar>
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

  <div fxLayout="row" class="pt-16">
    <fuse-sidebar
      class="sidebar no-box-shadow"
      name="carded-left-sidebar-tabbed-2"
      position="left"
      lockedOpen="gt-md"
      fxFlex.gt-md="25"
      fxFlex="100"
    >
      <div class="search-wrapper m-16">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="s-16 secondary-text">search</mat-icon>
          <input type="text" placeholder="Search" fxFlex />
        </div>
      </div>

      <div fusePerfectScrollbar>
        <div class="wishlist-list" fxLayout="column">
          <!-- <div class="wishlist-list-item" *ngFor="let listItem of item.placements">
            <mat-list-item class="px-16 py-16" fxLayout="column" [ngClass]="{'active-list-item': listItem.isSelected}"
              (click)="selectPlacement(listItem.id)">
              <div fxLayout="column">
              <div fxLayout="row" fxLayoutAlign="space-between center">
                <h3>IP Acute general</h3>
                <i aria-hidden="true" class="fa-light fa-bookmark icon-color s-18"></i>
              </div>
              <span class="font-16">Accel physical theropy</span>
              <span class="font-16">Dellal ,Texas</span>
              <div fxLayout="row" class="pt-8">
                <i aria-hidden="true" class="fa-light fa-calendar-week icon-color s-18"></i>
                <span class="ml-8 font-14">July 2nd,2020 - August 3rd,2020</span>
              </div>
              <div fxLayout="row" class="pt-8">
                <i aria-hidden="true" class="fal fa-clipboard icon-color s-18"></i>
                <span class="ml-8 font-14">FCFS, Interview required</span>
              </div>
              <div fxLayout="row" class="pt-8">
                <i aria-hidden="true" class="fa-light fa-user icon-color s-18"></i>
                <span class="ml-8 font-14">1 CT : 1 Student</span>
              </div>
             </div> -->

          <div class="wishlist-list-item">
            <mat-list-item
              class="px-16 py-16 active-list-item"
              fxLayout="column"
            >
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h3>IP Acute general</h3>
                  <i
                    aria-hidden="true"
                    class="fa-light fa-bookmark icon-color s-18"
                  ></i>
                </div>
                <span class="font-16">Accel physical theropy</span>
                <span class="font-16">Dellal ,Texas</span>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fa-light fa-calendar-week icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14"
                    >July 2nd,2020 - August 3rd,2020</span
                  >
                </div>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fal fa-clipboard icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14">FCFS, Interview required</span>
                </div>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fa-light fa-user icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14">1 CT : 1 Student</span>
                </div>
              </div>
            </mat-list-item>
          </div>
          <mat-divider></mat-divider>
          <div class="wishlist-list-item">
            <mat-list-item class="px-16 py-16" fxLayout="column">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h3>IP Acute general</h3>
                  <i
                    aria-hidden="true"
                    class="fa-light fa-bookmark accent-fg s-18"
                  ></i>
                </div>
                <span class="font-16">Accel physical theropy</span>
                <span class="font-16">Dellal ,Texas</span>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fa-light fa-calendar-week icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14"
                    >July 2nd,2020 - August 3rd,2020</span
                  >
                </div>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fal fa-clipboard icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14">FCFS, Interview required</span>
                </div>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fa-light fa-user icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14">1 CT : 1 Student</span>
                </div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
          <div class="wishlist-list-item">
            <mat-list-item class="px-16 py-16" fxLayout="column">
              <div fxLayout="column">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <h3>IP Acute general</h3>
                  <i
                    aria-hidden="true"
                    class="fa-light fa-bookmark icon-color s-18"
                  ></i>
                </div>
                <span class="font-16">Accel physical theropy</span>
                <span class="font-16">Dellal ,Texas</span>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fa-light fa-calendar-week icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14"
                    >July 2nd,2020 - August 3rd,2020</span
                  >
                </div>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fal fa-clipboard icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14">FCFS, Interview required</span>
                </div>
                <div fxLayout="row" class="pt-8">
                  <i
                    aria-hidden="true"
                    class="fa-light fa-user icon-color s-18"
                  ></i>
                  <span class="ml-8 font-14">1 CT : 1 Student</span>
                </div>
              </div>
            </mat-list-item>
            <mat-divider></mat-divider>
          </div>
        </div>
      </div>
    </fuse-sidebar>

    <div class="center ml-lg-16">
      <button
        mat-icon-button
        class="sidebar-toggle mr-4"
        fxHide.gt-md
        (click)="toggleSidebar('carded-left-sidebar-tabbed-2')"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <div class="content-card">
        <div class="content pb-64">
          <div
            fxLayout="row wrap"
            fxLayoutAlign="space-between center"
            class="mb-16 px-xs-16"
          >
            <h2 class="mr-12 font-weight-600">Accel physical theropy</h2>
            <div fxLayout="row" fxLayoutAlign="end center" class="pt-xs-16">
              <button mat-raised-button color="accent">
                <i
                  aria-hidden="true"
                  class="fa-light fa-bookmark s-18 mr-8 fuse-white-fg"
                ></i>
                <span>Saved selection</span>
              </button>
            </div>
          </div>

          <div>
            <mat-card id="general-information-container" class="p-0">
              <header
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
              >
                <h2 class="primary-heading font-weight-600">
                  500 Nathan dean, suit 108 RT,georgia 30132,united states
                </h2>
              </header>

              <div fxLayout="column" class="p-16">
                <div fxLayout="row wrap">
                  <div
                    class="exxat-info mb-16"
                    fxLayout="column"
                    fxFlex="100"
                    fxFlex.gt-sm="20"
                  >
                    <div class="title">Phone</div>
                    <div class="description">525-527-6742</div>
                  </div>
                  <div
                    class="exxat-info mb-16"
                    fxLayout="column"
                    fxFlex="100"
                    fxFlex.gt-sm="20"
                  >
                    <div class="title">Fax</div>
                    <div class="description">23645654</div>
                  </div>
                </div>

                <div fxLayout="row wrap" class="items-spacing">
                  <div
                    class="exxat-info"
                    fxLayout="column"
                    fxFlex="100"
                    fxFlex.gt-sm="20"
                  >
                    <div class="title">Area</div>
                    <div class="description">In area</div>
                  </div>
                  <div
                    class="exxat-info"
                    fxLayout="column"
                    fxFlex="100"
                    fxFlex.gt-sm="20"
                  >
                    <div class="title">Website</div>
                    <div class="description"><a>www.codehow.com</a></div>
                  </div>
                </div>
              </div>

              <div fxLayout="column" class="px-16 pb-16">
                <span class="font-weight-600">Notes</span>
                <p>
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                  The point of using Lorem Ipsum is that it has a more-or-less
                  normal distribution of letters, as opposed to using 'Content
                  here, content here', making it look like readable English.
                </p>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
