<div class="page-layout simple full-width inner-scroll">
  <div class="center h-100-p" fxLayout="column" fxLayoutAlign="center center">
    <div>
      <i aria-hidden="true" class="fa-light fa-clock accent-fg mb-44 s-120"></i>
    </div>
    <div
      tabindex="0"
      aria-label="Session Time out"
      class="font-24 accent-fg font-weight-600"
    >
      <span>Session Time out!!</span>
    </div>
    <div
      class="font-14 accent-fg mt-16"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <span
        tabindex="0"
        aria-label="The current session is timed out, you can click on
            “Refresh” to view back details"
        >The current session is timed out, you can click on “Refresh”
      </span>
      <span>to view back details </span>
    </div>
    <div class="mt-16">
      <button mat-stroked-button color="accent">Refresh</button>
    </div>
  </div>
</div>
