
   <div class="page-layout carded left-sidebar">
 

        <div fxLayout="column" class="w-100-p">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="p-16">
                <h2 class="primary-fg">Full page layout for table containing header</h2>
                <button mat-button class="primary" (click)="openDialog()">Click for HTML</button>
            </div>
   
            <div fxLayout="column" class="w-100-p">
                <div fxLayout="row" fxLayoutAlign="start center" class=" p-16 h-50 blue-800-bg mb-16">
                    <span class="font-16 font-weight-600 fuse-white-fg"> Header with tabs row</span>
                </div> 
                <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-16 h-30 blue-800-bg mb-16">
                    <span class="font-16 font-weight-600 fuse-white-fg"> Header with buttons row </span>
                </div>
            </div>
     
     
        <!-- CENTER -->
        <div class="center w-100-p h-100-p">
         
         <div class="content w-100-p h-100-p">
              <div fxLayout="column" fxFlex="100" class="h-100-p">
                <div class="h-56 blue-800-bg p-16" fxFlex="100" fxLayoutAlign="start start">
                    <span class="font-16 font-weight-600 fuse-white-fg"> Header with search bar row </span>
                </div>
                <div class=" h-100-p purple-bg p-16" fxFlex="100" fxLayoutAlign="start start" >
                    <span class="font-16 font-weight-600 fuse-white-fg">Table or page content</span>
                </div>
              </div>
         </div>
        </div>
    </div>
  </div>
