<div class="page-layout carded left-sidebar inner-scroll">
  <!-- SIDEBAR -->
  <fuse-sidebar
    class="sidebar width-x-sm"
    name="plan-student-demo"
    position="left"
    lockedOpen="gt-md"
  >
    <!--   SIDEBAR HEADER -->
    <div class="mt-12">
      <button
        mat-icon-button
        role="img"
        class="action-icon"
        routerLink="/admin/ux/apps/student"
        aria-hidden="true"
      >
        <mat-icon> arrow_back</mat-icon>
      </button>
      <span class="font-16 pt-4">Faculty List</span>
    </div>
    <!-- SEARCH -->
    <div class="search-wrapper m-16">
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="s-16 secondary-text">search</mat-icon>
        <input matInput placeholder="Search" fxFlex />
      </div>
    </div>
    <!-- / SEARCH -->
    <!-- / SIDEBAR HEADER -->

    <!--  SIDEBAR CONTENT -->
    <div class="content" fusePerfectScrollbar>
      <mat-list>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="active-list-item p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>

        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
        <mat-divider class="w-90-p margin-auto"></mat-divider>
        <button mat-button class="no-space m-0 p-0">
          <mat-list-item class="p-8">
            <img
              src="assets/images/avatars/anna-strong.png"
              class="mat-avatar avatar"
            />
            <span class="font-14 font-weight-600">Strong Anna</span>
          </mat-list-item>
        </button>
      </mat-list>
    </div>
    <!-- / SIDEBAR CONTENT -->
  </fuse-sidebar>
  <!-- // SIDEBAR -->

  <!-- CENTER -->
  <div class="center ml-lg-16" fusePerfectScrollbar>
    <div class="content">
      <mat-card>
        <div fxLayout="row" fxLayoutAlign="start center">
          <!-- <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                        (click)="toggleSidebar('carded-left-sidebar-tabbed-2')">
                        <mat-icon>menu</mat-icon>
                    </button> -->
          <header>
            <div fxLayout="row" fxLayoutAlign="start center">
              <exxat-avatar
                src="assets/images/avatars/anna-strong.png"
                firstName="Anna"
                lastName="Strong"
                size="lg"
              ></exxat-avatar>

              <div fxLayout="column">
                <h2>Strong Anna</h2>
                <a
                  class="word-break-all font-14"
                  href="mailto:anna.strong@universityname.com"
                  >Anna.strong@universityname.com</a
                >
                <span fxLayout="row" fxLayoutAlign="start center"
                  ><i
                    aria-hidden="true"
                    class="fa fa-check s-18 accent-fg mr-8"
                    aria-hidden="true"
                  ></i
                  >Public Website</span
                >
              </div>
            </div>
          </header>
        </div>
      </mat-card>

      <div class="my-16" fxLayout="row" fxLayoutAlign="start center">
        <nav mat-tab-nav-bar fxFlex="100">
          <a
            mat-tab-link
            *ngFor="let link of navigations"
            [routerLink]="link.url"
            routerLinkActive
            #rla="routerLinkActive"
            [active]="rla.isActive"
          >
            <span>{{ link.title }}</span>
          </a>
        </nav>
      </div>
      <!-- // Nav Bar Header -->
      <div class="content mt-16">
        <button
          mat-icon-button
          class="sidebar-toggle"
          fxHide.gt-md
          (click)="toggleSidebar('plan-student-demo')"
        >
          <mat-icon>menu</mat-icon>
        </button>
        <div class="router-container">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
