<div class="content pt-16" fxLayout="column">
  <div fxLayout="row wrap" fxFlex="100">

    <div class="preview mt-16" fxLayout="column" fxLayoutAlign="start" fxFlex.gt-md="100" fxFlex="100">
      <mat-tab-group>
        <mat-tab label="Form Response Interface">
          <div class="pt-16">
            <fuse-highlight lang="ts" class="source-code">
              <textarea #source hidden="hidden">
                export type FormResponse = {
                  status: Status;
                  layout: Layout;
                  data: Data;
                  actions: Action[];
                }
              
                export type Status = {
                    stepId: string;
                    status: string;
                    permissionId: string;
                }
                
                export type Layout = {
                    parent: Section;
                    children: Section[];
                }
                
                export type Section = {
                    sectionId: string;
                    caption: string;
                    fields: Field[];
                    disable?: boolean;
                }
                
                export type Data = {
                    response: Response;
                    logs: Logs;
                }
                
                export type Response = {
                    responseId: string;
                    sections: Sections[];
                    securityContext: SecurityContext;
                    contextIds?: ContextIds;
                }
                
                export type ContextIds = {
                    groupId?: string;
                    formId?: string;
                    targetId?: string;
                }
                
                export type Logs = {
                    responseId: string;
                    performedActions: PerformedActions;
                    securityContext: SecurityContext;
                    contextIds?: ContextIds;
                }
                
                export type Sections = {
                    sectionId: string;
                    values: any;
                }
                
                export type PerformedActions = {
                    actionId: string;
                    label: string;
                    type: string;
                    updatedBy: string;
                    updatedByUserId: string;
                    comment: string;
                }
                
                export type SecurityContext = {
                    tenantId: string;
                    owningOrganizationUnit: string;
                    owningUser: string;
                }
                
                export type Field = {
                    fieldId: string;
                    propertyName: string;
                    description: string;
                    controlType: string;
                    options: Options[];
                    type?: string;
                    value?: any;
                    display?: string;
                    commentEnable?: boolean;
                    disable?: boolean;
                    validations?: Validator[];
                    fields: Field[];
                    isActive: boolean;
                    placeHolder: string;
                    defaultValue?: string;
                    mapFrom: string;
                    tooltipMessage?: string;
                    tooltipPosition?: string;
                    mask: string;
                    characterLimit?: number;
                }
                
                export type Validator = {
                    name: string;
                    validator: any;
                    message: string;
                }
                
                export type Options = {
                    label: string;
                    selected: boolean;
                    message: string;
                    fields: Field[];
                    disable: boolean;
                    color: string;
                }
                
                export type Action = {
                    actionId: string;
                    label: string;
                    type: enum;
                    events: ActionEvents;
                }
                
                export type ActionEvents = {
                    preEvents: PreEvent;
                    postEvents: PostEvent;
                }
                
                export type PreEvent = {
                    dialogBox: DialogBox;
                }
                
                export type PostEvent = {
                    snackBar: SnackBar;
                }
                
                export type DialogBox = {
                    commands: any;
                    message: string;
                    width: string;
                }
                
                export type SnackBar = {
                    duration: number;
                    position: string;
                    successMessage: string;
                    failureMessage: string;
                }              
              </textarea>
            </fuse-highlight>
          </div>
        </mat-tab>

        <mat-tab label="Form Response UML">
          <div class="pt-16 img-container">
            <img src="assets/images/exxat-forms/Form_Response.png" />
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>