<div class="mt-8" fxLayout="row" fxFlex="100">
  <div class="page-layout simple fullwidth inner-scroll full-width-page">
    <div
    class="mt-xs-16 mb-16"
    fxLayout="row"
    fxLayoutAlign="start center"
    #container_header
  >
    <button
      mat-icon-button
      aria-label="Click to go back"
      class="mr-8"
      routerLink="/admin/pd-patients"
    >
      <i aria-hidden="true" class="fal fa-long-arrow-left"></i>
    </button>
    <h2
      class="font-weight-600 ml-8"
      tabindex="0"
      aria-label="heading University of Southern California"
    >
      Patient Details
    </h2>
  </div>
    <div class="header content">
    <patient-header isPdPatient="true"></patient-header>
    </div>
    <div class="content overflow-auto" style="height: calc(100vh - 250px) !important;">
      <patient-findings isReadonly="true"></patient-findings>
      <div class="m-4"></div>
      <auditor-findings></auditor-findings>
    </div>
  </div>
</div>
