<div id="exxat_graphs_standard_pages" class="p-12 w-100-p">
  <div class="center">
    <div class="content" fxLayout="column">
      <div class="gray-header mb-16">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="mr-8">
              <button
                mat-icon-button
                aria-label="Click to go back"
                routerLink="/admin/ux/ui/exxat-component-library"
              >
                <i aria-hidden="true" class="fa-light fa-arrow-left-long"></i>
              </button>
            </div>
            <div class="mat-title">Graphs</div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <fuse-theme-options [view]="'toggle'"></fuse-theme-options>
          </div>
        </div>
      </div>

      <div
        class="overflow-auto"
        [style.height.px]="_headerService.scrollContentheight"
      >
        <div fxLayout="column">
          <div
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="start"
            class="mt-16"
          >
            <div fxFlex="100" fxFlex.gt-md="49" fxFlex.lg="49" class="preview">
              <mat-card
                class="p-0"
                tabindex="0"
                aria-label="graph of population verus Country"
              >
                <header
                  tabindex="0"
                  aria-label="heading of population verus Country"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  class="card-header-title card-header-border-bottom"
                >
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="primary-heading"> Header Title </span>
                  </div>
                </header>

                <div class="p-16">
                  <div
                    class="h-400 w-100-p"
                    fxlayout="row"
                    fxLayoutAlign="start"
                    tabindex="0"
                    aria-label="main graph content"
                  >
                    <ngx-charts-bar-vertical
                      [scheme]="colorScheme"
                      [results]="graphs_data_medium"
                      [gradient]="gradient"
                      [animations]="animations"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)"
                    >
                    </ngx-charts-bar-vertical>
                  </div>
                </div>
              </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-md="49" fxFlex.lg="49" class="preview">
              <mat-card
                class="p-0 mat-graph"
                fxLayout="column"
                tabindex="0"
                aria-label="graph of population verus Country"
              >
                <header
                  tabindex="0"
                  aria-label="heading of population verus Country"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  class="card-header-title card-header-border-bottom"
                >
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="primary-heading"> Header Title </span>
                  </div>
                </header>

                <div
                  class="p-16"
                  fxLayout="row wrap"
                  fxLayoutAlign="start"
                  fxFlex="100"
                >
                  <div
                    fxFlex="100"
                    fxFlex.gt-md="80"
                    fxFlex.md="100"
                    fxLayout="column"
                  >
                    <div fxLayout="column" class="mb-16">
                      <div class="font-weight-600 font-size-32">
                        <span>00</span>
                      </div>
                      <div><span>Count...</span></div>
                    </div>

                    <div
                      tabindex="0"
                      aria-label="main graph content"
                      class="h-320 w-100-p"
                      fxlayout="row"
                      fxLayoutAlign="start"
                    >
                      <ngx-charts-bar-vertical
                        [scheme]="colorScheme"
                        [results]="graphs_data"
                        [gradient]="gradient"
                        [animations]="animations"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="false"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)"
                      >
                      </ngx-charts-bar-vertical>
                    </div>
                  </div>

                  <div fxFlex="100" fxFlex.gt-md="20" fxFlex.md="100">
                    <div class="graph_legend" fxLayout="column">
                      <div class="legend_title font-weight-600 mb-4 font-16">
                        Legend
                      </div>
                      <div
                        fxLayout="column"
                        fxLayoutAlign="start"
                        class="h-320 legend_label_containter"
                      >
                        <div
                          *ngFor="let item of graphs_data"
                          class="legend_label"
                          fxLayoutAlign="start center"
                          fxLayout="row"
                        >
                          <div
                            class="legend_label_color"
                            [style.backgroundColor]="item.color"
                          ></div>
                          <div [title]="item.name" class="legend_label_text">
                            <span>{{ item.name }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>

          <div
            fxLayout="row wrap"
            fxFlex="100"
            fxLayoutAlign="start"
            class="mt-16"
          >
            <div fxFlex="100" fxFlex.gt-md="49" fxFlex.lg="49" class="preview">
              <mat-card
                class="p-0 mb-16"
                tabindex="0"
                aria-label="graph of population verus Country"
              >
                <header
                  tabindex="0"
                  aria-label="heading of population verus Country"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  class="card-header-title card-header-border-bottom"
                >
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="primary-heading"> Header Title </span>
                  </div>
                </header>

                <div class="p-16" fxLayout="column">
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-between center"
                    class="mb-16"
                  >
                    <div fxLayout="column">
                      <div class="font-weight-600 font-size-32">
                        <span>00</span>
                      </div>
                      <div><span>Count...</span></div>
                    </div>

                    <div class="graph_legend" fxLayout="column" fxFlex="65">
                      <div class="legend_title font-weight-600 mb-4 font-16">
                        Legend
                      </div>
                      <div
                        fxLayout="row wrap"
                        fxLayoutAlign="start center"
                        class="legend_label_containter"
                      >
                        <div
                          *ngFor="let item of graphs_data_medium"
                          fxFlex="100"
                          fxFlex.gt-md="33.33"
                          fxFlex.md="50"
                          class="legend_label"
                          fxLayoutAlign="start center"
                          fxLayout="row"
                        >
                          <div
                            class="legend_label_color"
                            [style.backgroundColor]="item.color"
                          ></div>
                          <div [title]="item.name" class="legend_label_text">
                            <span>{{ item.name }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div
                    tabindex="0"
                    aria-label="main graph content"
                    class="h-300 w-100-p"
                    fxlayout="row"
                    fxLayoutAlign="start"
                  >
                    <ngx-charts-bar-vertical
                      [scheme]="colorScheme"
                      [results]="graphs_data_medium"
                      [animations]="false"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="false"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)"
                    >
                    </ngx-charts-bar-vertical>
                  </div>
                </div>
              </mat-card>

              <mat-card
                class="p-0 mat-graph"
                fxLayout="column"
                tabindex="0"
                aria-label="graph of population verus Country"
              >
                <header
                  tabindex="0"
                  aria-label="heading of population verus Country"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  class="card-header-title card-header-border-bottom"
                >
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="primary-heading"> Header Title </span>
                  </div>
                </header>

                <div
                  tabindex="0"
                  aria-label="main graph content"
                  class="p-16"
                  fxLayout="row wrap"
                  fxLayoutAlign="start"
                  fxFlex="100"
                >
                  <div
                    fxFlex="100"
                    fxFlex.gt-md="80"
                    fxFlex.md="100"
                    fxLayout="column"
                  >
                    <div fxLayout="column" class="mb-16">
                      <div class="font-weight-600 font-size-32">
                        <span>00</span>
                      </div>
                      <div><span>Count...</span></div>
                    </div>

                    <div
                      tabindex="0"
                      aria-label="main graph content"
                      class="h-400 w-100-p"
                      fxlayout="row"
                      fxLayoutAlign="start"
                    >
                      <ngx-charts-bar-vertical
                        [scheme]="colorScheme"
                        [results]="graphs_data_medium"
                        [gradient]="gradient"
                        [animations]="animations"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="false"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)"
                      >
                      </ngx-charts-bar-vertical>
                    </div>
                  </div>

                  <div fxFlex="100" fxFlex.gt-md="20" fxFlex.md="100">
                    <div class="graph_legend" fxLayout="column">
                      <div class="legend_title font-weight-600 mb-4 font-16">
                        Legend
                      </div>
                      <div
                        fxLayout="column"
                        fxLayoutAlign="start"
                        class="legend_label_containter"
                      >
                        <div
                          *ngFor="let item of graphs_data_medium"
                          class="legend_label"
                          fxLayoutAlign="start center"
                          fxLayout="row"
                        >
                          <div
                            class="legend_label_color"
                            [style.backgroundColor]="item.color"
                          ></div>
                          <div [title]="item.name" class="legend_label_text">
                            <span>{{ item.name }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>

            <div fxFlex="100" fxFlex.gt-md="49" fxFlex.lg="49" class="preview">
              <mat-card
                class="p-0"
                tabindex="0"
                aria-label="graph of population verus Country"
              >
                <header
                  tabindex="0"
                  aria-label="heading of population verus Country"
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  class="card-header-title card-header-border-bottom"
                >
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <span class="primary-heading"> Header Title </span>
                  </div>
                </header>

                <div class="p-16" fxLayout="column">
                  <div
                    tabindex="0"
                    aria-label="main graph content"
                    class="h-400 w-100-p"
                    fxlayout="row"
                    fxLayoutAlign="start"
                  >
                    <ngx-charts-bar-vertical
                      [scheme]="colorScheme"
                      [results]="graphs_data"
                      [animations]="false"
                      [gradient]="gradient"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="false"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)"
                    >
                    </ngx-charts-bar-vertical>
                  </div>

                  <div
                    fxLayout="row"
                    fxLayoutAlign="start center"
                    class="pt-16"
                  >
                    <div class="graph_legend" fxLayout="column" fxFlex="100">
                      <div class="legend_title font-weight-600 mb-4 font-16">
                        Legend
                      </div>
                      <div
                        fxLayout="row wrap"
                        fxLayoutAlign="start center"
                        class="legend_label_containter"
                      >
                        <div
                          *ngFor="let item of graphs_data"
                          fxFlex="100"
                          fxFlex.gt-md="25"
                          fxFlex.md="50"
                          class="legend_label"
                          fxLayoutAlign="start center"
                          fxLayout="row"
                        >
                          <div
                            class="legend_label_color"
                            [style.backgroundColor]="item.color"
                          ></div>
                          <div [title]="item.name" class="legend_label_text">
                            <span>{{ item.name }}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
