<div fxLayout="column" fxLayout.gt-md="row">


    <div class="preview" fxLayout="column" fxLayoutAlign="start" fxFlex="55">
        <div class="mat-caption secondary-text mb-16">Ngx Vertical Bar Chart Example</div>
        <mat-card class="mr-16">

            <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
                <div fxFlex="100" fxFlex.gt-md="80" fxFlex.md="100" [style.height.px]="400">
                    <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single_custom" [gradient]="gradient"
                        [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend" [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </div>
                <div fxFlex="100" fxFlex.gt-md="20" fxFlex.md="100" fxLayout="column" class="p-4">
                    <div><span class="font-weight-600">Legend</span></div>
                    <div fxLayout="column" class="custom_lagend_area">
                        <div *ngFor="let item of single_custom" class="legend_label p-8" fxLayoutAlign="start center"
                            fxLayout="row">
                            <div class="legend_label_color" [style.backgroundColor]="item.color"></div>
                            <div><span>{{item.name}} {{item.data}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>

        <mat-card fxFlex="55" class="my-16">

            <div fxLayoutAlign="start center" fxLayout="row">
                <div fxLayout="column" fxLayoutAlign="start">
                    <div fxLayoutAlign="start center" fxLayout="row">
                        <div><span class="mr-16 font-weight-600">For more info visit : </span></div>
                        <span><a href="https://swimlane.gitbooks.io/ngx-charts/content/" target="_blank">Ngx Chart
                                Documentation</a></span>
                    </div>

                    <div class="mt-16 overflow-auto" [style.height.px]="230">
                        <ngx-chart-helper-table></ngx-chart-helper-table>
                    </div>
                </div>
            </div>

        </mat-card>
    </div>

    <div class="preview" fxLayout="column" fxLayoutAlign="start" fxFlex="45">
        <mat-tab-group>
            <!-- 1st tab content -->
            <mat-tab label="HTML">
                <fuse-highlight lang="html" class="source-code mt-16" fxLayout="column" fxLayoutAlign="center">
                    <textarea #source hidden="hidden">
                        <div fxLayout="row wrap" fxLayoutAlign="start" fxFlex="100">
                            <div fxFlex="100" fxFlex.gt-md="80" fxFlex.md="100" [style.height.px]="400">
                                <ngx-charts-bar-vertical [scheme]="colorScheme" [results]="single_custom"
                                    [gradient]="gradient" [xAxis]="showXAxis" [yAxis]="showYAxis" [legend]="showLegend"
                                    [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxisLabel]="xAxisLabel"
                                    [yAxisLabel]="yAxisLabel" (select)="onSelect($event)">
                                </ngx-charts-bar-vertical>
                            </div>
                            <div fxFlex="100" fxFlex.gt-md="20" fxFlex.md="100" fxLayout="column" class="p-4">
                                <div><span class="font-weight-600">Legend</span></div>
                                <div fxLayout="column" class="custom_lagend_area">
                                    <div *ngFor="let item of single_custom" class="legend_label p-8" fxLayoutAlign="start center"
                                        fxLayout="row">
                                        <div class="legend_label_color" [style.backgroundColor]="item.color"></div>
                                        <div><span>item.name item.data</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
       
           </textarea>
                </fuse-highlight>
            </mat-tab>

            <!-- 2nd tab content -->
            <mat-tab label="TS">
                <fuse-highlight lang="ts" class="source-code mt-16" fxLayout="column" fxLayoutAlign="center">
                    <textarea #source hidden="hidden">
                        import { Component } from '@angular/core';

                        export var single_custom = [
                        {
                        "name": "Germany",
                        "value": 90,
                        "color": "#5AA454",
                        "data": "(90/100)"
                        },
                        {
                        "name": "USA",
                        "value": 50,
                        "color": "#A10A28",
                        "data": "(50/100)"
                        },
                        {
                        "name": "France",
                        "value": 80,
                        "color": "#C7B42C",
                        "data": "(80/100)"
                        }
                        ];


                        @Component({
                        selector: 'ryzen-vertical-bar-chart-example',
                        templateUrl: './vertical-bar-chart-example.component.html',
                        styleUrls: ['./vertical-bar-chart-example.component.scss']
                        })
                        export class VerticalBarcChartExampleComponent {

                        single: any[];
                        multi: any[];

                        // options
                        showXAxis = true;
                        showYAxis = true;
                        gradient = false;
                        showLegend = true;
                        showXAxisLabel = true;
                        xAxisLabel = 'Country';
                        showYAxisLabel = true;
                        yAxisLabel = 'Population';

                        colorScheme = {
                            domain: ['#5AA454', '#A10A28', '#C7B42C']
                        };

                        constructor() {
                        Object.assign(this, { single })
                        }

                        onSelect(event) {
                        console.log(event);
                        }
                        }
            </textarea>
                </fuse-highlight>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>