<div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="end center" class="mb-16">
      <button mat-button class="action-icon" aria-label="Edit" aria-hidden="true"> 
         Download all documents
      </button>
    </div>

<div class="compliance-site">

  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="search-wrapper search-grid">
      <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="s-16 secondary-text">search</mat-icon>
        <input type="text" placeholder="Search" fxFlex>
      </div>
    </div>
  </div>

  <div class="masonry mt-16">

    <div class="brick">
        <h4 class="primary-fg card-item-content">Licensure</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
          <span class="description-text-wrap">Dose 1 date : 06/26/2019</span>
          <span class="description-text-wrap">Dose 2 date : 06/26/2019</span>
          <span class="description-text-wrap"><a>R.vaccine 1.doc</a></span>
        </div>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Titer</span>
          <span class="description-text-wrap">Result date : 06/26/2019</span>
          <span class="description-text-wrap"><a>Titer doc</a></span> 
          <span class="description-text-wrap warn-fg">Expiration date : 06/26/2019</span>
        </div>
    </div>

    <div class="brick">
        <h4 class="primary-fg card-item-content">MMR</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
          <span class="description-text-wrap">Dose 1 date : 06/26/2019</span>
          <span class="description-text-wrap">Dose 2 date : 06/26/2019</span>
          <span class="description-text-wrap"><a>R.vaccine 1.doc</a></span>
        </div>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Titer</span>
          <span class="description-text-wrap">Result date : 06/26/2019</span>
          <span class="description-text-wrap"><a>Titer doc</a></span> 
          <span class="description-text-wrap warn-fg">Expiration date : 06/26/2019</span>
        </div>
      </div>

    <div class="brick">
        <h4 class="primary-fg card-item-content">Tuberculosis(TB)</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
        </div>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Titer</span>
          <span class="description-text-wrap">Result date : 06/26/2019</span>
          <span class="description-text-wrap"><a>Titer doc</a></span> 
          <span class="description-text-wrap warn-fg">Expiration date : 06/26/2019</span>
        </div>
    </div>

    <div class="brick">
        <h4 class="primary-fg card-item-content">Physical Examination Form</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
        </div>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Titer</span>
          <span class="description-text-wrap">Result date : 06/26/2019</span>
          <span class="description-text-wrap"><a>Titer doc</a></span> 
          <span class="description-text-wrap warn-fg">Expiration date : 06/26/2019</span>
        </div>
    </div>

    <div class="brick">
        <h4 class="primary-fg card-item-content">TDAP</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
          <span class="description-text-wrap">Dose 1 date : 06/26/2019</span>
          <span class="description-text-wrap">Dose 2 date : 06/26/2019</span>
          <span class="description-text-wrap"><a>R.vaccine 1.doc</a></span>
        </div>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Titer</span>
          <span class="description-text-wrap">Result date : 06/26/2019</span>
          <span class="description-text-wrap"><a>Titer doc</a></span> 
          <span class="description-text-wrap warn-fg">Expiration date : 06/26/2019</span>
        </div>
    </div>

    <div class="brick">
        <h4 class="primary-fg card-item-content">Health Insurance</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
          <span class="description-text-wrap">Dose 1 date : 06/26/2019</span>
          <span class="description-text-wrap">Dose 2 date : 06/26/2019</span>
          <span class="description-text-wrap"><a>R.vaccine 1.doc</a></span>
        </div>
    </div>

    <div class="brick">
      <h4 class="primary-fg card-item-content">Varicella</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
          <span class="description-text-wrap">Dose 1 date : 06/26/2019</span>
          <span class="description-text-wrap">Dose 2 date : 06/26/2019</span>
          <span class="description-text-wrap"><a>R.vaccine 1.doc</a></span>
        </div>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Titer</span>
          <span class="description-text-wrap">Result date : 06/26/2019</span>
          <span class="description-text-wrap"><a>Titer doc</a></span> 
          <span class="description-text-wrap warn-fg">Expiration date : 06/26/2019</span>
        </div>
    </div>

    <div class="brick">
      <h4 class="primary-fg card-item-content">CPR/BLS</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
          <span class="description-text-wrap">Dose 1 date : 06/26/2019</span>
          <span class="description-text-wrap">Dose 2 date : 06/26/2019</span>
          <span class="description-text-wrap"><a>R.vaccine 1.doc</a></span>
        </div>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Titer</span>
          <span class="description-text-wrap">Result date : 06/26/2019</span>
          <span class="description-text-wrap"><a>Titer doc</a></span> 
          <span class="description-text-wrap warn-fg">Expiration date : 06/26/2019</span>
        </div>
    </div>
          
    <div class="brick">
      <h4 class="primary-fg card-item-content">Finger Print</h4>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Vaccination</span>
          <span class="description-text-wrap">Dose 1 date : 06/26/2019</span>
          <span class="description-text-wrap">Dose 2 date : 06/26/2019</span>
          <span class="description-text-wrap"><a>R.vaccine 1.doc</a></span>
        </div>
        <div fxLayout="column" class="card-item-content">
          <span class="description-text-wrap font-weight-600">Titer</span>
          <span class="description-text-wrap">Result date : 06/26/2019</span>
          <span class="description-text-wrap"><a>Titer doc</a></span> 
          <span class="description-text-wrap warn-fg">Expiration date : 06/26/2019</span>
        </div>
    </div>
                    
  </div>

</div>

</div>