<mat-dialog-content>
  <fuse-highlight lang="html" class="" fxLayout="column" fxLayoutAlign="start start" fxFlex="100">
    <textarea #source>
              <div class="page-layout simple fullwidth full-width-page">
                <!-- HEADER -->
                <div
                  fxLayout="row"
                  fxLayoutAlign="start center">
                <!-- add header content here -->
                </div>
                <!-- / HEADER -->
              
                <!-- CONTENT -->
                <div class="content mt-16">
                  <!-- add content here -->
                </div>
                <!-- / CONTENT -->
              </div>
      

    </textarea>
  </fuse-highlight>
</mat-dialog-content>