<mat-dialog-content class="margin-auto">
  <div fxLayout="column" class="py-16">
    <h2 class="brown-heading font-weight-600 mb-8" tabindex="0" aria-label="Cancel my form review  request">Cancel my form review  request</h2>
    <span class="mb-32" tabindex="0" aria-label="Are you sure you want to cancel your form review request ?">Are you sure you want to cancel your form review request ?</span>
    <div fxLayout="row" fxLayoutAlign="end enter">
      <button mat-stroked-button color="accent" class="accent-border-btn mr-8">NO</button>
      <button mat-raised-button color="accent">Yes</button>
    </div>
  </div>
</mat-dialog-content>
