<div
  class="
    page-layout
    carded
    fullwidth
    inner-scroll
    zhealthcare-new-grid
    full-width-page
  "
>
  <div class="overflow-y-auto">
    <!-- Main Header -->
    <div class="mb-16" #mainHeader>
      <zhealthcare-tab-nav-bar
        *ngIf="!(_fullScreen.fullScreenModeEnabled$ | async)"
      ></zhealthcare-tab-nav-bar>
    </div>
    <!-- / Main Header -->

    <!-- CONTENT -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <!-- / CONTENT -->
  </div>
</div>
