<div id="exxat-data-source-demo" class="page-layout simple tabbed" fxLayout="column">
  <!-- CONTENT -->
  <div class="content">

    <mat-tab-group dynamicHeight="true">

      <mat-tab label="Exxat Toggle">
        <ryzen-exxat-toggle-example></ryzen-exxat-toggle-example>
      </mat-tab>


      <mat-tab label="Exxat Dropdown Filter">
        <ryzen-exxat-dropdown-filter-example></ryzen-exxat-dropdown-filter-example>
      </mat-tab>

      <mat-tab label="Exxat Search Bar">
        <ryzen-exxat-search-bar-example></ryzen-exxat-search-bar-example>
      </mat-tab>

      <mat-tab label="Exxat Edit Columns">
        <ryzen-exxat-edit-columns-example></ryzen-exxat-edit-columns-example>
      </mat-tab>

      <mat-tab label="Exxat Edit Columns Form">
        <ryzen-exxat-edit-columns-form-example></ryzen-exxat-edit-columns-form-example>
      </mat-tab>

    </mat-tab-group>

  </div>
  <!-- / CONTENT -->

</div>