@import 'init';


:host {
  #zhealthcare-drawers-sizes {
    mat-icon {
      cursor: pointer;
    }
    .source-code {
      position: relative;
      margin-bottom: 16px;

      code {
        background: none !important;
      }
    }

    .preview {
      margin-bottom: 16px;
      margin-right: 12px;

      .mat-card {
        margin: 0 !important;
        @include media-breakpoint('lt-lg') {
          margin-bottom: 8px !important;
        }
      }
      @include media-breakpoint('lt-lg') {
        margin-right: 0 !important;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .mat-caption {
        margin-bottom: 16px;
      }
    }
  }
}
