:host {
    #zhealthcare-search-bar-examples {
      mat-icon{
        cursor: pointer;
      }
      .source-code {
        position: relative;
        margin-bottom: 16px;
        min-height: 100px;
  
        code {
          background: none !important;
        }
      }
  
      .preview {
        padding: 16px;
        margin-bottom: 16px;
        min-height: 100px;
  
        &:last-child {
          margin-bottom: 0;
        }
  
        .mat-caption {
          margin-bottom: 16px;
        }
      }
    }
  }
  