<div class="drawer-p">
  <mat-card fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Event title</mat-label>
        <input matInput formControlName="eventTitle" required>
        <mat-error>Event title is required</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Event date</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary" class="action-icon"></mat-datepicker>
      </mat-form-field>
    </div>


    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Time picker</mat-label>
        <ngx-material-timepicker-toggle matSuffix [for]="datetimePickerIn"></ngx-material-timepicker-toggle>
        <ngx-material-timepicker #datetimePickerIn minutesGap="5" [enableKeyboardInput]="true">
        </ngx-material-timepicker>
        <input matInput formControlName="timeIn" [ngxTimepicker]="datetimePickerIn" readonly />
      </mat-form-field>
    </div>

    

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Event faculty</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let gender of genderList" value="{{gender.value}}">
            {{gender.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error>Gender is required!</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Event location</mat-label>
        <input matInput formControlName="eventTitle">
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>Reference material</mat-label>
        <input matInput formControlName="eventTitle">
      </mat-form-field>
    </div>

    <div fxLayout="row wrap">
      <div fxLayout="row" fxLayoutAlign="start center"  fxFlex.gt-sm="50" fxFlex="100" class="pr-md-16">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Theme</mat-label>
          <input matInput formControlName="eventTitle">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutAlign="start center" fxFlex.gt-sm="50" fxFlex="100">
        <mat-form-field appearance="fill" fxFlex="100">
          <mat-label>Assessment method</mat-label>
          <input matInput formControlName="eventTitle">
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="column">
      <span class="font-weight-600 mb-8">Upload files</span>
      <exxat-file-upload  [fileConfiguration]="fileConfiguration"
      formControlName="fileDescriptions" tabindex="0" aria-label="Browse to upload files"></exxat-file-upload>
    </div>

  </mat-card>
</div>
