<div class="content" >

  <mat-dialog-content>
  
    <fuse-highlight lang="html" class="" fxLayout="column" fxLayoutAlign="start" fxFlex="100">
      <textarea #source >
     
        <!-- /////////////////// Full width Page ////////////////// -->
        <div class="page-layout simple fullwidth">
        
            <!-- HEADER -->
            <div class="header" fxLayout="row" fxLayoutAlign="start center">
                <h2>This is a header</h2>
            </div>
            <!-- / HEADER -->
        
            <!-- CONTENT -->
            <div class="content">
                <h2>You can add your content here</h2>
                <p>Note : Colors are used only for understanding purpose</p>
            </div>
            <!-- / CONTENT -->
        
         </div>
        
       
  
        </textarea>
    
    </fuse-highlight>
  
  
  </mat-dialog-content>
  <!--<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button>
  </mat-dialog-actions>-->
  </div>