<div class="page-layout simple right-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="simple-right-sidebar-2" position="left" lockedOpen="gt-md">

        <!-- SIDEBAR CONTENT -->
        <div class="content p-24" fusePerfectScrollbar>
            <fuse-demo-sidebar></fuse-demo-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center" fusePerfectScrollbar>

        <!-- HEADER -->
        
        <!-- / HEADER -->

        <!-- CONTENT -->
        <div class="content p-24 mr-sm-16">
            <button mat-icon-button class="sidebar-toggle mr-8" fxHide.gt-md
                    (click)="toggleSidebar('simple-right-sidebar-2')">
                <mat-icon>menu</mat-icon>
        </button>
            <h2>Page layout with right sidebar and separate scrolls</h2>
            <p>Place your content here in the content class, You can also add the header above the content.</p>
            <p>In this page layout the sidebar and the content page has the single scroll</p>
        </div>
        <!-- / CONTENT -->

    </div>
    <!-- / CENTER -->

</div>
