<div fxLayout="row" fxLayoutAlign="center center" class="margin-auto" >
  <mat-card class="py-44">
    <div fxLayout="column" class="condition-page-container px-24">
        <div fxLayout="row" fxLayoutAlign="start center" class="mb-16"> 
          <img src="assets/images/logo/zhealthcare-pink-large.png" alt="zhealthcare" width="150px" height="80px">
        </div>
        <div fxLayout="column" class="pt-16">
          <p>
            By clicking accept, you confirm that you have read and understood zhealthcare's <a>Privacy Policy</a> and <a>Terms of Use</a>
            You further confirm that you understood any personal information
            included in a link to an zhealthcare profile may be shared with third parties as described in the zhealthcare Privacy Policy
            and Terms of Use, and that you have the proper authority and consent to share such information.
          </p>
          <div fxLayout="row" fxLayoutAlign="end center" class="mt-32">
            <button mat-raised-button color="primary">Accept</button>
          </div>
        </div>
        
    </div>
  </mat-card>
</div>
