<div id="zhealthcare-ux-repo" class="page-layout full-width w-100-p full-width-page">
  <div class="center">
    <div class="content width-lg margin-auto">
      <div class="pb-16" fxLayout="column">
        <span class="font-weight-600 font-18">zhealthcare Component Library</span>
        <span class="secondary-text">
          zhealthcare Component Library is a robust set of ready-made UI components
          such as buttons, inputs, dialogs, and so on. They serve as building
          blocks for layouts.
        </span>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex.lt-sm="100">
          <div
            class="search-wrapper search-grid pb-16"
            search
            [formControl]="searchItem"
          >
            <div class="search" fxLayout="row" fxLayoutAlign="start center">
              <i
                aria-hidden="true"
                class="fa-solid fa-magnifying-glass s-18 mr-4"
              ></i>
              <input
                id="inputBox"
                type="text"
                placeholder="Search"
                fxFlex
                [formControl]="searchItem"
              />
              <button
                mat-icon-button
                aria-label="clear search"
                class="action-icon clear-button"
              >
                <i aria-hidden="true" class="fa-solid fa-xmark s-18"></i>
              </button>
            </div>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" fxFlex.lt-sm="100">
          <fuse-theme-options [view]="'toggle'"></fuse-theme-options>
        </div>
      </div>

      <div fxLayout="row wrap">
        <div
          class="my-8 px-md-8"
          fxFlex="100"
          fxFlex.gt-sm="33.33"
          *ngFor="let item of filtered_UX_Repo_List$ | async"
        >
          <mat-card class="item_list">
            <a routerLink="{{ item.page }}" class="card-link-btn">
              <div fxLayout="row" fxLayoutAlign="start center">
                <i
                  aria-hidden="true"
                  class="fa-solid{{ item.icon }} s-24 mr-12"
                ></i>
                <div fxLayout="column">
                  <div>
                    <span class="font-18">{{ item.title }}</span>
                  </div>
                  <div>
                    <span class="font-14 secondary-text">{{
                      item.description
                    }}</span>
                  </div>
                </div>
              </div>
            </a>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
