<div class="drawer-p">
  <mat-card fxLayoutAlign="start" fxLayout="column">
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Themes</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Assessment Method / Method of Evaluation and Grading</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Outcome Assessment Measures</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Mapping Level Attributesof Crosswalk report</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Thread</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Test Category</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Type of Content</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Assessment Method / Method of Evaluation and Grading</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row" class="mb-4">
      <mat-checkbox class="mr-12"><span>Outcome Assessment Measures</span></mat-checkbox>
    </div>
    <div fxLayoutAlign="start" fxLayout="row">
      <mat-checkbox class="mr-12"><span>Mapping Level Attributesof Crosswalk report</span></mat-checkbox>
    </div>
  </mat-card>
</div>