<div id="zhealthcare-search-bar-examples" class="p-24">
  <div class="mat-title">zhealthcare Avatar Examples</div>

  <div fxLayout="column" fxLayout.gt-md="row">

    <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
      <div class="mat-caption secondary-text">Single Select Dropdown</div>
      <mat-card>
        <zhealthcare-dropdown-filter [Items]="rotationList" isMultiple='false' label="Rotation" formControlName="Rotation"
          class="w-25-p">
        </zhealthcare-dropdown-filter>
      </mat-card>
    </div>

    <fuse-highlight lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
      <textarea #source hidden="hidden">
        <zhealthcare-dropdown-filter [Items]="rotationList" isMultiple='false' label="Rotation" formControlName="Rotation">
            </textarea>
    </fuse-highlight>
  </div>


  <div fxLayout="column" fxLayout.gt-md="row">

    <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
      <div class="mat-caption secondary-text">Multi Select Dropdown</div>
      <mat-card>
        <zhealthcare-dropdown-filter [Items]="rotationList" isMultiple='true' label="Rotation" formControlName="Rotation"
          class="w-25-p">
        </zhealthcare-dropdown-filter>
      </mat-card>
    </div>

    <fuse-highlight lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center" fxFlex="50">
      <textarea #source hidden="hidden">
        <zhealthcare-dropdown-filter [Items]="rotationList" isMultiple='true' label="Rotation" formControlName="Rotation">
            </textarea>
    </fuse-highlight>
  </div>
</div>