<div fxLayout="column" class="drawer-p">
  <div fxLayout="row wrap" class="mb-16" fxLayoutAlign="start center">
    <div
      class="info-box warning mr-md-16"
      fxLayout="row"
      fxLayoutAlign="start center"
      fxFlex.gt-md="84"
      fxFlex.md="76"
      fxFlex.lt-md="100"
    >
      <i
        aria-hidden="true"
        class="fa-light fa-info-circle mr-8 s-18 icon-fill"
      ></i>
      <span tabindex="0" aria-label="You are now in preview mode"
        >You are now in preview mode</span
      >
    </div>
    <div class="mt-small-16">
      <button
        mat-raised-button
        color="accent"
        aria-label="Close preview mode button"
      >
        Close preview mode
      </button>
    </div>
  </div>
  <mat-card class="p-0 mb-16" tabindex="0" aria-label="card for Theresa web">
    <header
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2
          class="primary-heading font-weight-600 text-capitalize"
          tabindex="0"
          aria-label="heading Theresa web"
        >
          Theresa web
        </h2>
      </div>
    </header>
    <div fxLayout="row wrap" class="pt-16 pl-16">
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Designation">
          Designation
        </div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label=" Designation is Clinical instructor"
        >
          Clinical instructor
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title email">Email</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="email is Theresa@example.com"
        >
          Theresa@example.com
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Phone">Phone</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="phone number is (235)-789-7895"
        >
          (235)-789-7895
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Configuration">
          Configuration
        </div>
        <div class="description description-text-wrap" fxLayout="column">
          <span
            tabindex="0"
            aria-label="Configuration is  Include in slot request"
            >Include in slot request</span
          >
          <span
            tabindex="0"
            aria-label="Configuration is  Include in slot request"
            >Include in slot request</span
          >
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title is Affiliated site">
          Affiliated site
        </div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="Affiliated site is Include in slot request"
        >
          Include in slot request
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title notes">Notes</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="note is notes"
        >
          Notes
        </div>
      </div>
    </div>
    <div fxLayout="column" class="pt-16 pl-16">
      <span tabindex="0" aria-label="title Work setting" class="font-weight-600"
        >Work setting</span
      >
      <div fxLayout="row wrap">
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="p-0 mb-16" tabindex="0" aria-label="card for Theresa web">
    <header
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2
          class="primary-heading font-weight-600 text-capitalize"
          tabindex="0"
          aria-label="heading Theresa web"
        >
          Theresa web
        </h2>
      </div>
    </header>
    <div fxLayout="row wrap" class="pt-16 pl-16">
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Designation">
          Designation
        </div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label=" Designation is Clinical instructor"
        >
          Clinical instructor
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title email">Email</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="email is Theresa@example.com"
        >
          Theresa@example.com
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Phone">Phone</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="phone number is (235)-789-7895"
        >
          (235)-789-7895
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Configuration">
          Configuration
        </div>
        <div class="description description-text-wrap" fxLayout="column">
          <span
            tabindex="0"
            aria-label="Configuration is  Include in slot request"
            >Include in slot request</span
          >
          <span
            tabindex="0"
            aria-label="Configuration is  Include in slot request"
            >Include in slot request</span
          >
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title is Affiliated site">
          Affiliated site
        </div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="Affiliated site is Include in slot request"
        >
          Include in slot request
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title notes">Notes</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="note is notes"
        >
          Notes
        </div>
      </div>
    </div>
    <div fxLayout="column" class="pt-16 pl-16">
      <span tabindex="0" aria-label="title Work setting" class="font-weight-600"
        >Work setting</span
      >
      <div fxLayout="row wrap">
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
      </div>
    </div>
  </mat-card>
  <mat-card class="p-0 mb-16" tabindex="0" aria-label="card for Theresa web">
    <header
      fxLayout="row"
      fxLayoutAlign="space-between center"
      class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <h2
          class="primary-heading font-weight-600 text-capitalize"
          tabindex="0"
          aria-label="heading Theresa web"
        >
          Theresa web
        </h2>
      </div>
    </header>
    <div fxLayout="row wrap" class="pt-16 pl-16">
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Designation">
          Designation
        </div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label=" Designation is Clinical instructor"
        >
          Clinical instructor
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title email">Email</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="email is Theresa@example.com"
        >
          Theresa@example.com
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Phone">Phone</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="phone number is (235)-789-7895"
        >
          (235)-789-7895
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title Configuration">
          Configuration
        </div>
        <div class="description description-text-wrap" fxLayout="column">
          <span
            tabindex="0"
            aria-label="Configuration is  Include in slot request"
            >Include in slot request</span
          >
          <span
            tabindex="0"
            aria-label="Configuration is  Include in slot request"
            >Include in slot request</span
          >
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title is Affiliated site">
          Affiliated site
        </div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="Affiliated site is Include in slot request"
        >
          Include in slot request
        </div>
      </div>
      <div
        class="exxat-info mb-16 pr-16"
        fxLayout="column"
        fxFlex="100"
        fxFlex.gt-sm="33.33"
      >
        <div class="title" tabindex="0" aria-label="title notes">Notes</div>
        <div
          class="description description-text-wrap"
          tabindex="0"
          aria-label="note is notes"
        >
          Notes
        </div>
      </div>
    </div>
    <div fxLayout="column" class="pt-16 pl-16">
      <span tabindex="0" aria-label="title Work setting" class="font-weight-600"
        >Work setting</span
      >
      <div fxLayout="row wrap">
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
        <div
          class="mb-16 pr-16"
          fxLayout="column"
          fxFlex="100"
          fxFlex.gt-sm="20"
        >
          <span tabindex="0" aria-label="Internal Medicine">
            Internal Medicine
          </span>
        </div>
      </div>
    </div>
  </mat-card>
</div>
