<div id="zhealthcare-show-more-button">
  <div
    class="mat-title"
    tabindex="0"
    aria-label="zhealthcare Status Badges Examples "
  >
    zhealthcare Status Badges Examples
  </div>

  <!-- Pending for review badge -->
  <div fxLayout="column" fxLayout.gt-md="row">
    <div
      class="preview m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <mat-card class="pb-0">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div
            class="status-badge pending mr-16 mb-16"
            tabindex="0"
            aria-label="Pending for Review "
          >
            Pending for Review
          </div>

          <div
            class="status-badge onhold mr-16 mb-16"
            tabindex="0"
            aria-label="Onhold "
          >
            Onhold
          </div>

          <div
            class="status-badge pending mr-16 mb-16"
            tabindex="0"
            aria-label="Pending "
          >
            Pending
          </div>
        </div>
      </mat-card>
    </div>

    <fuse-highlight
      lang="html"
      class="source-code m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <textarea #source hidden="hidden">
        <div class="status-badge pending mr-16 mb-16" tabindex="0" aria-label="Pending for Review ">Pending for Review</div>

        <div class="status-badge onhold mr-16 mb-16" tabindex="0" aria-label="Onhold ">Onhold</div>

        <div class="status-badge pending mr-16 mb-16" tabindex="0" aria-label="Pending ">Pending</div>


      </textarea>
    </fuse-highlight>
  </div>

  <!-- In progress badge -->
  <div fxLayout="column" fxLayout.gt-md="row">
    <div
      class="preview m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <mat-card class="pb-0">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div
            class="status-badge inprogress mr-16 mb-16"
            tabindex="0"
            aria-label="In Progress "
          >
            In Progress
          </div>

          <div
            class="status-badge indevelopment mr-16 mb-16"
            tabindex="0"
            aria-label="In Development "
          >
            In Development
          </div>

          <div
            class="status-badge process mr-16 mb-16"
            tabindex="0"
            aria-label=" Process"
          >
            Process
          </div>
        </div>
      </mat-card>
    </div>

    <fuse-highlight
      lang="html"
      class="source-code m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <textarea #source hidden="hidden">

     
        <div class="status-badge inprogress mr-16 mb-16" tabindex="0" aria-label="In Progress ">In Progress</div>

        <div class="status-badge indevelopment mr-16 mb-16" tabindex="0" aria-label="In Development ">In Development</div>

        <div class="status-badge process mr-16 mb-16" tabindex="0" aria-label=" Process">Process</div>


      </textarea>
    </fuse-highlight>
  </div>

  <!-- expering status badge-->
  <div fxLayout="column" fxLayout.gt-md="row">
    <div
      class="preview m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <mat-card class="pb-0">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div
            class="status-badge expiring mr-16 mb-16"
            tabindex="0"
            aria-label="Expering "
          >
            Expering
          </div>

          <div
            class="status-badge disapproved mr-16 mb-16"
            tabindex="0"
            aria-label="Disapproved "
          >
            Disapproved
          </div>

          <div
            class="status-badge noncompliant mr-16 mb-16"
            tabindex="0"
            aria-label="Non Compliant "
          >
            Non Compliant
          </div>

          <div
            class="status-badge terminated mr-16 mb-16"
            tabindex="0"
            aria-label="Terminated "
          >
            Terminated
          </div>

          <div
            class="status-badge dropped mr-16 mb-16"
            tabindex="0"
            aria-label="Dropped "
          >
            Dropped
          </div>

          <div
            class="status-badge bounce mr-16 mb-16"
            tabindex="0"
            aria-label="Bounce "
          >
            Bounce
          </div>

          <div
            class="status-badge block mr-16 mb-16"
            tabindex="0"
            aria-label="Block "
          >
            Block
          </div>

          <div
            class="status-badge spamreport mr-16 mb-16"
            tabindex="0"
            aria-label="Spam Report "
          >
            Spam Report
          </div>

          <div
            class="status-badge differed mr-16 mb-16"
            tabindex="0"
            aria-label="Differed "
          >
            Differed
          </div>
        </div>
      </mat-card>
    </div>

    <fuse-highlight
      lang="html"
      class="source-code m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <textarea #source hidden="hidden">

        <div class="status-badge expiring mr-16 mb-16" tabindex="0" aria-label="Expering ">Expering</div>

        <div class="status-badge disapproved mr-16 mb-16" tabindex="0" aria-label="Disapproved ">Disapproved</div>

        <div class="status-badge noncompliant mr-16 mb-16" tabindex="0" aria-label="Non Compliant ">Non Compliant</div>

        <div class="status-badge terminated mr-16 mb-16" tabindex="0" aria-label="Terminated ">Terminated</div>

        <div class="status-badge dropped mr-16 mb-16" tabindex="0" aria-label="Dropped ">Dropped</div>

        <div class="status-badge bounce mr-16 mb-16" tabindex="0" aria-label="Bounce ">Bounce</div>

        <div class="status-badge block mr-16 mb-16" tabindex="0" aria-label="Block ">Block</div>

        <div class="status-badge spamreport mr-16 mb-16" tabindex="0" aria-label="Spam Report ">Spam Report</div>

        <div class="status-badge differed mr-16 mb-16" tabindex="0" aria-label="Differed ">Differed</div>


    </textarea
      >
    </fuse-highlight>
  </div>

  <!-- get started status badge-->
  <div fxLayout="column" fxLayout.gt-md="row">
    <div
      class="preview m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <mat-card>
        <div
          class="status-badge getstarted"
          tabindex="0"
          aria-label="Get Started "
        >
          Get Started
        </div>
      </mat-card>
    </div>

    <fuse-highlight
      lang="html"
      class="source-code m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <textarea #source hidden="hidden">

      <div class="status-badge getstarted" tabindex="0" aria-label="Get Started ">Get Started</div>

    </textarea
      >
    </fuse-highlight>
  </div>

  <!-- approve status badge-->
  <div fxLayout="column" fxLayout.gt-md="row">
    <div
      class="preview m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <mat-card class="pb-0">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div
            class="status-badge approved mr-16 mb-16"
            tabindex="0"
            aria-label="Approve "
          >
            Approve
          </div>

          <div
            class="status-badge submitted mr-16 mb-16"
            tabindex="0"
            aria-label=" Submitted"
          >
            Submitted
          </div>

          <div
            class="status-badge developed mr-16 mb-16"
            tabindex="0"
            aria-label="Developed"
          >
            Developed
          </div>

          <div
            class="status-badge fullyexecuted mr-16 mb-16"
            tabindex="0"
            aria-label="Fully Executed "
          >
            Fully Executed
          </div>

          <div
            class="status-badge compliant mr-16 mb-16"
            tabindex="0"
            aria-label="Compliant "
          >
            Compliant
          </div>

          <div
            class="status-badge open mr-16 mb-16"
            tabindex="0"
            aria-label="Open "
          >
            Open
          </div>

          <div
            class="status-badge clicked mr-16 mb-16"
            tabindex="0"
            aria-label="Clicked "
          >
            Clicked
          </div>

          <div
            class="status-badge reviewed mr-16 mb-16"
            tabindex="0"
            aria-label=" Reviewed"
          >
            Reviewed
          </div>
        </div>
      </mat-card>
    </div>

    <fuse-highlight
      lang="html"
      class="source-code m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <textarea #source hidden="hidden">

        <div class="status-badge approved mr-16 mb-16" tabindex="0" aria-label="Approve ">Approve</div>

          <div class="status-badge submitted mr-16 mb-16" tabindex="0" aria-label=" Submitted">Submitted</div>

          <div class="status-badge developed mr-16 mb-16" tabindex="0" aria-label="Developed">Developed</div>

          <div class="status-badge fullyexecuted mr-16 mb-16" tabindex="0" aria-label="Fully Executed ">Fully Executed</div>

          <div class="status-badge compliant mr-16 mb-16" tabindex="0" aria-label="Compliant ">Compliant</div>

          <div class="status-badge open mr-16 mb-16" tabindex="0" aria-label="Open ">Open</div>

          <div class="status-badge clicked mr-16 mb-16" tabindex="0" aria-label="Clicked ">Clicked</div>

          <div class="status-badge reviewed mr-16 mb-16" tabindex="0" aria-label=" Reviewed">Reviewed</div>


    </textarea
      >
    </fuse-highlight>
  </div>

  <!-- status badge with icons-->
  <div fxLayout="column" fxLayout.gt-md="row">
    <div
      class="preview m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <mat-card class="pb-0">
        <div fxLayout="row wrap" fxLayoutAlign="start center">
          <div
            class="status-badge getstarted mr-16 mb-16"
            tabindex="0"
            aria-label="Get Started"
          >
            <i aria-hidden="true" class="fa-light fa-user s-14"></i>
            Get Started
          </div>

          <div
            class="status-badge inprogress mr-16 mb-16"
            tabindex="0"
            aria-label="In Progress with Student"
          >
            <i aria-hidden="true" class="fa-light fa-user s-14"></i>
            In Progress with Student
          </div>

          <div
            class="status-badge inprogress mr-16 mb-16"
            tabindex="0"
            aria-label="In Progress with CI"
          >
            <i aria-hidden="true" class="fa-light fa-user-group s-14"></i>
            In Progress with CI
          </div>

          <div
            class="status-badge pending mr-16 mb-16"
            tabindex="0"
            aria-label="Pending School Review"
          >
            <i aria-hidden="true" class="fa-light fa-school s-14"></i>
            Pending School Review
          </div>

          <div
            class="status-badge pending mr-16 mb-16"
            tabindex="0"
            aria-label="Pending Student Review "
          >
            <i aria-hidden="true" class="fa-light fa-user s-14"></i>
            Pending Student Review
          </div>

          <div
            class="status-badge reviewed mr-16 mb-16"
            tabindex="0"
            aria-label="Reviewed by Student"
          >
            <i aria-hidden="true" class="fa-light fa-user s-14"></i>
            Reviewed by Student
          </div>

          <div
            class="status-badge reviewed mr-16 mb-16"
            tabindex="0"
            aria-label="Reviewed "
          >
            <i aria-hidden="true" class="fa-light fa-circle-check s-14"></i>
            Reviewed
          </div>
        </div>
      </mat-card>
    </div>

    <fuse-highlight
      lang="html"
      class="source-code m-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <textarea #source hidden="hidden">
  
        <div class="status-badge getstarted mr-16 mb-16" tabindex="0" aria-label="Get Started">
            <i aria-hidden="true" class="fa-light fa-user s-14"></i>
             Get Started
        </div>

        <div class="status-badge inprogress mr-16 mb-16" tabindex="0" aria-label="In Progress with Student">
          <i aria-hidden="true" class="fa-light fa-user s-14"></i>
          In Progress with Student
        </div>

        <div class="status-badge inprogress mr-16 mb-16" tabindex="0" aria-label="In Progress with CI">
          <i aria-hidden="true" class="fa-light fa-user-group s-14"></i>
          In Progress with CI
        </div>

        <div class="status-badge pending mr-16 mb-16" tabindex="0" aria-label="Pending School Review">
          <i aria-hidden="true" class="fa-light fa-school s-14"></i>
            Pending School Review
        </div>

        <div class="status-badge pending mr-16 mb-16" tabindex="0" aria-label="Pending Student Review">
          <i aria-hidden="true" class="fa-light fa-user s-14"></i>
          Pending Student Review
        </div>

        <div class="status-badge reviewed mr-16 mb-16" tabindex="0" aria-label="Reviewed by Student">
          <i aria-hidden="true" class="fa-light fa-user s-14"></i>
            Reviewed by Student
        </div>

        <div class="status-badge reviewed mr-16 mb-16" tabindex="0" aria-label="Reviewed">
          <i aria-hidden="true" class="fa-light fa-circle-check s-14"></i>
          Reviewed
        </div>
  
      </textarea>
    </fuse-highlight>
  </div>

  <!-- read only filter status-->
  <div fxLayout.lt-lg="column" fxLayout="row">
    <div
      class="preview mr-md-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <div
        fxLayout="row"
        fxLayoutAlign="start center"
        class="white-background width-fit-content px-8 border-radius-4 h-40 readonly-filter"
      >
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          class="pr-16 border-right"
        >
          <div
            class="filter-badge-count status-badge totalcount font-18"
            tabindex="0"
            aria-label="count 400 "
          >
            400
          </div>
          <span
            class="ml-8 space-no-wrap"
            tabindex="0"
            aria-label="Total Emails "
            >Total Emails</span
          >
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          class="px-16 border-right"
        >
          <div
            class="filter-badge-count status-badge sentcount font-18"
            tabindex="0"
            aria-label="count 300 "
          >
            300
          </div>
          <span
            class="ml-8 space-no-wrap"
            tabindex="0"
            aria-label="Sent Successfully "
            >Sent Successfully
          </span>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          class="px-16 border-right"
        >
          <div
            class="filter-badge-count status-badge failedcount font-18"
            tabindex="0"
            aria-label="count 100 "
          >
            100
          </div>
          <span class="ml-8 space-no-wrap" tabindex="0" aria-label="Failed "
            >Failed
          </span>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          class="px-16 border-right"
        >
          <div
            class="filter-badge-count status-badge delivered font-18"
            tabindex="0"
            aria-label="count 20 "
          >
            20
          </div>
          <span class="ml-8 space-no-wrap" tabindex="0" aria-label="Delivered "
            >Delivered
          </span>
        </div>
        <div
          fxLayout="row"
          fxLayoutAlign="start center"
          class="px-16 border-right"
        >
          <div
            class="filter-badge-count status-badge opened font-18"
            tabindex="0"
            aria-label="count 29 "
          >
            29
          </div>
          <span class="ml-8 space-no-wrap" tabindex="0" aria-label="Opened "
            >Opened
          </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" class="pl-16">
          <div
            class="filter-badge-count status-badge clicked font-18"
            tabindex="0"
            aria-label="count 1 "
          >
            1
          </div>
          <span class="ml-8 space-no-wrap" tabindex="0" aria-label="Clicked "
            >Clicked</span
          >
        </div>
      </div>
    </div>

    <fuse-highlight
      lang="html"
      class="source-code mt-16"
      fxLayout="column"
      fxLayoutAlign="center"
      fxFlex="50"
    >
      <textarea #source hidden="hidden">
 
          <div fxLayout="row" fxLayoutAlign="start center" class="white-background width-fit-content px-8 border-radius-4 h-40 readonly-filter">
            <div fxLayout="row" fxLayoutAlign="start center"  class="pr-16 border-right">
              <div class=" filter-badge-count status-badge totalcount font-18" tabindex="0" aria-label="count 400 ">
                400
              </div>
              <span class=" ml-8 space-no-wrap" tabindex="0" aria-label="Total Emails ">Total Emails</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center"  class="px-16 border-right">
              <div class=" filter-badge-count status-badge sentcount font-18" tabindex="0" aria-label="count 300 ">
                  300
              </div>
              <span class=" ml-8 space-no-wrap" tabindex="0" aria-label="Sent Successfully ">Sent Successfully </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center"  class="px-16 border-right">
              <div class=" filter-badge-count status-badge failedcount font-18" tabindex="0" aria-label="count 100 ">
                  100
              </div>
              <span class=" ml-8 space-no-wrap" tabindex="0" aria-label="Failed ">Failed </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center"  class="px-16 border-right">
              <div class=" filter-badge-count status-badge delivered font-18" tabindex="0" aria-label="count 20 ">
                  20
              </div>
              <span class=" ml-8 space-no-wrap" tabindex="0" aria-label="Delivered ">Delivered </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center"  class="px-16 border-right">
              <div class=" filter-badge-count status-badge opened font-18" tabindex="0" aria-label="count 29 ">
                  29
              </div>
              <span class=" ml-8 space-no-wrap" tabindex="0" aria-label="Opened ">Opened </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center"  class="pl-16">
              <div class=" filter-badge-count status-badge clicked font-18"  tabindex="0" aria-label="count 1 ">
                  1
              </div>
              <span class=" ml-8 space-no-wrap" tabindex="0" aria-label="Clicked ">Clicked</span>
            </div>
 
          </div>
      </textarea>
    </fuse-highlight>
  </div>
</div>
