<div class="p-32">
  <h2 class="primary-fg pb-16">This is demo dialog box</h2>
  <p class="">This dialog showcases the title, close, content and actions elements.
  This dialog showcases the title, close, content and actions elements
  This dialog showcases the title, close, content and actions elements
  This dialog showcases the title, close, content and actions elements</p>
  <div fxLayout="row" fxLayoutAlign="end center" class="pt-16">
    <button mat-button class="action-icon">Close</button>
  </div>
</div>
