<div class="ml-16 pt-16">
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      class="button-toggle-2"
      [value]="selectedView"
      (change)="selectView($event.value)"
    >
    <mat-button-toggle 
    routerLink="grid-view" routerLinkActive="active" #rla="routerLinkActive" 
    attr.aria-label="Grid View" value="grid-view">Grid View
  </mat-button-toggle>
    <mat-button-toggle featureCode="{{ AdvancedViewCode }}" [params]="{ CAN: ['UPDATE'] }"
    routerLink="advanced-view" routerLinkActive="active" #rla="routerLinkActive" 
    attr.aria-label="Advanced View" value="advanced-view">Advanced View</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  
  <div class="content" >
   <router-outlet></router-outlet>
  </div>
  
  