<div class="page-layout carded fullwidth" fxLayout="column">

  <div class="center pl-0 pr-0">
    <header class="pt-xs-16">
      <div fxLayout="row" fxLayoutAlign="start center" class="mb-16">
        <button mat-icon-button role="img" class="action-icon" routerLink="" aria-hidden="true">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <div fxLayout="column" fxFlex="100" class="ml-8">
          <h2 class="font-weight-600 pr-16">Wishlist for clinical experience VI</h2>
          <span class="font-14">710 S Business 61- Suite 100, Bowling Green, Missouri-63334</span>
        </div>
      </div>
    </header>


<div class="pl-md-48">
    <div id="zhealthcare-wizard-examples" fxFlex="100">
      <div class="stepper-transparent">
        <mat-horizontal-stepper #stepper>
          <mat-step>
              <ng-template matStepLabel>Explore sites</ng-template>
                <div>
                  <div class="mb-sm-16 mt-16" fxLayout="row">
                    <ryzen-inner-page-primary-navbar fxFlex="100"></ryzen-inner-page-primary-navbar>
                  </div>
              
                  <div class="">
                    <router-outlet></router-outlet>
                  </div>
                </div>
          </mat-step>
          
          <mat-step>
              <ng-template matStepLabel>Rank selection</ng-template>
              <div>
                <div>
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                  Put your content here
                </div>
              </div>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Fill questionnaire</ng-template>
            <div>
              <div>
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
              </div>
            </div>
        </mat-step>
          <mat-step>
            <ng-template matStepLabel>Summary</ng-template>
            <div>
              <div>
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
                Put your content here
              </div>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
  </div>
</div>