<!-- tabs for less that small screens -->
<div class="h-100-p" fxLayout="column">
  <div fxHide.gt-md class="pb-16">
    <div>
      <nav mat-tab-nav-bar>
        <a
          mat-tab-link
          *ngFor="let item of filterList"
          [active]="item.id === selectedId"
          (click)="navigateToFilterListItem(item.id)"
        >
          <span
            >{{ item.title }}
            <span *ngIf="item.count > 0">({{ item.count }})</span></span
          >
        </a>
      </nav>
    </div>
  </div>

  <div fxLayout="row" fxFlex="100" class="h-100-p">
    <div
      fxHide.lt-lg
      class="white-background pt-16 overflow-auto box-shadow-right"
      fxFlex.gt-md="30"
    >
      <div class="mb-16 pl-16">
        <button class="link-btn pl-0 py-0" aria-label="Reset all">
          Reset all
        </button>
      </div>
      <mat-list>
        <button
          mat-button
          *ngFor="let item of filterList; let i = index"
          (click)="navigateToFilterListItem(item.id)"
        >
          <mat-list-item
            [ngClass]="{ 'active-list-item': selectedId === item.id }"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="space-between center"
              class="w-100-p"
            >
              <div
                class="text-left white-space-normal"
                fxLayout="row"
                fxLayoutAlign="start center"
              >
                <span
                  >{{ item.title }}
                  <span *ngIf="item.count > 0">({{ item.count }})</span></span
                >
              </div>
              <div fxLayout="row" fxLayoutAlign="end center">
                <i
                  aria-hidden="true"
                  class="fa-solid fa-circle warn-fg s-8"
                ></i>
              </div>
            </div>
          </mat-list-item>
        </button>
      </mat-list>
    </div>
    <div fxFlex.gt-md="70" fxFlex="100" class="pl-16 overflow-auto" role="main">
      <div *ngIf="selectedId === filterList[0].id">
        <div fxFlex="100" fxLayout="column" class="word-break-word pt-16">
          <div class="mb-12" fxLayout="row">
            <div>
              <button
                *ngIf="selectedStatus.length !== settings?.length"
                (click)="selectAll('setting')"
                class="link-btn pl-0 py-0"
                aria-label="Select all"
              >
                Select all
              </button>
              <button
                *ngIf="
                  selectedStatus.length === settings?.length &&
                  selectedStatus.length > 0
                "
                (click)="reset('setting')"
                class="link-btn pl-0 py-0"
                aria-label="Clear all"
              >
                Clear all
              </button>
            </div>
            <div class="ml-24">
              <button
                *ngIf="
                  selectedStatus.length > 0 &&
                  selectedStatus.length !== settings?.length
                "
                (click)="unselect('setting')"
                class="link-btn pl-0 py-0"
                aria-label="Unselect"
              >
                Unselect({{ selectedStatus.length }})
              </button>
            </div>
          </div>
          <div fxLayout="column">
            <mat-checkbox
              fxLayout="row"
              fxFlex="100"
              class="mb-16"
              *ngFor="let option of settings"
              [checked]="isStatusChecked(option.id)"
              [value]="option.id"
              (change)="selectSetting($event, option.id)"
            >
              <div class="status-badge {{ option.id }} ">
                {{ option.title }}
              </div>
            </mat-checkbox>
          </div>
        </div>
      </div>
      <div *ngIf="selectedId === filterList[1].id">
        <div
          fxFlex="100"
          fxLayout="column"
          class="word-break-word pr-md-16 pt-16"
        >
          <div
            class="mb-12"
            fxLayout="row"
            fxLayoutAlign="space-between center"
          >
            <button
              (click)="clearSelected()"
              class="link-btn pl-0 py-0"
              aria-label="Clear"
              [disabled]="selectedCohort === ''"
            >
              Clear
            </button>
          </div>

          <mat-radio-group fxLayout="column" [(ngModel)]="selectedCohort">
            <mat-radio-button
              [checked]="isCohortChecked(option.id)"
              (change)="changeCohoort(option.id)"
              *ngFor="let option of cohorts"
              [value]="option.id"
              class="mb-16 mat-radio-button-break"
            >
              {{ option.title }}
            </mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div *ngIf="selectedId === filterList[2].id">
        <div
          fxFlex="100"
          fxLayout="column"
          class="word-break-word pr-md-16 pt-16"
        >
          <div class="search-wrapper" search [formControl]="searchItem">
            <div
              class="search"
              fxFlex
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <i
                aria-hidden="true"
                class="fa-solid fa-magnifying-glass s-18 mr-4"
              ></i>

              <input
                id="inputBox"
                type="text"
                placeholder="Search"
                [formControl]="searchItem"
                fxFlex
              />

              <button
                mat-icon-button
                aria-label="clear search"
                class="action-icon clear-button"
              >
                <i aria-hidden="true" class="fa-solid fa-xmark s-18"></i>
              </button>
            </div>
          </div>
          <div
            fxFlex="100"
            fxLayout="column"
            class="word-break-word mt-16 mb-12"
          >
            <div class="mb-12" fxLayout="row">
              <div>
                <button
                  *ngIf="selectedDocument.length !== documents?.length"
                  (click)="selectAll('document')"
                  class="link-btn pl-0 py-0"
                  aria-label="Select all"
                >
                  Select all
                </button>
                <button
                  *ngIf="
                    selectedDocument.length === documents?.length &&
                    selectedDocument.length > 0
                  "
                  (click)="reset('document')"
                  class="link-btn pl-0 py-0"
                  aria-label="Clear all"
                >
                  Clear all
                </button>
              </div>
              <div class="ml-24">
                <button
                  *ngIf="
                    selectedDocument.length > 0 &&
                    selectedDocument.length !== documents?.length
                  "
                  (click)="unselect('document')"
                  class="link-btn pl-0 py-0"
                  aria-label="Select all"
                >
                  Unselect({{ selectedDocument.length }})
                </button>
              </div>
            </div>
            <div fxLayout="column">
              <mat-checkbox
                fxLayout="row"
                fxFlex="100"
                class="mb-16"
                *ngFor="let option of documents"
                [checked]="isDocumentChecked(option.id)"
                [value]="option.id"
                (change)="selectDocument($event, option.id)"
              >
                {{ option.title }}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
