.vertical-nav{
    .button{
        text-align: left!important;
      
    }
    .mat-button{
        text-align: left!important;
     
    }

    .no-space {
        width: 100%;
        padding: 0px;
        border-radius: 0px;
      }
}