<div class="page-layout simple tabbed" fxLayout="column">
  <!-- CONTENT -->
  <div class="content">
    <div id="navigation-tabs-example">
      <div fxLayout="column" fxLayout.gt-md="row" class="mt-16">
        <div class="pr-md-16 pr-0" fxLayout="column" fxLayoutAlign="start" fxFlex="50">
          <mat-card>
            <mat-list class="p-0" fxLayout="column">
              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40 active-list-item">
                  <span class="word-break-all space-pre-wrap text-left">Announcement</span>
                </mat-list-item>
              </button>

              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40">
                  <span class="word-break-all space-pre-wrap text-left">Resources</span>
                </mat-list-item>
              </button>

              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40">
                  <span class="word-break-all space-pre-wrap text-left">Attestation</span>
                </mat-list-item>
              </button>

              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40">
                  <span class="word-break-all space-pre-wrap text-left">Program requirement</span>
                </mat-list-item>
              </button>

              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40">
                  <span class="word-break-all space-pre-wrap text-left">Compliance document</span>
                </mat-list-item>
              </button>
            </mat-list>
          </mat-card>
        </div>

        <fuse-highlight lang="html" class="source-code mt-lg-0 mt-16" fxLayout="column" fxLayoutAlign="center"
          fxFlex="50">
          <textarea #source hidden="hidden">

            <mat-list class="p-0" fxLayout="column">
              <button mat-button class="no-space m-0 p-0">
                <mat-list-item
                  fxFlex
                  fxLayoutAlign="start center"
                  class="h-40 active-list-item"
                >
                  <span class="word-break-all space-pre-wrap text-left"
                    >Announcement</span
                  >
                </mat-list-item>
              </button>

              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40">
                  <span class="word-break-all space-pre-wrap text-left"
                    >Resources</span
                  >
                </mat-list-item>
              </button>

              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40">
                  <span class="word-break-all space-pre-wrap text-left"
                    >Attestation</span
                  >
                </mat-list-item>
              </button>

              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40">
                  <span class="word-break-all space-pre-wrap text-left"
                    >Program requirement</span
                  >
                </mat-list-item>
              </button>

              <button mat-button class="no-space m-0 p-0">
                <mat-list-item fxFlex fxLayoutAlign="start center" class="h-40">
                  <span class="word-break-all space-pre-wrap text-left"
                    >Compliance document</span
                  >
                </mat-list-item>
              </button>
            </mat-list>

            </textarea>
        </fuse-highlight>
      </div>
    </div>
  </div>
</div>