<div class="p-0 zhealthcare-info-container" fxLayout="column">
  <div fxFlex="100" fxFlex.gt-sm="60" *ngIf="!isReadonly else collapsable">
    <ng-container *ngTemplateOutlet="findingHeader"></ng-container>
  </div>
  <!--1st row-->
  <div *ngIf="!isReadonly">
    <ng-container *ngTemplateOutlet="findingDetails"></ng-container>
  </div>
</div>
<ng-template #collapsable>
  <mat-accordion aria-label="This is a accordian">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <div fxLayoutAlign="start center" fxLayout="row">
            <span > Query Findings </span>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-container *ngTemplateOutlet="findingDetails"></ng-container>
    </mat-expansion-panel>
  </mat-accordion>

</ng-template>

<ng-template #findingHeader>
  <mat-card class="card-header-title card-header-border-bottom">
    <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-between start"
    class="add-row"
    mat-icon-button aria-label="Add Finding Information"
    zhealthcareDrawerAction [componentSelector]="_patientFormService.get('query-finding-form')"
    [size]="'drawer-lg'" [caption]="'Add Finding Information'" [primaryAction]="'Save'"
    [entityKey]="">
      <div fxLayout="column" fxFlex="90">
        <div fxLayout.gt-md="row" fxLayout="column" fxLayoutAlign.gt-md="start center" fxLayoutAlign="start start"
          fxFlex="100">
          <div class="secondary-card-header-title overflow-ellipses">
            <span class="primary-heading">Query Findings</span>
          </div>
        </div>
      </div>
      <button mat-icon-button aria-label="Add Finding Information" role="button" [hidden]="isReadonly">
        <i aria-hidden="true" class="fa-solid fa-plus fg-lightgrey"></i>
      </button>
    </div>
  </mat-card>
</ng-template>
<ng-template #findingDetails>
  <div *ngIf="(loading$ | async) === false; else loading" class="zhealthcare-info">
    <input type="checkbox" class="read-more-state" id="finding" #finding />
    <div class="" *ngIf="(patientFindings$ | async) as patientFindings">
      <div *ngFor="let item of patientFindings; let i = index">
        <mat-card fxLayout="row" fxFlex="100" class="p-8" fxLayoutAlign="space-between start">
          <!-- <div fxLayout="row" fxLayoutAlign="center center" class="m-4 pr-8">
            <b>{{i+1}}</b>
          </div> -->
          <div fxLayout="row" fxFlex="100" fxLayoutAlign="space-between center">
            <div fxLayout="column" fxFlex="100" attr.aria-label="finding {{ i + 1 }}">
              <div fxLayout="row" fxLayout.gt-md="row">
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">Query Type</div>
                    <div class="description">
                      {{ item?.queryType }}
                      <span *ngIf="!item?.queryType">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">Query Date</div>
                    <div class="description">
                      {{ item?.queryDate | date:'MMM d, y' }}
                      <span *ngIf="!item?.queryDate">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">Query Diagnosis</div>
                    <div class="description">
                      {{ item?.queryDiagnosis }}
                      <span *ngIf="!item?.queryDiagnosis">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">CDS Name</div>
                    <div class="description">
                      {{ item?.cdsName }}
                      <span *ngIf="!item?.cdsName">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">Physician Name</div>
                    <div class="description">
                      {{ item?.physicianName }}
                      <span *ngIf="!item?.physicianName">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">Clinical Indicators</div>
                    <div class="description">
                      {{ item?.clinicalIndicator }}
                      <span *ngIf="!item?.clinicalIndicator">-</span>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.gt-md="row" fxLayoutGap="7">
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">Current DRG</div>
                    <div class="description">
                      {{ item?.currentDrgNo }} - {{ item?.currentDrgDescription }}
                      <span *ngIf="! item?.currentDrgNo">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16">
                  <div class="mb-16">
                    <div class="title">Initial Weight</div>
                    <div class="description">
                      {{ item?.initialWeight | number : '1.3-3' }}
                      <span *ngIf="!item?.initialWeight">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16">
                  <div class="mb-16">
                    <div class="title">Initial GMLOS</div>
                    <div class="description">
                      {{ item?.gmlos }}
                      <span *ngIf="!item?.gmlos">-</span>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.gt-md="row" fxLayoutGap="7">
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">Expected DRG</div>
                    <div class="description">
                      {{ item?.expectedDrgNo }} - {{ item?.expectedDrgDescription }}
                      <span *ngIf="!item?.expectedDrgNo">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16">
                  <div class="mb-16">
                    <div class="title">Expected Weight</div>
                    <div class="description">
                      {{ item?.expectedWeight | number : '1.3-3'  }}
                      <span *ngIf="!item?.expectedWeight">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16">
                  <div class="mb-16">
                    <div class="title">Expected GMLOS</div>
                    <div class="description">
                      {{ item?.expectedGmlos}}
                      <span *ngIf="!item?.expectedGmlos">-</span>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.gt-md="row" fxLayoutGap="7">
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16.5">
                  <div class="mb-16">
                    <div class="title">Query Status</div>
                    <div class="description">
                      {{ item?.queryStatus }}
                      <span *ngIf="!item?.queryStatus">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16">
                  <div class="mb-16">
                    <div class="title">Response Date</div>
                    <div class="description">
                      {{ item?.responseDate | date:'MMM d, y'}}
                      <span *ngIf="!item?.responseDate">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16">
                  <div class="mb-16">
                    <div class="title">Response Type</div>
                    <div class="description">
                      {{ item?.responseType }}
                      <span *ngIf="!item?.responseType">-</span>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.gt-md="row">
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="49.5">
                  <div class="mb-16 mr-8">
                    <div class="title">Follow up Comments</div>
                    <div class="description">
                      <div [innerHTML]="displayTextAreaContent(item?.followupComment)"></div>
                      <span *ngIf="!item?.followupComment">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="49.5">
                  <div class="mb-16">
                    <div class="title">Response</div>
                    <div class="description">
                      {{ item?.responseComment }}
                      <span *ngIf="!item?.responseComment">-</span>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.gt-md="row" class="mt-8" fxLayoutGap="7">
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="33">
                  <div class="mb-16">
                    <div class="title">Ending DRG</div>
                    <div class="description">
                      {{ item?.revisedDrgNo }} - {{ item?.revisedDrgDescription }}
                      <span *ngIf="!item?.revisedDrgNo">-</span>
                    </div>
                  </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16">
                  <div class="mb-16">
                    <div class="title">Ending Weight</div>
                    <div class="description">
                      {{ item?.revisedWeight | number : '1.3-3' }}
                      <span *ngIf="!item?.revisedWeight">-</span>
                    </div>
                  </div>
                </div>

                <div fxLayout="column mt-8" fxLayoutAlign="top" fxFlex="16.5">
                  <div class="mb-16">
                    <div class="title">Ending GMLOS</div>
                    <div class="description">
                      {{ item?.revisedGmlos }}
                      <span *ngIf="!item?.revisedGmlos">-</span>
                    </div>
                  </div>
                </div>

                <div fxLayout="column" fxLayoutAlign="top" fxFlex="16">
                  <div class="mb-16">
                    <div class="title">Weight Difference</div>
                    <div class="description">
                      {{ item?.weightDifference | number : '1.3-3' }}
                      <span *ngIf="!item?.weightDifference">-</span>
                    </div>
                  </div>
                </div>
              </div>
              <div fxLayout="row" fxLayout.gt-md="row">

              </div>
              <div fxLayout="row" fxLayout.gt-md="row" class="mt-16">
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="49.5">
                <div class="mb-16 mr-8">
                  <div class="title">Clinical Summary</div>
                  <div class="description">
                    <div [innerHTML]="displayTextAreaContent(item?.clinicalSummary)"></div>
                    <span *ngIf="!item?.clinicalSummary">-</span>
                  </div>
                </div>
                </div>
                <div fxLayout="column" fxLayoutAlign="top" fxFlex="49.5">
                  <div class="mb-16">
                    <div class="title">Comments</div>
                    <div class="description">
                      <div [innerHTML]="displayTextAreaContent(item?.comments)"></div>
                      <span *ngIf="!item?.comments">-</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="isReadonly">
            <button mat-icon-button attr.aria-label="Edit Query Finding {{ i + 1 }}" zhealthcareDrawerAction
              class="action-icon" [componentSelector]="
                _patientFormService.get('query-finding-form')
              " [size]="'drawer-lg'" [caption]="'Finding Information'" [primaryAction]="'Save'"
              [secondaryAction]="'Delete'" role="button" [entityKey]="item.id" [data]="item">
              <i aria-hidden="true" class="fa-solid fa-pen fg-lightgrey"></i>
            </button>
          </div>

        </mat-card>
      </div>
    </div>
  </div>
</ng-template>
<!--skeleton-->
<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="start space-between" class="m-16">
    <div fxLayout="column">
      <div class="line shine w-140 h-8"></div>
      <div class="line shine w-280 h-8"></div>
      <div class="line shine w-180 h-8"></div>
      <div class="line shine w-200 h-8"></div>
    </div>
  </div>
</ng-template>
<!--skeleton-->
<!--
<mat-card class="p-0 mb-8 mt-small-8">
  <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
    <div fxLayout="column" fxFlex="100" fxFlex.gt-sm="100" fxFlex.gt-md="100">
      <header fxLayout="row" fxLayoutAlign="space-between center" class="card-header-title card-header-border-bottom">
        <div fxLayout="row" fxLayoutAlign="start center">
          <span class="primary-heading font-weight-600" tabindex="0" aria-label="comments">
            Patient Findings
          </span>
        </div>
        <button mat-icon-button aria-label="Edit Patient Findings" zhealthcareDrawerAction
          [componentSelector]="_patientFormService.get('query-finding-form')"
          [size]="'drawer-sm'" [data]="patientInfo"
          title="Patient Finding"
          [primaryAction]="'Save'" role="button" [entityKey]="patientInfo?.id">
          <i aria-hidden="true"  class="fa-solid fa-pen"></i>
        </button>
      </header>

      <div *ngIf="(loading$ | async) === false; else loading" class="zhealthcare-info-container p-0">
        <div class="zhealthcare-info p-16"   *ngIf="(patientFindings$ | async) as patientFindings">
          <div class="title" tabindex="0" aria-label="Patient Finding">
            Patient Findings
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-card>
<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="start space-between">
    <div fxLayout="column" class="pl-16 mt-16">
      <div class="line shine w-140 h-8"></div>
      <div class="line shine w-280 h-8"></div>
      <div class="line shine w-180 h-8"></div>
      <div class="line shine w-200 h-8"></div>
    </div>
  </div>
</ng-template> -->
