<div id="zhealthcare-overlay-component-container-examples">
  <div class="center">
    <div class="content">
      <div fxLayout="column" fxLayout.gt-md="row">
        <div
          class="preview"
          fxLayout="column"
          fxLayoutAlign="center"
          fxFlex="50"
        >
          <div
            tabindex="0"
            aria-label=" File Viewer Component In Overlay"
            class="mat-caption secondary-text mb-16"
          >
            File Viewer Component In Overlay
          </div>
          <mat-card>
            <button
              aria-label="Click to open"
              class="link-btn"
              color="primary"
              (click)="open(fileViewerComponentRef)"
            >
              Show File
            </button>
          </mat-card>
        </div>

        <div fxLayout="column" fxLayoutAlign="center" fxFlex="50">
          <mat-tab-group dynamicHeight="true">
            <mat-tab label="Parent Component HTML">
              <fuse-highlight
                lang="html"
                class="source-code mt-16"
                fxLayout="column"
                fxLayoutAlign="center"
                fxFlex="100"
              >
                <textarea #source hidden="hidden">
              <div fxLayout="row wrap" fxLayoutAlign="start center">
                <mat-card>
                  <button
                  aria-label="Click to open"
                  class="link-btn"
                  color="primary"
                  (click)="open(fileViewerComponentRef)"
                >
                  Show File
                </button>
              </mat-card>
              </div>
        </textarea
                >
              </fuse-highlight>
            </mat-tab>

            <mat-tab label="Parent Component TS">
              <fuse-highlight
                class="pt-16"
                lang="ts"
                class="source-code"
                fxLayout="column"
                fxLayoutAlign="center"
                fxFlex="100"
              >
                <textarea #source hidden="hidden">

                  import { Component, ComponentFactoryResolver, TemplateRef } from '@angular/core';
                  import { OverlayService } from '@zhealthcare/ux';
                  import { ComponentType } from '@angular/cdk/portal';
                  import { DocumentViewerConfiguration } from '@zhealthcare/plugin/file-upload';
                  import { FileEndpoint } from '@zhealthcare/plugin/file-upload';
                  import { FileViewerContainerComponent } from '../../file-viewer-container/file-viewer-container.component';
                  
                  @Component({
                    selector: 'zhealthcare-app-zhealthcare-file-viewer-overlay-demo',
                    templateUrl: './zhealthcare-file-viewer-overlay-demo.component.html',
                    styleUrls: ['./zhealthcare-file-viewer-overlay-demo.component.scss']
                  })
                  export class zhealthcareFileViewerOverlayDemoComponent {
                    
                    fileViewerComponentRef: any;
                    documentConfiguration: DocumentViewerConfiguration;
                  
                    constructor(private overlayService: OverlayService, private r: ComponentFactoryResolver) {
                      this.documentConfiguration = new DocumentViewerConfiguration();
                      this.documentConfiguration.fileEndpoint = new FileEndpoint('student.profile', 'student');
                      this.documentConfiguration.fileCollectionKey = '3f817ef6-74a5-463b-bc64-64d44a966089';
                      this.fileViewerComponentRef = this.r.resolveComponentFactory(FileViewerContainerComponent).componentType;
                    }
                  
                    open(content: TemplateRef<any> | ComponentType<any> | string) {
                      const ref = this.overlayService.open(content, this.documentConfiguration);
                    }
                  
                  }
              
            
        </textarea
                >
              </fuse-highlight>
            </mat-tab>

            <mat-tab label="Child Component HTML">
              <fuse-highlight
                class="pt-16"
                lang="html"
                class="source-code"
                fxLayout="column"
                fxLayoutAlign="center"
                fxFlex="100"
              >
                <textarea #source hidden="hidden">
                  <div id="fileViewer_container" fxLayout="column">

                    <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-16">
                      <div fxLayout="row" fxLayoutAlign="center center">
                       

                        <button mat-icon-button aria-label="Click to Exit" class="mr-4 back_button fuse-white-fg" (click)="cancel()">
                          <i aria-hidden="true" class="fa-light fa-arrow-left-long"></i>
                        </button>
                        <h2 tabindex="0" aria-label="File Title" class="document_title fuse-white-fg">File Title</h2>
                      </div>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center center" >
                      <mat-card class="file_viewer_container">
                        <zhealthcare-file-viewer [documentConfiguration]="documentConfiguration"></zhealthcare-file-viewer>
                      </mat-card>
                    </div>
                  </div>
              </textarea
                >
              </fuse-highlight>
            </mat-tab>

            <mat-tab label="Child Component TS">
              <fuse-highlight
                class="pt-16"
                lang="ts"
                class="source-code"
                fxLayout="column"
                fxLayoutAlign="center"
                fxFlex="100"
              >
                <textarea #source hidden="hidden">
                  import { Component } from '@angular/core';
                  import { zhealthcareOverlayRef } from '@zhealthcare/ux';
                  import { DocumentViewerConfiguration } from '@zhealthcare/plugin/file-upload';
                  
                  @Component({
                    selector: 'ryzen-file-viewer-container',
                    templateUrl: './file-viewer-container.component.html',
                    styleUrls: ['./file-viewer-container.component.scss']
                  })
                  export class FileViewerContainerComponent {
                  
                    documentConfiguration: DocumentViewerConfiguration;
                    
                    constructor(private overlayRef: zhealthcareOverlayRef) {
                      this.documentConfiguration = this.overlayRef.data;
                    }
                    
                    cancel() {
                      this.overlayRef.close(null);
                    }
                  
                  }
                  
              
            </textarea
                >
              </fuse-highlight>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</div>
