<div
  id="zhealthcare_graphs_standard_pages"
  class="page-layout full-width inner-scroll w-100-p"
>
  <div class="center">
    <div class="content" fxLayout="column">
      <div class="gray-header mb-16" #graphs_page_header>
        <div fxLayout="row wrap" fxLayoutAlign="space-between center">
          <div fxLayout="row" fxLayoutAlign="start center">
            <div class="mr-16">
              <button
                mat-icon-button
                aria-label="Click to go back"
                class="action-icon mx-8"
                routerLink="/admin/ux/ui/zhealthcare_graphs_standards/pages"
              >
                <i aria-hidden="true" class="fa-light fa-arrow-left-long"></i>
              </button>
            </div>
            <div class="pr-16">
              <span class="font-20 font-weight-600">Graphs</span>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="end center">
            <fuse-theme-options [view]="'toggle'"></fuse-theme-options>
          </div>
        </div>
      </div>

      <div
        class="overflow-auto"
        [style.height.px]="_headerService.scrollContentheight"
      >
        <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start">
          <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <mat-card
              class="p-0 mr-16 mb-16"
              fxLayout="column"
              tabindex="0"
              aria-label="graph of population verus Country"
            >
              <header
                tabindex="0"
                aria-label="heading of population verus Country"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
              >
                <div fxLayout="row" fxLayoutAlign="start center">
                  <span class="primary-heading">Header Title</span>
                </div>
              </header>

              <div
                class="p-16"
                fxLayout="row wrap"
                fxLayoutAlign="start"
                fxFlex="100"
              >
                <div
                  fxFlex="100"
                  fxFlex.gt-md="80"
                  fxFlex.md="100"
                  fxLayout="column"
                >
                  <div fxLayout="column" class="mb-16">
                    <div class="font-weight-600 font-size-32">
                      <span>00</span>
                    </div>
                    <div><span>Count...</span></div>
                  </div>

                  <div
                    class="h-400 w-100-p"
                    fxlayout="row"
                    fxLayoutAlign="start"
                    tabindex="0"
                    aria-label="main graph content"
                  >
                    <ngx-charts-bar-vertical
                      [scheme]="colorScheme"
                      [results]="graphs_data_medium"
                      [gradient]="gradient"
                      [animations]="animations"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="false"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)"
                    >
                    </ngx-charts-bar-vertical>
                  </div>
                </div>

                <div fxFlex="100" fxFlex.gt-md="20" fxFlex.md="100">
                  <div class="graph_legend" fxLayout="column">
                    <div class="legend_title font-weight-600 mb-4 font-16">
                      Legend
                    </div>
                    <div
                      fxLayout="column"
                      fxLayoutAlign="start"
                      class="legend_label_containter"
                    >
                      <div
                        *ngFor="let item of graphs_data_medium"
                        class="legend_label"
                        fxLayoutAlign="start center"
                        fxLayout="row"
                      >
                        <div
                          class="legend_label_color"
                          [style.backgroundColor]="item.color"
                        ></div>
                        <div [title]="item.name" class="legend_label_text">
                          <span>{{ item.name }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>

            <mat-card
              class="p-0 mr-16"
              tabindex="0"
              aria-label="graph of population verus Country"
            >
              <header
                tabindex="0"
                aria-label="heading of population verus Country"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
              >
                <div fxLayout="row" fxLayoutAlign="start center">
                  <span class="primary-heading">Header Title</span>
                </div>
              </header>

              <div class="p-16" fxLayout="column">
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-between center"
                  class="mb-16"
                >
                  <div fxLayout="column" class="mb-16">
                    <div class="font-weight-600 font-size-32">
                      <span>00</span>
                    </div>
                    <div><span>Count...</span></div>
                  </div>

                  <div class="graph_legend" fxLayout="column" fxFlex="65">
                    <div class="legend_title font-weight-600 mb-4 font-16">
                      Legend
                    </div>
                    <div
                      fxLayout="row wrap"
                      fxLayoutAlign="start center"
                      class="legend_label_containter"
                    >
                      <div
                        *ngFor="let item of graphs_data_medium"
                        fxFlex="100"
                        fxFlex.gt-md="33.33"
                        fxFlex.md="50"
                        class="legend_label"
                        fxLayoutAlign="start center"
                        fxLayout="row"
                      >
                        <div
                          class="legend_label_color"
                          [style.backgroundColor]="item.color"
                        ></div>
                        <div [title]="item.name" class="legend_label_text">
                          <span>{{ item.name }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="h-300 w-100-p"
                  fxlayout="row"
                  fxLayoutAlign="start"
                  tabindex="0"
                  aria-label="main graph content"
                >
                  <ngx-charts-bar-vertical
                    [scheme]="colorScheme"
                    [results]="graphs_data_medium"
                    [animations]="false"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [legend]="false"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [yAxisLabel]="yAxisLabel"
                    (select)="onSelect($event)"
                  >
                  </ngx-charts-bar-vertical>
                </div>
              </div>
            </mat-card>
          </div>

          <div fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <mat-card
              class="p-0 mr-16 mb-16"
              fxLayout="column"
              tabindex="0"
              aria-label="graph of population verus Country"
            >
              <header
                tabindex="0"
                aria-label="heading of population verus Country"
                fxLayout="row"
                fxLayoutAlign="space-between center"
                class="card-header-title card-header-border-bottom py-8 pr-8 pl-16"
              >
                <div fxLayout="row" fxLayoutAlign="start center">
                  <span class="primary-heading">Header Title</span>
                </div>
              </header>

              <div
                class="p-16"
                fxLayout="row wrap"
                fxLayoutAlign="start"
                fxFlex="100"
              >
                <div
                  fxFlex="100"
                  fxFlex.gt-md="80"
                  fxFlex.md="100"
                  fxLayout="column"
                >
                  <div
                    class="h-720 w-100-p"
                    fxlayout="row"
                    fxLayoutAlign="start"
                    tabindex="0"
                    aria-label="main graph content"
                  >
                    <ngx-charts-bar-vertical
                      [scheme]="colorScheme"
                      [results]="graphs_data"
                      [gradient]="gradient"
                      [animations]="animations"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="false"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel"
                      (select)="onSelect($event)"
                    >
                    </ngx-charts-bar-vertical>
                  </div>
                </div>

                <div fxFlex="100" fxFlex.gt-md="20" fxFlex.md="100">
                  <div class="graph_legend" fxLayout="column">
                    <div class="legend_title font-weight-600 mb-4 font-16">
                      Legend
                    </div>
                    <div
                      fxLayout="column"
                      fxLayoutAlign="start"
                      class="legend_label_containter"
                    >
                      <div
                        *ngFor="let item of graphs_data"
                        class="legend_label"
                        fxLayoutAlign="start center"
                        fxLayout="row"
                      >
                        <div
                          class="legend_label_color"
                          [style.backgroundColor]="item.color"
                        ></div>
                        <div [title]="item.name" class="legend_label_text">
                          <span>{{ item.name }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
