<div class="drawer-p">
    <mat-card fxLayout="column">
        <div fxLayout="column" fxLayoutAlign="start start" *ngFor="let item of showMoreFlters; first as isFirst">
            <div *ngIf="item?.value?.length>0" [ngClass]="{ 'mt-12' : !isFirst }">
                <span class="pb-4">{{item.displayName}}: </span>
                <mat-chip-list class="example-chip">
                    <mat-chip class="example-box" *ngFor="let chip of item.filterValue | keyvalue">
                        {{chip.value}}
                        <mat-icon matChipRemove (click)="clearFilters(chip.key,chip.value, item)">cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </div>
        </div>
    </mat-card>
</div>