<div id="tooltip-demo" class="p-12 w-100-p page-layout">
  <div class="gray-header mb-16">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="mr-16">
          <button
            mat-icon-button
            aria-label="Click to go back"
            routerLink="/admin/ux/ui/exxat-component-library"
          >
            <i aria-hidden="true" class="fa-light fa-arrow-left-long"></i>
          </button>
        </div>
        <div class="mat-title">Tooltip Examples</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <fuse-theme-options [view]="'toggle'"></fuse-theme-options>
      </div>
    </div>
  </div>

  <div class="center pl-0 pr-0">
    <div class="gray-header">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="w-100-p">
          <ryzen-tooltip-demo-navbar></ryzen-tooltip-demo-navbar>
        </div>
      </div>
    </div>

    <div class="mt-16 overflow-auto">
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="mt-16" fxLayout="column" fxLayout.gt-md="row">
      <div class="preview" fxLayout="column" fxLayoutAlign="start" fxFlex="48">
        <p class="warn-fg font-16" tabindex="0" aria-label="Note from UI Team">
          Note from UI Team
        </p>
        <p
          class="warn-fg font-14"
          tabindex="0"
          aria-label="Developers are requested not to make any extra self made Class or
        write hardcode CSS or add Colors. Since we are following MULTI theme,
        Theme will break if Material theme structure and guidlines are not
        followed properly."
          class="warn-fg font-14"
        >
          Developers are requested not to make any extra self made Class or
          write hardcode CSS or add Colors. Since we are following MULTI theme,
          Theme will break if Material theme structure and guidlines are not
          followed properly.
        </p>
        <strong>Connect To UI team for any such cases.</strong>
      </div>
    </div>
  </div>
</div>
