<div class="page-layout simple tabbed" fxLayout="column">
  <!-- CONTENT -->
  <div class="content">
    <div fxLayout="column" fxLayout.gt-md="row" class="mt-16">

      <div class="pr-md-16 pr-0" fxLayout="column" fxLayoutAlign="start" fxFlex.gt-md="50" fxFlex="100">
        <mat-card>
          <nav mat-tab-nav-bar class="secondary-tab-nav-bar">
            <a mat-tab-link *ngFor="let link of navigations" [routerLink]="link.url" routerLinkActive
              #rla="routerLinkActive" [active]="rla.isActive">
              <span>{{ link.title }}</span>
            </a>
          </nav>
        </mat-card>
      </div>


      <fuse-highlight lang="html" class="source-code mt-lg-0 mt-16" fxLayout="column" fxLayoutAlign="center"
        fxFlex.gt-md="50" fxFlex="100">
        <textarea #source hidden="hidden">

          <nav mat-tab-nav-bar class="secondary-tab-nav-bar">
            <a mat-tab-link *ngFor="let link of navigations" [routerLink]="link.url" routerLinkActive #rla="routerLinkActive"
              [active]="rla.isActive">
              <span>link.title</span>
            </a>
          </nav>

            </textarea>
      </fuse-highlight>

    </div>
  </div>
</div>