<div>

    <!--   SIDEBAR HEADER -->
    <div class="mt-12 px-16">

        <button mat-icon-button role="img" class="action-icon" routerLink="/admin/ux/ui/exxat-apps-repo"
            aria-hidden="true">
            <mat-icon> arrow_back</mat-icon>
        </button>
        <span class="font-16 pt-4 ml-4">Student List</span>
    </div>
    <!-- SEARCH -->
    <div class="search-wrapper m-16">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="s-16 secondary-text">search</mat-icon>
            <input matInput placeholder="Search" fxFlex>
        </div>
    </div>
    <!-- / SEARCH -->
    <!-- / SIDEBAR HEADER -->

    <!--  SIDEBAR CONTENT -->
    <div class="content scroll-hover">
        <mat-list class="pb-128 mb-128">
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="active-list-item p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>

            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
            <mat-divider class="w-90-p margin-auto"></mat-divider>
            <button mat-button class="no-space m-0 p-0">
                <mat-list-item class="p-8">
                    <img src="assets/images/avatars/anna-strong.png" class="mat-avatar avatar" />
                    <span class="font-14 font-weight-600">Strong Anna</span>
                </mat-list-item>
            </button>
        </mat-list>
    </div>
    <!-- / SIDEBAR CONTENT -->

</div>