<div id="exxat-drawers" class="page-layout simple tabbed" fxLayout="column">
  <!-- CONTENT -->
  <div class="content">

    <mat-tab-group dynamicHeight="true">

      <!-- <mat-tab label="Confirm Dialog Box Example">
        <ryzen-confirm-dialog-box-demo></ryzen-confirm-dialog-box-demo>
      </mat-tab> -->

      <!-- <mat-tab label="Progress Spinner Example">
        <ryzen-spinner-example></ryzen-spinner-example>
      </mat-tab> -->

      <!-- <mat-tab label="Exxat Expanded Filter Example">
        <ryzen-exxat-expanded-filter-example></ryzen-exxat-expanded-filter-example>
      </mat-tab> -->

      <!-- <mat-tab label="Exxat Tree Structure Example">
        <ryzen-exxat-tree-demo></ryzen-exxat-tree-demo>
      </mat-tab> -->

      <!-- <mat-tab label="Exxat Tag Example">
        <ryzen-exxat-tag-example></ryzen-exxat-tag-example>
      </mat-tab> -->

      <!-- <mat-tab label="Exxat Chips">
        <ryzen-exxat-weekday-picker></ryzen-exxat-weekday-picker>
      </mat-tab> -->

      <!-- <mat-tab label="Exxat File Viewer">
      <mat-tab label="Exxat File Viewer">
        <ryzen-exxat-file-viewer-tab></ryzen-exxat-file-viewer-tab>
      </mat-tab> -->

      <!-- <mat-tab label="Exxat Avatar">
        <ryzen-exxat-avatar></ryzen-exxat-avatar>
      </mat-tab> -->
<!-- 
      <mat-tab label="Exxat Avatar List Item">
        <ryzen-exxat-avatar-list-item-example></ryzen-exxat-avatar-list-item-example>
      </mat-tab> -->



      <!-- <mat-tab label="File Upload Examples">
        <ryzen-exxat-file-upload></ryzen-exxat-file-upload>
      </mat-tab> -->

      <!-- <mat-tab label="Accordian Example">
        <ryzen-exxat-accordian></ryzen-exxat-accordian>
      </mat-tab> -->

      <!-- <mat-tab label="Exxat Search Bar">
        <ryzen-exxat-search></ryzen-exxat-search>
      </mat-tab> -->

      <!-- <mat-tab label="Exxat Skeleton">
        <ryzen-exxat-skeleton-example></ryzen-exxat-skeleton-example>
      </mat-tab> -->

    </mat-tab-group>

  </div>
  <!-- / CONTENT -->

</div>