<div id="zhealthcare-drawers" class="page-layout simple tabbed" fxLayout="column">
  <!-- CONTENT -->
  <div class="content">

    <mat-tab-group dynamicHeight="true">

      <!-- <mat-tab label="Confirm Dialog Box Example">
        <ryzen-confirm-dialog-box-demo></ryzen-confirm-dialog-box-demo>
      </mat-tab> -->

      <!-- <mat-tab label="Progress Spinner Example">
        <ryzen-spinner-example></ryzen-spinner-example>
      </mat-tab> -->

      <!-- <mat-tab label="zhealthcare Expanded Filter Example">
        <ryzen-zhealthcare-expanded-filter-example></ryzen-zhealthcare-expanded-filter-example>
      </mat-tab> -->

      <!-- <mat-tab label="zhealthcare Tree Structure Example">
        <ryzen-zhealthcare-tree-demo></ryzen-zhealthcare-tree-demo>
      </mat-tab> -->

      <!-- <mat-tab label="zhealthcare Tag Example">
        <ryzen-zhealthcare-tag-example></ryzen-zhealthcare-tag-example>
      </mat-tab> -->

      <!-- <mat-tab label="zhealthcare Chips">
        <ryzen-zhealthcare-weekday-picker></ryzen-zhealthcare-weekday-picker>
      </mat-tab> -->

      <!-- <mat-tab label="zhealthcare File Viewer">
      <mat-tab label="zhealthcare File Viewer">
        <ryzen-zhealthcare-file-viewer-tab></ryzen-zhealthcare-file-viewer-tab>
      </mat-tab> -->

      <!-- <mat-tab label="zhealthcare Avatar">
        <ryzen-zhealthcare-avatar></ryzen-zhealthcare-avatar>
      </mat-tab> -->
<!--
      <mat-tab label="zhealthcare Avatar List Item">
        <ryzen-zhealthcare-avatar-list-item-example></ryzen-zhealthcare-avatar-list-item-example>
      </mat-tab> -->



      <!-- <mat-tab label="File Upload Examples">
        <ryzen-zhealthcare-file-upload></ryzen-zhealthcare-file-upload>
      </mat-tab> -->

      <!-- <mat-tab label="Accordian Example">
        <ryzen-zhealthcare-accordian></ryzen-zhealthcare-accordian>
      </mat-tab> -->

      <!-- <mat-tab label="zhealthcare Search Bar">
        <ryzen-zhealthcare-search></ryzen-zhealthcare-search>
      </mat-tab> -->

      <!-- <mat-tab label="zhealthcare Skeleton">
        <ryzen-zhealthcare-skeleton-example></ryzen-zhealthcare-skeleton-example>
      </mat-tab> -->

    </mat-tab-group>

  </div>
  <!-- / CONTENT -->

</div>
