<div class="page-layout carded left-sidebar inner-scroll">
    <fuse-sidebar class="sidebar width-x-sm" name="carded-left-sidebar-tabbed-2" position="left" lockedOpen="gt-md"
        [style.height.px]="_headerService.scrollContentheight + 25">
        <exxat-student-list-sidebar></exxat-student-list-sidebar>
    </fuse-sidebar>

    <!-- CENTER -->
    <div class="center ml-lg-16">
        <div class="pb-16" fxLayout="column">
            <exxat-profile-header class="mb-16"></exxat-profile-header>
            <exxat-tab-navbar></exxat-tab-navbar>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>