<div class="chips-container">
  <div fxLayout="row" fxLayoutAlign="start center" class="ml-md-84">
    <div class="demo-page-chip zhealthcare-chip">
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <a class="mb-16 pl-xs-16 mr-16">Clear</a>
        <div *ngFor="let chip of chipList" class="mb-16">
          <input type="checkbox" [id]="chip" />
          <label [for]="chip">{{chip}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<mat-divider fxHide.lt-sm></mat-divider>