#zhealthcare_graphs_standard_containter {
  .margin-auto {
    margin: 0 auto;
  }
  .item_list:hover {
    cursor: pointer;
    box-shadow: 0px 3px 1px -2px rgba(64, 85, 181, 0.2),
      0px 2px 2px 0px rgba(64, 85, 181, 0.14),
      0px 1px 5px 0px rgba(64, 85, 181, 0.12) !important;
  }
}
