

<div class="page-layout carded" >
    <div fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-16" fxFlex="100">
            <h2 class="primary-fg">Two Column Layout</h2>
            <button mat-button class="primary" (click)="openDialog()">Click for HTML</button>
        </div>
        <div  fxLayout="row wrap"  fxFlex="100">
            <div class="p-16 mr-md-16 green-100-bg mb-16" fxLayout="column"  fxFlex="100" fxFlex.md="49.1" fxFlex.gt-md="49.4">
                <h2>This is the column with 50% of width.</h2>
                <h2>You can change the width of the columns accordingly by changing the value of fxFlex.gt-sm.</h2>
            </div>
            <div class="p-16 green-200-bg mb-16" fxLayout="column"  fxFlex="100"  fxFlex.md="49.2" fxFlex.gt-md="49.4">
                <h2>This is the column with 50% of width.</h2>
                <h2>You can change the width of the columns accordingly by changing the value of fxFlex.gt-sm.</h2>
            </div>
        </div>
    </div>
</div>
