<div
  class="page-layout simple left-sidebar inner-sidebar inner-scroll page-with-header"
>
  <!-- HEADER -->
  <div class="container-bg p-16" fxLayout="row" fxLayoutAlign="start center">
    <button
      mat-icon-button
      class="sidebar-toggle mr-8"
      fxHide.gt-md
      (click)="toggleSidebar('simple-left-sidebar')"
    >
      <i aria-hidden="true" class="fa-light fa-bars"></i>
    </button>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content mt-16" fxFlex="100">
    <!-- SIDEBAR -->
    <fuse-sidebar
      class="sidebar"
      name="simple-left-sidebar"
      position="left"
      lockedOpen="gt-md"
      fxFlex.gt-md="25"
    >
      <!-- SIDEBAR CONTENT -->
      <div class="content" fusePerfectScrollbar>
        <fuse-demo-one-sidebar></fuse-demo-one-sidebar>
      </div>
      <!-- / SIDEBAR CONTENT -->
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div
      class="center ml-lg-16 container-bg"
      fusePerfectScrollbar
      fxFlex.gt-md="75"
    >
      <!-- CONTENT -->
      <div class="content">
        <content-demo-one></content-demo-one>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->

    <button
      mat-flat-button
      color="accent"
      class="float-button"
      (click)="openDialog()"
    >
      Press for code
    </button>
  </div>
  <!-- / CONTENT -->
</div>
