<div
  class="page-layout simple tabbed p-12"
  fxLayout="column"
  id="zhealthcare-tree-wrapper"
>
  <div class="center pl-0 pr-0">
    <div class="gray-header mb-16">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="mr-8">
            <button
              mat-icon-button
              aria-label="Click to go back"
              routerLink="/admin/ux/ui/zhealthcare-component-library"
            >
              <i aria-hidden="true" class="fa-solid fa-arrow-left-long"></i>
            </button>
          </div>
          <div class="mat-title">zhealthcare Tree Examples</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
          <fuse-theme-options [view]="'toggle'"></fuse-theme-options>
        </div>
      </div>
    </div>

    <div class="mt-16">
      <navbar></navbar>
    </div>

    <div class="mt-16">
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
