<div id="routing-checklist-drawer" class="drawer-p">
  <mat-card>
    <div fxLayout="column" class="checkbox-list">
      <!--document details-->

      <div fxLayout="row" fxLayoutAlign="start center">
        <mat-checkbox class="mr-8"></mat-checkbox>
        <span>Select all</span>
      </div>



      <mat-accordion class="compliance-student-side-bar-list pl-16">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox class="mr-8"></mat-checkbox>
              <span>checkbox 1 </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="card-content mt-16 ml-16">
            <mat-form-field appearance="fill" class="w-50-p">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker2" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker2
                color="primary"
                class="action-icon"
              ></mat-datepicker>
            </mat-form-field>
            
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="compliance-student-side-bar-list pl-16">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox class="mr-8"></mat-checkbox>
              <span>checkbox 2 </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="card-content mt-16 ml-16">
            <mat-form-field appearance="fill" class="w-50-p">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker2" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker2
                color="primary"
                class="action-icon"
              ></mat-datepicker>
            </mat-form-field>
            
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="compliance-student-side-bar-list pl-16">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox class="mr-8"></mat-checkbox>
              <span>checkbox 3 </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="card-content mt-16 ml-16">
            <mat-form-field appearance="fill" class="w-50-p">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker2" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker2
                color="primary"
                class="action-icon"
              ></mat-datepicker>
            </mat-form-field>
            
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="compliance-student-side-bar-list pl-16">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox class="mr-8"></mat-checkbox>
              <span>checkbox 4 </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="card-content mt-16 ml-16">
            <mat-form-field appearance="fill" class="w-50-p">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker2" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker2
                color="primary"
                class="action-icon"
              ></mat-datepicker>
            </mat-form-field>
            
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion class="compliance-student-side-bar-list pl-16">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
              <mat-checkbox class="mr-8"></mat-checkbox>
              <span>checkbox 5 </span>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="card-content mt-16 ml-16">
            <mat-form-field appearance="fill" class="w-50-p">
              <mat-label>Date of birth</mat-label>
              <input matInput [matDatepicker]="picker2" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker2"
              ></mat-datepicker-toggle>
              <mat-datepicker
                #picker2
                color="primary"
                class="action-icon"
              ></mat-datepicker>
            </mat-form-field>
            
          </div>
        </mat-expansion-panel>
      </mat-accordion>



     
    </div>
  </mat-card>
</div>
