<div
  id="plan-maaping-demo"
  class="page-layout carded left-sidebar"
  fxLayout="column"
>
  <header fxLayout="row">
    <button
      mat-icon-button
      aria-label="Click to go back"
      class="action-icon mx-8"
      routerLink="/admin/ux/ui/zhealthcare-apps-repo"
    >
      <i aria-hidden="true" class="fal fa-long-arrow-left"></i>
    </button>
    <div class="mb-16 px-xs-16 pt-xs-16 ml-8">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column">
          <h2
            tabindex="0"
            class="font-weight-600"
            aria-label="PT509 Introduction to Neurology"
          >
            PT509 Introduction to Neurology
          </h2>
          <div fxLayout="row" fxLayoutAlign="start center">
            <span tabindex="0" aria-label="Class of 2020">Class of 2020</span>
            <span class="dot"></span>
            <span tabindex="0" aria-label="year 1">year 1</span>
            <span class="dot"></span>
            <span tabindex="0" aria-label="Fall">Fall</span>
            <span class="dot"></span>
            <span tabindex="0" aria-label="2018-2019">2018-2019</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="ml-lg-44" fxLayout="row" fxFlex="100">
    <fuse-sidebar
      Resizable
      [resizableMinWidth]="500"
      class="sidebar sidebar-resizable"
      name="carded-left-sidebar-2"
      position="left"
      lockedOpen="gt-md"
      [style.height.px]="_headerService.scrollContentheight"
    >
      <!-- SIDEBAR HEADER -->
      <header
        fxLayout="row"
        fxLayoutAlign="space-between center"
        class="card-header-title card-header-border-bottom p-16"
      >
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="100">
          <div class="general-item-active-class p-16 w-100-p">
            <span>Map entire course (PT509 Introduction to Neurology) </span>
          </div>
        </div>
      </header>
      <!-- / SIDEBAR HEADER -->

      <div class="content" fusePerfectScrollbar>
        <mat-tree
          [dataSource]="dataSource"
          [treeControl]="treeControl"
          class="tree-examples-style"
          tabindex="0"
          aria-label="tree example four"
        >
          <!-- node with checkbox -->
          <mat-tree-node
            *matTreeNodeDef="let node"
            matTreeNodeToggle
            matTreeNodePadding
            class="mt-8 mr-16"
          >
            <button mat-icon-button disabled></button>
            <div
              fxLayout="row"
              fxLayoutAlign="start start"
              fxFlex="100"
              class="tree-node-hover p-8 ml-12"
              (click)="activeNode = node"
              [ngClass]="{ 'tree-node-active': activeNode === node }"
            >
              <div
                fxLayout="row"
                fxLayoutAlign="space-between start"
                fxFlex="100"
                tabindex="0"
                aria-label="child node"
              >
                <div fxLayout="row" fxLayoutAlign="start start" class="pr-16">
                  <span class="dot dot-lg warn-bg mt-4"></span>
                  <span tabindex="0" [attr.aria-label]="node.item">{{
                    node.item
                  }}</span>
                </div>
                <span tabindex="0" aria-label="six" class="font-weight-600"
                  >(06)</span
                >
              </div>
            </div>
          </mat-tree-node>

          <!-- parent node without plus icon -->
          <mat-tree-node
            *matTreeNodeDef="let node; when: hasChild"
            matTreeNodePadding
            tabindex="0"
            aria-label="parent node"
            [ngClass]="{ 'mt-8 mr-8': node.level != 0 }"
          >
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxFlex="100"
              class="tree-node-hover p-8 tree-node-bg"
              (click)="activeNode = node"
              [ngClass]="{
                'tree-node-active': activeNode === node,
                'accordian-style-node': node.level === 0
              }"
            >
              <button
                mat-icon-button
                matTreeNodeToggle
                class="action-icon mr-4"
                aria-label="toggle button for parent node"
              >
                <i
                  aria-hidden="true"
                  [ngClass]="
                    treeControl.isExpanded(node)
                      ? 'fa-light fa-chevron-down s-18'
                      : 'fa-light fa-chevron-right s-18'
                  "
                  class="accent-fg"
                ></i>
              </button>
              <div
                fxLayout="row"
                fxLayoutAlign="space-between start"
                fxFlex="100"
                tabindex="0"
                aria-label="parent node"
              >
                <div fxLayout="row" fxLayoutAlign="start start">
                  <span
                    class="dot dot-lg primary-bg mt-4"
                    *ngIf="node.level != 0"
                  ></span>
                  <span tabindex="0" [attr.aria-label]="node.item">
                    {{ node.item }}</span
                  >
                </div>
                <div *ngIf="node.level === 0" class="mr-8">
                  <span tabindex="0" aria-label="10/80">10/80</span>
                </div>
                <div
                  tabindex="0"
                  aria-label="21"
                  *ngIf="node.level != 0"
                  class="font-weight-600"
                >
                  (21)
                </div>
              </div>
            </div>
          </mat-tree-node>
        </mat-tree>
      </div>
    </fuse-sidebar>

    <div class="center ml-lg-16">
      <div class="toolbar mb-16" fxHide.gt-md>
        <button
          mat-icon-button
          class="sidebar-toggle"
          fxHide.gt-md
          (click)="toggleSidebar('carded-left-sidebar-2')"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="content" fusePerfectScrollbar>
        <div class="w-100-p mb-16 px-xs-16">
          1.1. Possess the theoretical and scientific knowledge to perform
          original research at the basic, applied or clinical level leading to
          scientific presentations, peer-reviewed publications, and the
          potential to compete for extramural funding through scientific grant
          writing.
        </div>

        <mat-card
          class="card-header-title py-8 pr-8 mx-0 pl-16 w-100-p mb-16"
          tabindex="0"
          aria-label="CAPTE card"
        >
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
            <h2
              class="text-capitalize brown-heading font-weight-600"
              tabindex="0"
              aria-label="heading CAPTE"
            >
              CAPTE
            </h2>
            <button
              mat-icon-button
              class="icon-fill-bg"
              aria-label="Add Objective"
              zhealthcareManifoldPanelAction
              [componentSelector]="
                _PlanAppDemoDrawerService.get('ryzen-add-capte-details-drawer')
              "
              [size]="'drawer-lg'"
              [caption]="'CAPTE'"
            >
              <i
                aria-hidden="true"
                class="fa-light fa-plus fuse-white-fg s-18"
              ></i>
            </button>
          </div>
        </mat-card>

        <mat-card class="w-100-p p-0 mx-0 mb-16">
          <mat-accordion
            class="w-100-p"
            tabindex="0"
            aria-label="expansion panel for CAPTE card"
          >
            <mat-expansion-panel class="border-radius-20 zhealthcare-list">
              <mat-expansion-panel-header
                class="border-bottom border-radius-0 card-header-title"
              >
                <mat-panel-title
                  fxLayoutAlign="space-between center"
                  fxLayout="row"
                >
                  <div>
                    <h2
                      class="text-capitalize brown-heading font-weight-600"
                      tabindex="0"
                      aria-label="heading CAPTE card"
                    >
                      CAPTE card
                    </h2>
                  </div>
                  <div class="mr-20">
                    <span
                      tabindex="0"
                      aria-label="Mapped - 2/120"
                      class="font-16"
                      >Mapped - 2/120</span
                    >
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div fxLayout="column">
                <div
                  fxLayout="column"
                  fxLayoutAlign="center start "
                  class="border-bottom p-16"
                >
                  <button
                    mat-button
                    class="action-icon mr-16"
                    aria-label="Add mapping button"
                    zhealthcareManifoldPanelAction
                    [componentSelector]="
                      _PlanAppDemoDrawerService.get(
                        'ryzen-add-capte-details-drawer'
                      )
                    "
                    [size]="'drawer-lg'"
                    [caption]="'CAPTE'"
                  >
                    <i
                      aria-hidden="true"
                      class="fa-light fa-plus s-18 accent-fg mr-4"
                    ></i>
                    Add mapping
                  </button>
                  <span tabindex="0" aria-label="7D1, 7D02" class="pt-16">
                    7D1, 7D02
                  </span>
                </div>
                <div class="p-16">
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-between start"
                    class="pb-16"
                  >
                    <span
                      id="text_01"
                      tabindex="0"
                      class="pr-16 truncate-with-hover"
                      [tooltip]="content_text_01"
                      [attr.aria-label]="content_text_01"
                      [display]="isTextOverflow('text_01')"
                      >{{ content_text_01 }}
                    </span>

                    <div fxLayout="row">
                      <div class="mr-8">
                        <button
                          mat-icon-button
                          class="action-icon"
                          aria-label="edit"
                        >
                          <i
                            aria-hidden="true"
                            class="fa-light fa-pen icon-fill s-18"
                          ></i>
                        </button>
                      </div>
                      <div>
                        <button
                          mat-icon-button
                          class="action-icon"
                          aria-label="close"
                        >
                          <i
                            aria-hidden="true"
                            class="fa-light fa-times icon-fill s-18"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div
                    fxLayout="row wrap"
                    fxLayoutAlign="start center"
                    class="mb-16"
                  >
                    <span
                      tabindex="0"
                      aria-label="Theme: Pain, Pharmacology"
                      class="primary-fg"
                      >Theme: Pain, Pharmacology</span
                    >
                    <span class="dot"></span>
                    <span
                      tabindex="0"
                      aria-label="Knowledge: Begginer"
                      class="primary-fg"
                      >Knowledge: Begginer</span
                    >
                    <span class="dot"></span>
                    <span
                      tabindex="0"
                      aria-label="Skills: Intermediate"
                      class="primary-fg"
                      >Skills: Intermediate</span
                    >
                    <span class="dot"></span>
                    <span
                      tabindex="0"
                      aria-label="Attitude: Master"
                      class="primary-fg"
                      >Attitude: Master</span
                    >
                  </div>
                  <div fxLayout="column" class="mb-16">
                    <mat-chip-list>
                      <mat-chip
                        class="orange-bg"
                        fontColor
                        tabindex="0"
                        aria-label="top five"
                        >Top Five</mat-chip
                      >
                      <mat-chip
                        class="red-bg"
                        fontColor
                        tabindex="0"
                        aria-label="Need review"
                        >Need review
                      </mat-chip>
                    </mat-chip-list>
                  </div>
                  <div fxLayout="column" class="mb-16">
                    <a tabindex="0" aria-label="View document">View document</a>
                  </div>
                  <div class="border-bottom"></div>
                </div>
                <div class="px-16 pb-16">
                  <div
                    fxLayout="row"
                    fxLayoutAlign="space-between start"
                    class="mb-16"
                  >
                    <span
                      id="text_02"
                      tabindex="0"
                      class="pr-16 truncate-with-hover"
                      [tooltip]="content_text_02"
                      [attr.aria-label]="content_text_02"
                      [display]="isTextOverflow('text_02')"
                      >{{ content_text_02 }}
                    </span>
                    <div fxLayout="row">
                      <div class="mr-8">
                        <button
                          mat-icon-button
                          class="action-icon"
                          aria-label="edit"
                        >
                          <i
                            aria-hidden="true"
                            class="fa-light fa-pen icon-fill s-18"
                          ></i>
                        </button>
                      </div>
                      <div>
                        <button
                          mat-icon-button
                          class="action-icon"
                          aria-label="close"
                        >
                          <i
                            aria-hidden="true"
                            class="fa-light fa-times icon-fill s-18"
                          ></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div
                    fxLayout="row wrap"
                    fxLayoutAlign="start center"
                    class="mb-16"
                  >
                    <span
                      tabindex="0"
                      aria-label="Theme: Pain, Pharmacology"
                      class="primary-fg"
                      >Theme: Pain, Pharmacology</span
                    >
                    <span class="dot"></span>
                    <span
                      tabindex="0"
                      aria-label="Knowledge: Begginer"
                      class="primary-fg"
                      >Knowledge: Begginer</span
                    >
                    <span class="dot"></span>
                    <span
                      tabindex="0"
                      aria-label="Skills: Intermediate"
                      class="primary-fg"
                      >Skills: Intermediate</span
                    >
                    <span class="dot"></span>
                    <span
                      tabindex="0"
                      aria-label="Attitude: Master"
                      class="primary-fg"
                      >Attitude: Master</span
                    >
                  </div>
                  <div fxLayout="column" class="mb-16">
                    <mat-chip-list>
                      <mat-chip
                        class="orange-bg"
                        fontColor
                        tabindex="0"
                        aria-label="top five"
                        >Top Five</mat-chip
                      >
                    </mat-chip-list>
                  </div>
                  <div fxLayout="column">
                    <a tabindex="0" aria-label="View document">View document</a>
                  </div>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-card>

        <mat-card
          class="card-header-title py-8 pr-8 mx-0 pl-16 w-100-p mb-16"
          tabindex="0"
          aria-label="CAPTE card"
        >
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
            <h2
              class="text-capitalize brown-heading font-weight-600"
              tabindex="0"
              aria-label="heading ARC PA"
            >
              ARC PA
            </h2>
            <button
              mat-icon-button
              class="icon-fill-bg"
              aria-label="Add ARC PA"
            >
              <i
                aria-hidden="true"
                class="fa-light fa-plus fuse-white-fg s-18"
              ></i>
            </button>
          </div>
        </mat-card>

        <mat-card
          class="card-header-title py-8 pr-8 mx-0 pl-16 w-100-p mb-16"
          tabindex="0"
          aria-label="CAPTE card"
        >
          <div fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
            <h2
              class="text-capitalize brown-heading font-weight-600"
              tabindex="0"
              aria-label="heading Blooms"
            >
              Blooms
            </h2>
            <button
              mat-icon-button
              class="icon-fill-bg"
              aria-label="Add Blooms"
            >
              <i
                aria-hidden="true"
                class="fa-light fa-plus fuse-white-fg s-18"
              ></i>
            </button>
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
