@import 'init';

#plan-maaping-demo {
  fuse-sidebar {
    &.sidebar-resizable {
      width: 40vw;
      max-width: 70vw;
      @include media-breakpoint('sm') {
        width: 96vw !important;
        max-width: 96vw !important;
        border-right: none !important;
        height: 100% !important;
      }
      @include media-breakpoint('lt-sm') {
        width: 100vw !important;
        max-width: 100vw !important;
        border-right: none !important;
        height: 100% !important;
      }
    }
  }
}
