<div id="zhealthcare-file-viewer-examples" class="p-24">
  <div class="mat-title">zhealthcare File Viewer Examples</div>

  <!-- @ Regular Sized Avatar With src-->
  <div fxLayout="column" fxLayout.gt-md="row">

    <div class="preview" fxLayout="column" fxLayoutAlign="center" fxFlex="70">
      <div class="mat-caption secondary-text">Regular Sized Avatar With src</div>
      <mat-card>
        <div class="pt-16">
          <zhealthcare-file-viewer [documentConfiguration]="documentConfiguration"></zhealthcare-file-viewer>
        </div>
      </mat-card>
    </div>

    <fuse-highlight lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center" fxFlex="30">
      <textarea #source hidden="hidden">
          <zhealthcare-file-viewer [documentConfiguration]="documentConfiguration">
          </zhealthcare-file-viewer>
              </textarea>
    </fuse-highlight>
  </div>
