<div class="page-layout simple tabbed" fxLayout="column">
  <!-- CONTENT -->
  <div class="content">
     <div id="navigation-tabs-example">
         <div fxLayout="column" fxLayout.gt-md="row">
      
           <div class="preview" fxLayout="column" fxLayoutAlign="start" fxFlex.gt-sm="50" fxFlex="100">
              
            <mat-card class="mt-32">
              <div class="mat-tab-ui">
                <mat-tab-group dynamicHeight="true">

                  <mat-tab label="One">
                  </mat-tab>
            
                  <mat-tab label="Two">
                  </mat-tab>
            
                  <mat-tab label="Three">
                  </mat-tab>
  
                  <mat-tab label="Four">
                  </mat-tab>
  
                  <mat-tab label="Five">
                  </mat-tab>
  
                  <mat-tab label="Six">
                  </mat-tab>
            
                  <mat-tab label="Seven">
                  </mat-tab>
  
                  <mat-tab label="Eight">
                  </mat-tab>
  
                  <mat-tab label="Nine">
                  </mat-tab>
                
                
                </mat-tab-group>
            </div>
            </mat-card>
           </div>
    
     
           <fuse-highlight lang="html" class="source-code" fxLayout="column" fxLayoutAlign="center" fxFlex.gt-sm="50" fxFlex="100"> 
            <textarea #source hidden="hidden">
                  <div class="mat-tab-ui">
                    <mat-tab-group dynamicHeight="true">

                      <mat-tab label="One">
                      </mat-tab>
                
                      <mat-tab label="Two">
                      </mat-tab>
                
                      <mat-tab label="Three">
                      </mat-tab>

                      <mat-tab label="Four">
                      </mat-tab>

                      <mat-tab label="Five">
                      </mat-tab>
                    
                    </mat-tab-group>
                  </div>

            </textarea>
           </fuse-highlight>
      
         </div>
     </div>
  </div>
</div>


