@import 'init';

#scrollable_form_sidebar {
  &.content {
    // For Mobile Screen
    @include media-breakpoint('lt-sm') {
      height: calc(100vh - 160px);
    }

    // For Tablet Screen
    @include media-breakpoint('sm') {
      height: calc(100vh - 160px);
    }

    // For Bigger Screen Than Tablet
    @include media-breakpoint('gt-sm') {
      height: calc(100vh - 160px);
    }

    // For Bigger Screen Small Laptop
    @include media-breakpoint('gt-md') {
      height: calc(100vh - 160px);
    }
  }
}
