@import 'init';

:host {
  #chips-demo {
    mat-icon {
      cursor: pointer;
    }

    .mat-title {
      margin-bottom: 0 !important;
      @include media-breakpoint('lt-sm') {
        margin-bottom: 8px !important;
      }
    }
  }
}
