<div class="page-layout carded left-sidebar">
    <div fxLayout="column" class="w-100-p">
        <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="p-16">
            <h2 class="primary-fg">Layout with secondary list and no Right sidebar</h2>
            <button mat-button class="primary" (click)="openDialog()">Click for HTML</button>
        </div>

        <div fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-16 h-100 blue-800-bg mb-16">
                <span class="font-16 font-weight-600 fuse-white-fg"> Header with headings </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class=" p-16 h-50 blue-800-bg mb-16">
                <span class="font-16 font-weight-600 fuse-white-fg"> Header with tabs </span>
            </div>
        </div>
  
      <div fxLayout="row" class="h-100-p">
        <fuse-sidebar class="sidebar" name="carded-left-sidebar-tabbed-2"
          position="left" lockedOpen="gt-md" fxFlex.gt-md="20">
          <div class="content pink-bg h-100-p" fusePerfectScrollbar>
            <div fxLayout="row" fxLayoutAlign="center start" class="pt-32">
                <span class="font-16 font-weight-600 fuse-white-fg">Sidebar with 20 % width</span>
            </div>
          </div>
          <!-- / SIDEBAR CONTENT -->
        </fuse-sidebar>
        <!-- // fuse SIDEBAR -->
  
        <!-- CENTER -->
        <div class="center ml-lg-16 h-100-p" fxFlex.gt-md="80" fxFlex="100" fxLayout="column">
          
            <div fxLayout="row" fxLayoutAlign="space-between center" fxHide.gt-md>
                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                (click)="toggleSidebar('carded-left-sidebar-tabbed-2')">
                <mat-icon>menu</mat-icon>
                </button>
                <div fxHide.gt-sm>
                    <button mat-icon-button [matMenuTriggerFor]="card20Menu" aria-label="more" >
                        <mat-icon>more_vert</mat-icon>
                    </button>

                    <mat-menu #card20Menu="matMenu" class="purple-800-bg">
                        <div fxLayout="row" fxLayoutAlign="center start" class="pt-32 px-16  element-height">
                            <span class="font-16 font-weight-600 fuse-white-fg"> secondary list</span>
                        </div>
                    </mat-menu>
                </div>
            </div>
  
          <div class="content" class="w-100-p">
            <div fxLayout="row wrap" fxFlex="100">
                <div class="pr-md-16 pb-16" fxFlex.gt-sm="20"  fxFlex="100"  fxHide.sm fxHide.xs>
                    <div fxLayout="row" fxLayoutAlign="center start" class="pt-32 px-16 purple-800-bg element-height">
                        <span class="font-16 font-weight-600 fuse-white-fg"> Secondary list</span>
                    </div>
                </div>
                <div fxFlex.gt-sm="80" fxLayout="row"  fxFlex="100">
                    <div fxLayout="row" fxLayoutAlign="center start" class="pt-32 px-16 purple-bg element-height" fxFlex="100">
                        <span class="font-16 font-weight-600 fuse-white-fg">Page content</span>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>
  
  
  