<!-- @ Card With Header Title -->
<div fxLayout="column">
  <div fxLayout="column" fxLayout.gt-md="row">
    <div class="preview" fxLayout="column" fxLayoutAlign="start start" fxFlex="50" class="pr-16 mb-16">
      <div class="mat-caption secondary-text pb-8 pl-xs-16" tabindex="0" aria-label="Checkbox row example">
        Checkbox row example
      </div>
      <mat-card>
        <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100">
          <div fxLayout="row" fxLayoutAlign="start start" fxFlex="25" fxFlex.lt-sm="100" class="mb-8 pr-20">
            <mat-checkbox>Lorem ipsum dolor sit amet</mat-checkbox>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" fxFlex="25" fxFlex.lt-sm="100" class="mb-8 pr-20">
            <mat-checkbox>Lorem ipsum dolor sit amet</mat-checkbox>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" fxFlex="25" fxFlex.lt-sm="100" class="mb-8 pr-20">
            <mat-checkbox>Lorem ipsum dolor sit amet</mat-checkbox>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start" fxFlex="25" fxFlex.lt-sm="100" class="mb-8 pr-20">
            <mat-checkbox>Lorem ipsum dolor sit amet Lorem ipsum dolor sit
              amet</mat-checkbox>
          </div>
        </div>
      </mat-card>
    </div>

    <fuse-highlight lang="html" class="source-code mb-16">
      <textarea #source hidden="hidden">
          <mat-card>
            <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex="100">
              <div
                fxLayout="row"
                fxLayoutAlign="start start"
                fxFlex="25"
                fxFlex.lt-sm="100"
                class="mb-8 pr-20"
              >
                <mat-checkbox>Lorem ipsum dolor sit amet</mat-checkbox>
              </div>
              <div
                fxLayout="row"
                fxLayoutAlign="start start"
                fxFlex="25"
                fxFlex.lt-sm="100"
                class="mb-8 pr-20"
              >
                <mat-checkbox>Lorem ipsum dolor sit amet</mat-checkbox>
              </div>
              <div
                fxLayout="row"
                fxLayoutAlign="start start"
                fxFlex="25"
                fxFlex.lt-sm="100"
                class="mb-8 pr-20"
              >
                <mat-checkbox>Lorem ipsum dolor sit amet</mat-checkbox>
              </div>
              <div
                fxLayout="row"
                fxLayoutAlign="start start"
                fxFlex="25"
                fxFlex.lt-sm="100"
                class="mb-8 pr-20"
              >
                <mat-checkbox
                  >Lorem ipsum dolor sit amet Lorem ipsum dolor sit
                  amet</mat-checkbox
                >
              </div>
            </div>
          </mat-card>
      </textarea>
    </fuse-highlight>
  </div>
</div>