<mat-dialog-content class="margin-auto dialog-box-spacing">
  <div fxLayout="column">
    <div fxLayout="column" class="mb-24">
      <span class="mb-12 font-14 font-weight-600">Heading</span>
      <div fxLayout="column">
        <mat-checkbox class="mb-8">Class of 2017</mat-checkbox>
        <mat-checkbox class="mb-8">Class of 2018</mat-checkbox>
        <mat-checkbox class="mb-8">Class of 2019</mat-checkbox>
        <mat-checkbox class="mb-8">Class of 2020</mat-checkbox>
        <mat-checkbox class="mb-8">Pediatric special</mat-checkbox>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button
        mat-stroked-button
        mat-dialog-close
        color="primary"
        class=" mr-8"
        aria-label="Cancel"
      >
        Cancel
      </button>
      <button
        mat-flat-button
        mat-dialog-close
        color="primary"
        class=""
        aria-label="Delete"
      >
        Done
      </button>
    </div>
  </div>
</mat-dialog-content>
