<div
  class="page-layout simple tabbed full-width-page"
  fxLayout="column"
  id="zhealthcare-navigation"
>
  <div class="center pl-0 pr-0">
    <div class="gray-header mb-16">
      <div fxLayout="row wrap" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <div class="mr-8">
            <button
              mat-icon-button
              aria-label="Click to go back"
              routerLink="/admin/ux/ui/zhealthcare-component-library"
            >
              <i aria-hidden="true" class="fa-light fa-arrow-left-long"></i>
            </button>
          </div>
          <div class="font-20 font-weight-600">Navigation Examples</div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="mt-small-8">
          <fuse-theme-options [view]="'toggle'"></fuse-theme-options>
        </div>
      </div>
    </div>

    <div class="mt-16">
      <navbar></navbar>
    </div>

    <div class="mt-16">
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
      <div class="mt-16" fxLayout="column" fxLayout.gt-md="row">
        <div
          class="preview"
          fxLayout="column"
          fxLayoutAlign="start"
          fxFlex="48"
        >
          <p class="warn-fg font-16" aria-l>Note from UI Team</p>
          <p class="warn-fg font-14">
            Developers are requested not to make any extra self made Class or
            write hardcode CSS or add Colors. Since we are following MULTI
            theme, Theme will break if Material theme structure and guidlines
            are not followed properly.
          </p>
          <strong>Connect To UI team for any such cases.</strong>
        </div>
      </div>
    </div>
  </div>
</div>
