<mat-dialog-content>
  
  <fuse-highlight lang="html" class="" fxLayout="column" fxLayoutAlign="start start" fxFlex="100">
    <textarea #source >

        <div class="page-layout carded left-sidebar">
          <div fxLayout="column" class="w-100-p">
            <div fxLayout="column" fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center" class="mb-16">
                    <span> navigation</span>
                </div> 
                <div fxLayout="row" fxLayoutAlign="space-between center" class="mb-16">
                    <span> Header buttons</span>
                </div>
            </div>
          <div class="center w-100-p">
            <div class="content" fxFlex="100">
                  <div fxLayout="column" fxFlex="100">
                    <div fxFlex="100" fxLayoutAlign="start start">
                        <span>search bar </span>
                    </div>
                    <div fxFlex="100" fxLayoutAlign="start start" >
                        <span>Table or page content</span>
                    </div>
                  </div>
            </div>
          </div>
          </div>
        </div>

    </textarea>
  </fuse-highlight>
         
</mat-dialog-content>
