@mixin profile-theme($theme) {

  $is-dark: map-get($theme, is-dark);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

.content{
  position: relative;

  .mat-list{
    a{
      .mat-list-item{
        // margin-bottom: 8px;
        &:hover{
            cursor: pointer;
          @if ($is-dark) {
            background-color: map-get($background, background);
                  } @else {
            background-color:whitesmoke;
                  }
        }
      }
     
    }
  }

}


}

.no-space {
  width: 100%;
  border-radius: 0px;
}




