<div class="content table-rounded-border white-background">
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100-p">
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex.lt-md="100">
        <div class="search-wrapper" fxFlex="100">
          <div
            class="search table-search"
            fxFlex
            fxLayout="row"
            fxLayoutAlign="start center"
          >
            <i aria-hidden="true" class="fa-light fa-magnifying-glass s-18"></i>
            <input type="text" placeholder="Search in 50 student" fxFlex />
          </div>
        </div>
      </div>

      <div fxLayout="row" fxLayoutAlign="end center">
        <div
          fxLayout="row"
          fxLayoutAlign="end center"
          class="border-right h-48 pr-16"
          fxHide.lt-md
        >
          <button
            mat-stroked-button
            color="primary"
            class="mr-12"
            aria-label="Add action 1"
          >
            <i aria-hidden="true" class="fa-light fa-plus s-16"></i>
            <span class="ml-4">Add action 1</span>
          </button>
          <button mat-stroked-button color="primary" aria-label="Add action 2">
            <i aria-hidden="true" class="fa-light fa-plus s-16"></i>
            <span class="ml-4">Add action 2</span>
          </button>
        </div>
        <div fxLayout="row" class="mr-16 ml-8">
          <button
            tabindex="0"
            aria-label="Export Table"
            mat-icon-button
            class="ml-8"
            fxHide.lt-md
          >
            <i aria-hidden="true" class="fa-light fa-file-export s-18"></i>
          </button>

          <button
            tabindex="0"
            aria-label="Edit Columns"
            mat-icon-button
            class="ml-4"
            fxHide.lt-md
          >
            <i aria-hidden="true" class="fa-light fa-wrench s-18"></i>
          </button>

          <button
            tabindex="0"
            aria-label="Expand Table"
            mat-icon-button
            class="ml-4"
            fxHide.lt-md
          >
            <i aria-hidden="true" class="fa-light fa-expand s-18"></i>
          </button>

          <button
            mat-icon-button
            class="ml-4 filter-icon-button"
            aria-label="filters"
          >
            <div fxLayout="row" fxLayoutAlign="start center">
              <i aria-hidden="true" class="fal fa-filter s-18 mr-4"></i>
              <span> 12 </span>
            </div>
          </button>

          <button
            tabindex="0"
            aria-label="mat menu"
            mat-icon-button
            [matMenuTriggerFor]="menu"
            class="ml-4"
            fxHide.gt-sm
          >
            <i aria-hidden="true" class="fal fa-ellipsis-h s-18"></i>
          </button>
          <mat-menu #menu="matMenu" fxHide.gt-sm>
            <button mat-menu-item aria-label="Action 1">
              <i aria-hidden="true" class="fa-light fa-plus s-18 mr-8"></i
              >Action 1
            </button>
            <button mat-menu-item aria-label="Action 2">
              <i aria-hidden="true" class="fa-light fa-plus s-18 mr-8"></i
              >Action 2
            </button>
            <button mat-menu-item aria-label="Edit Columns">
              <i aria-hidden="true" class="fa-light fa-wrench s-18 mr-8"></i
              >Edit columns
            </button>
            <button mat-menu-item aria-label="Export file">
              <i
                aria-hidden="true"
                class="fa-light fa-file-export s-18 mr-8"
              ></i
              >Export file
            </button>
          </mat-menu>
        </div>
      </div>
    </div>

    <div
      class="result-found-style w-100-p"
      tabindex="0"
      aria-label="2 search results found"
    >
      2 Results Found
    </div>
  </div>

  <div
    class="overflow-auto hide-scroll"
    tabindex="0"
    [style.height.px]="
      _headerService.scrollContentheight -
      ((_stickyTableHeaderLayoutService.container_header_height$ | async) +
        (_stickyTableHeaderLayoutService.conditional_content_height$ | async) +
        19)
    "
  >
    <table
      aria-label="This is a staff table"
      mat-table
      matSort
      [dataSource]="dataSourceRight"
      class="w-100-p exxat-table pt-0"
    >
      <!-- checkbox Column -->
      <ng-container matColumnDef="checkbox">
        <th
          tabindex="0"
          aria-label="checkbox"
          class="pl-16 checkbox-column"
          mat-header-cell
          *matHeaderCellDef
        >
          <mat-checkbox></mat-checkbox>
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="pl-16 checkbox-column"
          tabindex="0"
          aria-label="checkbox"
        >
          <mat-checkbox></mat-checkbox>
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Staff Name</th>
        <td mat-cell *matCellDef="let element">Last Name, First Name 1</td>
      </ng-container>

      <!-- email Column -->
      <ng-container matColumnDef="email">
        <th class="pl-16" mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element" class="pl-16">
          name1@gmail.com
        </td>
      </ng-container>

      <!-- Roles Column -->
      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef>Roles</th>
        <td mat-cell *matCellDef="let element">Role 1, Role 2, Role 3</td>
      </ng-container>

      <!-- lastLogged Column -->
      <ng-container matColumnDef="lastLogged">
        <th mat-header-cell *matHeaderCellDef>Last logged in</th>
        <td mat-cell *matCellDef="let element">Jul 17th, 2020</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">Active</td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button class="action-icon" aria-label="edit button">
            <i aria-hidden="true" class="fa-light fa-pen icon-fill s-18"></i>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="30"
    class="mat-paginator-sticky bt bx bb"
  ></mat-paginator>
</div>
