<div class="page-layout full-width" class="w-100-p error-pages">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxFlex="100"
    class="px-xs-16"
  >
    <div class="error-code">500</div>
    <span class="mb-24 error-desc">Well, you broke the internet!</span>
    <span class="primary-fg text-center"
      >Just kidding, looks like we have an internal issue, please try
      again</span
    >
    <span class="primary-fg mb-56 text-center">in couple of minutes.</span>
    <button mat-stroked-button color="primary" aria-label="Report this problem">
      Report this problem
    </button>
  </div>
</div>
