<div class="page-layout carded fullwidth inner-scroll">

  <div class="center">
    <div class="content p-16 h-100-p" fusePerfectScrollbar fxlayout="column" fxLayoutAlign="center center">
        <div fxFlex="100%" fxFlex.gt-sm="60">
          <div fxlayout="column wrap" fxLayoutAlign="center center">
            <span class="font-20">Thank you, <span class="font-weight-600">User</span> you have successfully make the payment.</span>
          </div>
          <div class="pt-16">
            
          </div>
        </div>
    </div>
  </div>
</div>